<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Konsep Note</title>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .text{
            color: #4285f4;
        }
        .text-name{
            color: #85888b;
        }
    </style>
</head>
<body>
<section layout:fragment="main" class="content">
    <div class="row">
        <div class="col-md-3 col-xs-12">

        </div>
        <div class="col-md-6 col-xs-12">
            <div style="background-color: white;">
                <div style="width: 300px; height: 40px; background-color: #4285f4; padding-top: 1px; padding-left: 16px;">
                    <h4 style="color: white"><b>Konsep Note</b></h4>
                </div>
                <br>
                <center>
                    <img th:src="@{/images/note.png}" alt="" width="250px" height="200px">
                    <br>
                </center>
                <div class="row" style="padding: 16px;">
                    <div class="col-md-12 col-xs-12">
                        <h5 class="text-name"><b>Nama</b></h5>
                        <h4 class="text"><b><b th:text="${mahasiswa.nama}">Muhammad Hari</b></b></h4>
                        <h5 class="text-name"><b>Nim</b></h5>
                        <h4 class="text"><b th:text="${mahasiswa.nim}">121212121</b></h4>
                        <form th:action="@{/tugasakhir/konsepnote}" method="post" enctype="multipart/form-data" th:object="${note}">
                            <div class="form-group">
                                <label class="text-name">Jenis</label>
                                <select name="jenis" th:field="*{jenis}" id="" class="form-control">
                                    <option value="SKRIPSI">Skripsi</option>
                                    <option value="STUDI_KELAYAKAN">Studi Kelayakan Bisnis</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="text-name">Title / Judul</label>
                                <input type="text" th:field="*{judul}" name="judul" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-name">Title / Judul English</label>
                                <input type="text" th:field="*{judulInggris}" name="judulInggris" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-name">File Konsep Note</label>
                                <input type="file" accept="application/pdf" name="file" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-name">Dosen 1</label>
                                <select name="dosen" th:field="*{dosen}" class="form-control js-example-placeholder-single">
                                    <option value=""></option>
                                    <option th:each="data : ${dosen}"
                                            th:value="${data.id}"
                                            th:text="${data.karyawan.namaKaryawan}"></option>
                                </select>
                            </div>

                            <input type="hidden" name="id" th:field="*{id}">

                            <div class="form-group">
                                <label class="text-name">Dosen 2</label>
                                <select name="dosen2" th:field="*{dosen2}" class="form-control js-example-placeholder-single">
                                    <option value="" class="disabled"></option>
                                    <option th:each="data : ${dosen}"
                                            th:value="${data.id}"
                                            th:text="${data.karyawan.namaKaryawan}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button style="background-color: #4285f4; color: white; border: none; width: 70px; height: 30px;" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12" style="background-color: #4285f4; height: 3px;"></div>

            </div>
        </div>
        <div class="col-md-3 col-xs-12">

        </div>
    </div>
</section>
</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>