<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">list</h5>
                                        <span class="h2 font-weight-bold mb-0">Karyawan </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Data List</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">
                                <a th:href="@{/humanResources/employee/form}"><button class="btn btn-default"><i class="fas fa-plus-circle"></i> Add</button></a>
                            </div>
                            <div class="col-md-6">
                                <form method="get">
                                    <div class="input-group mb-3">
                                        <input type="text" name="search" class="form-control" placeholder="Search" th:value="${search}">
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="submit"><i class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Employee Number</th>
                                    <th scope="col">Employee Name</th>
                                    <th scope="col">Gelar</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col" width="30px"></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="even pointer" th:each="karyawan,row : ${listkaryawan}" >
                                    <td th:text="${karyawan.nik}"></td>
                                    <td th:text="${karyawan.namaKaryawan}">ono</td>
                                    <td th:text="${karyawan.gelar}">sarjana</td>
                                    <td th:text="${karyawan.jenisKelamin}">cowo</td>
                                    <td align="center">
                                        <a href="#" class="btn btn-primary btn-sm" th:href="@{/humanResources/employee/form(id = ${karyawan.id})}" title="edit"><i class="fas fa-edit"></i></a></td>
                                    <td align="center">
                                        <form method="post" th:action="@{/humanResources/employee/delete(id = ${karyawan.id})}">
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                    onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0" sd:pagination="full">
                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>