<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Attendence</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Attendence</h2>
                <div class="clearfix"></div>
            </div>


            <div class="x_content col-md-12">
                <div class="my-12 p-3 bg-white rounded box-shadow">
                    <form method="post" th:action="@{/kebijakanpresensi/detailedit}" th:object="${sesi}">

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Pemberi Kuliah :</label>
                                    <select class="form-control js-example-placeholder-single" th:field="*{dosen}"
                                            style="width: 100%!important;" name="dosen">
                                        <option value=""></option>
                                        <option th:text="${sesi.dosen.karyawan.namaKaryawan}" th:value="${sesi.dosen.id}"></option>
                                        <option th:each="dosen : ${sesi.dosens}" th:text="${dosen.karyawan.namaKaryawan}" th:value="${dosen.id}">sdasd</option>
                                    </select>
                                </div>
                                <input type="hidden" name="id" th:field="*{id}">
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Berita Acara :</label>
                                    <textarea name="beritaAcara" th:field="*{beritaAcara}" class="form-control"></textarea>
                                </div>
                            </div>

                            <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                            <!--<label class="col-form-label">Tanggal :</label>-->
                            <!--<input type="date" name="tanggal" th:field="*{tanggal}" class="form-control date">-->
                            <!--</div>-->
                            <!--</div>-->

                        </div>

                        <div class="col-md-12">


                            <!--<input type="hidden" name="jadwal" th:value="${sesi.id}">-->
                            <!--<input type="hidden" name="tahunAkademik" th:value="${sesi.tahunAkademik.id}">-->

                        </div>
                        <br><br>
                        <center>
                            <button class="btn btn-primary" type="submit">Save</button>
                            <a class="btn btn-primary" th:href="@{/konsentrasi/list}" role="button">
                                <span aria-hidden="true"></span>Cancel
                            </a>
                        </center>
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'HH:mm'
        });
    });

    $(function () {
        $('#datetimepicker2').datetimepicker({
            format: 'HH:mm'
        });
    });
</script>