<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Studies Schedule</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Presensi Dosen & Mahasiswa<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Presensi<small><b></b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <span>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Ruangan</th>
                                    <th>Jam</th>
                                    <th>Matakuliah</th>
                                    <th>Kelas</th>
                                    <th>Hari</th>
                                    <th>SKS</th>
                                    <th>Dosen</th>
                                    <th>Status</th>
                                    <th>Presensi</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="jadwal,row : ${jadwal}">
                                   <td th:text="${row.index + 1}"></td>
                                    <td th:text="${jadwal.jadwal.ruangan.namaRuangan}"></td>
                                    <td><span  th:text="${jadwal.jadwal.jamMulai}"></span> -
                                        <span th:text="${jadwal.jadwal.jamSelesai}"></span></td>
                                    <td th:text="${jadwal.jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                    <td th:text="${jadwal.jadwal.kelas.namaKelas}"></td>
                                    <td><b th:text="${jadwal.jadwal.hari.namaHari}"></b></td>
                                    <td th:text="${jadwal.jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                    <td th:text="${jadwal.jadwal.dosen.karyawan.namaKaryawan}"></td>
                                    <td><b th:text="${jadwal.statusJadwalDosen}"></b></td>
                                    <td>
                                        <a type="button" class="btn btn-primary btn-xs" th:href="@{/kebijakanpresensi/detail (jadwal = ${jadwal.jadwal.id})}">
                                            <i class="fa fa-edit"></i> Tambah Presensi
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </span>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

</script>