<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Presensi Mahasiswa<small>Dosen  -> Matakuliah </small></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12">
                    <form th:action="@{/presensi/save (sesi= ${sesi})}" method="post">
                        <b>Set Semua ke :</b>
                        <select name="statusPresensi">
                        <option th:each="sp : ${statusPresensi}" th:text="${sp}" th:value="${sp}">Absen</option>
                        </select>
                        <button class="btn btn-success btn-xs" type="submit">Set Status</button>
                    </form>
                </div>
                <form th:action="@{/kebijakanpresensi/presensi (jadwal = ${jadwal},sesi = ${sesi})}" method="post" th:object="${presensi}">
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th>
                                </th>
                                <th class="column-title">#</th>
                                <th class="column-title">NIM</th>
                                <th class="column-title">Name</th>
                                <th class="column-title">Status</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="even pointer" th:each="data,row : ${presensi}">
                                <td class="a-center ">
                                </td>
                                <td class="column-title" th:text="${(row.index + 1)}">#</td>
                                <td class="column-title" th:text="${data.mahasiswa.nim}">NIM</td>
                                <td class="column-title" th:text="${data.mahasiswa.nama}">Name</td>
                                <input type="hidden" name="mahasiswa" th:value="${data.mahasiswa.id}">
                                <input type="hidden" name="krsDetail" th:value="${data.krsDetail.id}">
                                <input type="hidden" name="id" th:value="${data.id}">
                                <input type="hidden" name="waktuMasuk" th:value="${data.waktuMasuk}">
                                <input type="hidden" name="waktuKeluar" th:value="${data.waktuKeluar}">
                                <input type="hidden" name="catatan" th:value="${data.catatan}">
                                <input type="hidden" name="rating" th:value="${data.rating}">
                                <input type="hidden" name="status" th:value="${data.status}">
                                <input type="hidden" name="sesiKuliah" th:value="${data.sesiKuliah.id}">
                                <td class="column-title">
                                    <input type="hidden" name="mahasiswa" th:value="${data.mahasiswa.id}">
                                    <select th:name="${data.mahasiswa.nim + 'nim'}">
                                        <option th:each="sp : ${statusPresensi}"
                                                th:text="${sp}" th:value="${sp}"
                                                th:selected="${sp == data.statusPresensi}"></option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <center>
                                <input class="btn btn-success" type="submit" value="Save">
                                <a th:href="@{/kebijakanpresensi/detail (jadwal= ${jadwal})}" class="btn btn-danger" role="button">
                                    <span aria-hidden="true"></span>Cancel
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
                <br>
                <hr>

            </div>
        </div>
</section>
</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>