<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Input Jenjang</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <form>

            <div class="form-group">
                <label>Kode</label>
                <input type="text" class="form-control" placeholder="Kode">
            </div>

            <div class="form-group">
                <label>Nama</label>
                <input type="text" class="form-control" placeholder="Nama">
            </div>

            <div class="form-group">
                <label>Keterangan</label>
                <input type="text" class="form-control" placeholder="Keterangan">
            </div>
            
            <input class="btn btn-primary" type="submit" value="Simpan">
            <a th:href="@{/jenjang/list}" class="btn btn-primary" role="button">
                <span aria-hidden="true"></span>Batal
            </a>
        </form>
    </div>

</section>

</body>
</html>