<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Input Jenjang</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <form method="post" th:action="@{/jenjang/form}" th:object="${jenjang}">

            <div class="form-group">
                <label>Kode</label>
                <input type="text" th:field="*{kodeJenjang}" class="form-control" name="kodeJenjang" placeholder="Kode">
            </div>

            <div class="form-group">
                <label>Nama</label>
                <input type="text" th:field="*{namaJenjang}" class="form-control" name="namaJenjang" placeholder="Nama">
            </div>

            <div class="form-group">
                <label>Keterangan</label>
                <input type="text" class="form-control" th:field="*{keterangan}" name="keterangan" placeholder="Keterangan">
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-responsive">
                        <tr>
                            <td>Tidak Aktif? (NA)</td>
                            <td><input name="na" th:value="'0'" type="checkbox" class="input-group-text"></td>
                            <td><small class="alert-danger">*) Beri centang jika tidak aktif</small></td>
                        </tr>
                        <input type="hidden" name="idLembaga" th:field="*{idJenjang}">
                        <input type="hidden" name="userInsert" th:field="*{userInsert}">
                        <input type="hidden" name="userEdit" th:text="${userEdit}" th:field="*{userEdit}">
                        <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                        <input type="hidden" name="tglEdit" th:text="${tglEdit}" th:field="*{tglEdit}">
                    </table>
                </div>
            
            <input class="btn btn-primary" type="submit" value="Simpan">
            <a th:href="@{/jenjang/list}" class="btn btn-primary" role="button">
                <span aria-hidden="true"></span>Batal
            </a>
    </div>
        </form>
    </div>

</section>

</body>
</html>