<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Jenjang Form<small>Insert & Update Jenjang
                </small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <form method="post" th:action="@{/jenjang/form}">

                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" name="Code" placeholder="Code">
                    </div>

                    <div class="form-group">
                        <label>Jenjang Name</label>
                        <input type="text" class="form-control" name="Jenjang Name" placeholder="Jenjang Name">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="keterangan" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Status</label><br>
                        <label>
                            <input name="status" type="checkbox" value="AKTIF" class="js-switch" />
                        </label >
                    </div>

                    <div class="form-group">

                    <input class="btn btn-primary" type="submit" value="Save">
                    <a th:href="@{/jenjang/list}" class="btn btn-primary" role="button">
                        <span aria-hidden="true"></span>Cancel
                    </a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>

</body>
</html>