<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Jenjang
                    <small>List</small>
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <table width="100%">
                    <tr>
                        <td>
                            <a th:href="@{/jenjang/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                        </td>
                        <td align="right">
                            <div class="title_right">
                                <form method="get">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:value="${search}" name="search" placeholder="Search by Jenjang Name">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Search</button>
                                         </span>
                                    </div>
                                    <div>
                                        Show <span sd:page-size-selector="javascript"></span> entries
                                    </div>
                                </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">#</th>
                            <th class="column-title">NA</th>
                            <th class="column-title">Code</th>
                            <th class="column-title">Name</th>
                            <th class="column-title">Description</th>
                            <th colspan="2" class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer" th:each="data,row : ${list}">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td th:text="${(row.index + 1) + (list.number * list.size)}">1</td>
                            <td>
                                <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.status.AKTIF} == ${data.status}">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;"></i>
                                </span>
                                <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.status.NONAKTIF} == ${data.status}">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;color:black;"></i>
                                </span>
                            </td>
                            <td th:text="${data.kodeJenjang}">May 23, 2014 11:47:56 PM </td>
                            <td th:text="${data.namaJenjang}">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                            <td th:text="${data.keterangan}">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                            <td>
                                <a th:href="@{/jenjang/form(id = ${data.id})}" class="btn btn-success btn-sm" title="edit">Edit</a>
                            </td>
                            <td>
                            <form method="post">
                                <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                    ' to recover this imaginary file!')">
                                    <i class="ti-eraser"></i>  Delete
                                </button>
                            </form>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-8">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

</body>
</html>