<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        .text-legal{
            color:#eee;
        }
        .text-size{
            font-size: 20px;
        }
        .background-color{
            background-color: coral;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 20px;
        }
        .background-color-top{
            background-color: #0a5a8c;
            border-end-end-radius: 10px;
            border-end-start-radius: 10px;
            height: 20px;
        }
        .background{
            border-style: solid;
            border-color: black;
        }
        .table.table-bordered{
            border: 2px solid black!important;
        }
        table.table-bordered > thead > tr > th{
            border: 2px solid black!important;
        }
        table.table-bordered > tbody > tr > td{
            border: 2px solid black!important;
        }
    </style>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body onLoad="setTimeout('closemyself()',3000);" >
<div id="content">
    <div class="row">
        <div class="col-md-6">
            <div class="background-color-top">
                <center>

                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <center>
                    <div class="background">
                        <center>
                            IAI/FM/ACD/28.6
                        </center>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 col-xs-3">
                    <div class="container">
                        <img th:src="@{/images/logo.png}" width="100px" height="90px" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-xs-8">
                    <center>
                        <h4><b>Kartu Ujian</b></h4>
                        <h4><b>2019/2020 Semester Ganjil</b></h4>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <table>
                    <tr>
                        <td><i class="text-size">Nama</i> </td>
                        <td class="text-size">&nbsp &nbsp &nbsp &nbsp :</td>
                        <td class="text-size">&nbsp &nbsp &nbsp <span th:text="${mahasiswa.nama}"></span></td>
                    </tr>
                    <tr>
                        <td><i class="text-size">NIM</i> </td>
                        <td class="text-size">&nbsp &nbsp &nbsp &nbsp :</td>
                        <td class="text-size">&nbsp &nbsp &nbsp <span th:text="${mahasiswa.nim}"></span></td>
                    </tr>
                    <tr>
                        <td><i class="text-size">Prodi</i> </td>
                        <td class="text-size">&nbsp &nbsp &nbsp &nbsp :</td>
                        <td class="text-size">&nbsp &nbsp &nbsp <span th:text="${mahasiswa.idProdi.namaProdi}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin:  10px 10px 10px 10px;">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-size">No.</th>
                            <th class="text-size">UTS ID</th>
                            <th class="text-size">Mata Kuliah</th>
                            <th class="text-size">Keterangan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data,row : ${kartu}">
                            <td class="text-size" th:text="${row.index + 1}">1</td>
                            <td class="text-size" th:text="${data.idUjian}">51679</td>
                            <td class="text-size" th:text="${data.matakuliah}">Student Dynamic Session</td>
                            <td class="text-size"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <center>
                    <p class="text-size" th:text="${'BOGOR, '+ tanggal + ' ' + bulan + ' ' + tahun}">Bogor, 09 Oktober 2019</p>
                </center>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <center>
                    <h5 class="text-legal"><b class="text-size" th:text="${mahasiswa.nim}">16102045</b></h5>
                    <h5><b class="text-size">Hera Herdiansyah, S.E, M.E.</b></h5>
                    <h6><b class="text-size">Kepala Bagian Akademik</b></h6>
                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="background-color">

            </div>
        </div>
    </div>
</div>

<style type="text/css">
    @page
    {

        size: auto;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    @media print {
        #printbtn {
            display :  none;
        }
    }
</style>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script>
    function printpage()
    {
        window.print()
    }

    var doc = new jsPDF('p','pt','letter');
    var content = $('#content');
    doc.addHTML(document.body,function() {
        doc.save('sample-file.pdf');
    });

</script>

<script language=javascript>
    function closemyself() {
        window.opener=self;
        window.close();
        self.close();
    }
</script>
</html>