<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>KRS</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Study Card Plan<small>List</small></h2>
                <div class="clearfix"></div>
            </div>


            <form method="get">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>NIM :</label>
                                    <input type="text" name="nim"
                                           class="form-control" required
                                           placeholder="NIM" th:value="${nim}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <label>Academic Years :</label>
                                <select class="form-control js-example-placeholder-single"
                                        style="width: 100%!important;" name="tahunAkademik" required>
                                    <option></option>
                                    <option th:each="data : ${tahunAkademik}"
                                            th:selected="(${data} == *{tahun})"
                                            th:text="${data.namaTahunAkademik}"
                                            th:value="${data.id}">sdasd</option>
                                </select>
                                </div>
                            </div>
                    </div>
                    <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:if="${krsAktif != null }">
                        Add KRS
                    </button>
                </div>
            </form>

            <hr>

            <div th:if="${detail != null}">
                <Center>
                    <H2 th:if="${krs != null}" th:text="${krs.tahunAkademik.namaTahunAkademik}"></H2>
                </Center>
            </div>
            <table class="table table-striped jambo_table bulk_action" width="100%" th:if="${detail != null}">
                <tr>
                    <td>Nama : <span th:text="${mahasiswa.nama}"></span></td>
                    <td th:if="${mahasiswa.dosen != null}">
                        Pemb Akd : <span th:text="${mahasiswa.dosen.karyawan.namaKaryawan}"></span>
                    </td>
                    <td th:if="${mahasiswa.dosen == null}">
                        Pemb Akd : </td>
                </tr>
                <tr>
                    <td>NIM &nbsp;&nbsp; : <span th:text="${mahasiswa.nim}"></span></td>
                    <td>Studi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                        <span th:text="${mahasiswa.idProdi.namaProdi + ' , ' + mahasiswa.idProdi.idJurusan.namaJurusan + ' , ' + mahasiswa.idProdi.idJurusan.idFakultas.namaFakultas}"></span>
                    </td>
                </tr>
            </table>


            <div class="x_content" th:if="${detail != null}">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">#</th>
                            <th class="column-title">Code</th>
                            <th class="column-title">Day</th>
                            <th class="column-title">Time</th>
                            <th class="column-title">Subject</th>
                            <th class="column-title">SKS</th>
                            <th class="column-title">Class</th>
                            <th class="column-title">Room</th>
                            <th class="column-title">Lecture</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer" th:each="data,row : ${detail}">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td th:text="${(row.index + 1)}">1</td>
                            <td th:text="${data.jadwal.matakuliahKurikulum.matakuliah.kodeMatakuliah}"></td>
                            <td th:text="${data.jadwal.idHari.namaHariEng}"></td>
                            <td th:text="${data.jadwal.jamMulai + ' - ' + data.jadwal.jamSelesai}"></td>
                            <td th:text="${data.jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}">Pengantar Akuntansi 1</td>
                            <td th:text="${data.matakuliahKurikulum.jumlahSks}">3</td>
                            <td th:text="${data.jadwal.idKelas.namaKelas}">AI-A-15</td>
                            <td th:text="${data.jadwal.ruangan.namaRuangan}">1.6</td>
                            <td th:text="${data.jadwal.dosen.karyawan.namaKaryawan}">Dewi Febriani</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:if="${mahasiswa != null}">
        <form th:action="@{/krs/prosesKrs (mahasiswa = ${mahasiswa.id})}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">KRS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Krs List<small></small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="x_content">

                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>#</th>
                                        <th>Subject</th>
                                        <th>Lecture</th>
                                        <th>Class</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="even pointer" th:each="jadwal,row : ${jadwal}">
                                        <td class="a-center ">
                                            <input type="checkbox" th:value="${jadwal.id}" class="single-checkbox" name="data" th:if="${tahun.jenis.PENDEK} == ${tahun.jenis}">
                                            <input type="checkbox" th:value="${jadwal.id}" class="flat" name="data" th:if="${tahun.jenis.GANJIL} == ${tahun.jenis}">
                                            <input type="checkbox" th:value="${jadwal.id}" class="flat" name="data" th:if="${tahun.jenis.GENAP} == ${tahun.jenis}">
                                        </td>
                                        <td class="column-title" th:text="${row.index + 1}">#</td>
                                        <td class="column-title" th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}">Subject</td>
                                        <td class="column-title" th:text="${jadwal.dosen.karyawan.namaKaryawan}">Lecture</td>
                                        <td class="column-title" th:text="${jadwal.idKelas.namaKelas}">Lecture</td>
                                    </tr>
                                    </tbody>
                                </table>


                                <!--<div class="alert fade in" th:if="${batasRuang != null}">-->
                                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                                    <!--<h4>Maaf</h4>-->
                                    <!--<p th:text="${'Matakuliah ' + batasRuang.matakuliahKurikulum.matakuliah.namaMatakuliah + ' telah terisi penuh silah cari lagi matakuliah yang lain'}"></p>-->
                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary sweet">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>