<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>KRS Paket</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ploting KRS<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <form method="post" th:action="@{/krs/paket}">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">
                        <div class="col-md-12">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <center><label><b>Kelas</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="kelas">
                                        <option></option>
                                        <option th:each="data : ${kelas}" th:selected="(${data} == *{selected})"
                                                th:text="${data.namaKelas}" th:value="${data.id}"></option>

                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Generate KRS</button>
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <br>
            <hr>

            <span th:if="${selected != null}">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Generate KRS<small><b></b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <div>
                                <!--Show <span sd:page-size-selector="javascript"></span> entries-->
                            </div>
                            <br>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>NIM</th>
                                    <th>Nama</th>
                                    <th>Kelas</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="data,row : ${mahasiswaList}" th:if="${kosong == null}">
                                      <td th:text="${(row.index + 1)}"></td>
                                      <td th:text="${data.nim}">Edinburgh</td>
                                      <td th:text="${data.nama}">61</td>
                                      <td th:text="${data.kelas}">61</td>
                                      <td></td>
                                    </tr>

                                    <tr th:if="${kosong != null}">
                                        <td colspan="4">Tidak Ada Mahasiswa yang terdaftar di kelas</td>
                                    </tr>
                                  </tbody>
                            </table>

                        </div>


                    </div>
                </div>
            </div>
            </span>
        </div>
    </div>
</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    (function($){
        $('#select2-kelas').select2();

        $('#select2-kelas').on('select2:selecting', function(e) {
            console.log('Selecting: ' , e.params.args.data.id);
            $('#isiPlotKelas').val(e.params.args.data.id);
        });
    })(jQuery);

    function myKelas() {
        let dropdown = $('#locality-dropdown');

        dropdown.empty();

        dropdown.append('<option selected="true" disabled>Pilih Sesi</option>');
        dropdown.prop('selectedIndex', 0);
        console.log($('#isiKelas').val())
        const url = '/api/plotingMatkul?id='+$('#isiPlotKelas').val();

        // Populate dropdown with list of provinces
        $.getJSON(url, function (data) {

            $.each(data, function (key, entry) {
                dropdown.append($('<option></option>').attr('value', entry.id).text(entry.matakuliah));
            })
        });
    }

    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>