<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Input Gedung</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">



        <form method="post" th:action="@{/gedung/form}">

            <div class="form-group">
                <div class="col-sm-12">
                    <label>Pilih Kampus</label>
                    <select onchange="" style="width: 1050px;" class="form-control js-example-placeholder-single"
                            id="kampus"
                            name="idKampus">
                        <option></option>
                        <option th:each="data : ${kampus}"
                                th:value="${data.idKampus}"
                                th:text="${data.namaKampus}">STEI TAZKIA SENTUL
                        </option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label>Nama Gedung</label>
                    <input type="text" class="form-control" placeholder="Nama Gedung" name="namaGedung">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label>Keterangan</label>
                    <input type="text" class="form-control" placeholder="Keterangan" name="keterangan">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-responsive">
                        <tr>
                            <td>Tidak Aktif? (NA)</td>
                            <td><input name="na" th:value="'0'" type="checkbox" class="input-group-text"></td>
                            <td><small class="alert-danger">*) Beri centang jika tidak aktif</small></td>
                        </tr>
                    </table>
                </div>

            </div>

            <input class="btn btn-primary" type="submit" value="Simpan">
            <a th:href="@{/gedung/list}" class="btn btn-primary" role="button">
                <span aria-hidden="true"></span>Batal
            </a>
        </form>
    </div>

</section>

</body>
</html>