<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Kampus dan Gedung</h6>
        </div>
    </div>



    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0"><center>Daftar Kampus Dan Gedung</center></h6>
        <br>

        <div class="box-body table-responsive no-padding">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kampus" role="tab">Kampus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#gedung" role="tab">Gedung</a>
                </li>
            </ul>
            <br>
            <div class="tab-content">
                <!--Tab Kurilulum-->
                <div class="tab-pane active" id="kampus" role="tabpanel">
                    <table width="100%">
                        <tr>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a th:href="@{/gedung/kampus/form}" class="btn btn-primary" role="button" aria-pressed="true">Tambah Kampus</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </table>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>NA</th>
                            <th>Nama Kampus</th>
                            <th>Alamat</th>
                            <th>Keterangan</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data,row  : ${list}">
                            <td th:text="${(row.index + 1)}"></td>
                            <td>
                                <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.na}==1">
                                    <i class="material-icons" style="font-size:36px">wb_incandescent</i>
                                </span>
                                <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.na}==0">
                                    <i class="material-icons" style="font-size:36px;color:black;">wb_incandescent</i>

                                </span>
                            </td>
                            <td th:text="${data.namaKampus}">STEI TAZKIA SENTUL</td>
                            <td th:text="${data.alamat}">Jl. Ir. H. Juanda no 78 Sentul City, Citaringgul, Bogor</td>
                            <td th:text="${data.keterangan}">-</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
                            <td><button type="button" class="btn btn-danger btn-sm">Hapus</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!---->
                <!--Tab Mata Kuliah-->
                <div class="tab-pane" id="gedung" role="tabpanel">
                    <table width="100%">
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Pilih Kampus</label>
                                                <select onchange="" style="width: 500px;" class="form-control js-example-placeholder-single" id="provinsi"
                                                        name="provinsi">
                                                    <option></option>
                                                    <option>STEI TAZKIA SENTUL</option>
                                                    <option>STEI TAZKIA MATRIKULASI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <a th:href="@{/gedung/form}" class="btn btn-primary" role="button" aria-pressed="true">Tambah Gedung</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Kode</th>
                            <th>Nama</th>
                            <th>Lokasi</th>
                            <th>Keterangan</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th rowspan="2">1</th>
                            <th rowspan="2">S0001</th>
                            <td rowspan="2">Granada</td>
                            <td rowspan="2">STEI TAZKIA SENTUL</td>
                            <td>Gedung Kembar Sebelah Barat</td>

                            <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>

                        </tr>
                        </tbody>
                    </table>
                    <br>

                </div>
            </div>

        </div>
        <br>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</section>

</body>
</html>