<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Campus<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table width="100%">
                    <tr>
                        <td>
                            <a th:href="@{/gedung/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                        </td>
                        <td class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search title_right ">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" id="keyresult" autocomplete="off"
                                           placeholder="Search for..." class="form-control" name="search">
                                    <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk-action">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Building Name</th>
                            <th>Building Code</th>
                            <th>Description</th>
                            <th width="30px"></th>
                            <th width="40px"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr >
                            <td>1</td>
                            <td>
                                <span style="color: #4fa9e8; font-size: 16px;">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;"></i>
                                </span>
                            </td>
                            <td>PATRICK STAR</td>
                            <td>17</td>
                            <td>BANGUN DAN SEMANGAT</td>
                            <td>
                                <a href="form">
                                    <button type="button" class="btn btn-primary btn-xs">Edit</button>
                                </a>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-xs"
                                        onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                    <i class="ti-eraser"></i> Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div align="right">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>