[Unit]
Description=SIMAK Milenial
After=syslog.target

[Service]
User=root
ExecStart=/var/lib/aplikasi-akademik/aplikasi-akademik.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
