<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Curriculum Form<small>
                </small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <form method="post" th:action="@{/kurikulum/form}" th:object="${kurikulum}">

                    <div class="form-group">
                        <label>Year</label>
                        <input type="text" class="form-control" th:field="*{tahunKurikulum}" name="tahunKurikulum" placeholder="Code">
                    </div>

                    <div class="form-group">
                        <label>Curriculum</label>
                        <input type="text" class="form-control" th:field="*{namaKurikulum}" name="namaKurikulum" placeholder="Jenjang Name">
                    </div>

                    <div class="form-group">
                        <label>Curriculum</label>
                        <select style="width: 100%!important;" class="form-control js-example-placeholder-single" name="prodi" th:field="*{prodi}">
                        <option value=""></option>
                        <option th:each="data : ${prodi}"
                                th:text="${data.namaProdi}"
                                th:value="${data.id}">sdasd</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Legal Number</label>
                        <input type="number" class="form-control" th:field="*{nomorSkRektor}" name="nomorSkRektor">
                    </div>

                    <div class="form-group">
                        <label>Status</label><br>
                        <label>
                            <input name="status" type="checkbox" th:field="*{status}" value="AKTIF" class="js-switch" />
                        </label >
                    </div>

                    <input type="hidden" name="id" th:field="*{id}">

                    <div class="form-group">

                        <input class="btn btn-primary" type="submit" value="Save">
                        <a th:href="@{/kurikulum/list}" class="btn btn-primary" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>