<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Curriculum</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Curriculum <small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="title_right">
                    <div class="input-group">
                        <a th:href="@{/kurikulum/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                    </span>
                    </div>
            </div>

            <form method="get">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">
                        <div class="col-md-12">
                            <div class="form-group">
                                <center><label><b>Prodi</b></label></center>
                                <select class="form-control js-example-placeholder-single"
                                        style="width: 100%!important;" name="prodi">
                                    <option></option>
                                    <option th:each="data : ${prodi}"
                                            th:selected="(${data} == *{selected})"
                                            th:text="${data.namaProdi}"
                                            th:value="${data.id}">sdasd</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <br>
            <hr>

            <div class="col-md-12" role="main" th:if="${kurikulum != null}">
                <div class="">
                    <div class="clearfix"></div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Curriculum List <small th:text="${selected.namaProdi}">Nama Prodi</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <section class="content invoice">
                                        <!-- title row -->
                                        <div class="row">
                                            <div class="col-xs-12 invoice-header">
                                                <h1>
                                                    <i class="fa fa-globe"></i> <span th:text="${selected.namaProdi}"></span>
                                                </h1>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <br>
                                        <!-- info row -->
                                        <div class="row invoice-info">
                                            <div class="col-sm-4 invoice-col">
                                                <address>
                                                    <strong th:text="${selected.idJurusan.namaJurusan}">Iron Admin, Inc.</strong>
                                                    <br th:text="${selected.idJurusan.keterangan}">
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 invoice-col">
                                                <address>
                                                    <strong th:text="${selected.idJenjang.namaJenjang}">John Doe</strong>
                                                    <br th:text="${selected.idJenjang.keterangan}">
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 invoice-col">
                                                <address>
                                                    <strong th:text="${selected.idJurusan.idFakultas.namaFakultas}">John Doe</strong>
                                                    <br th:text="${selected.idJurusan.idFakultas.keterangan}">

                                                </address>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->

                                        <!-- Table row -->
                                        <br>
                                        <div>
                                            Show <span sd:page-size-selector="javascript"></span> entries
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 table">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr class="headings">
                                                        <th class="column-title">#</th>
                                                        <th class="column-title">Curriculum</th>
                                                        <th scope="col">Prodi</th>
                                                        <th class="column-title">Year(s)</th>
                                                        <th scope="col" width="30px">Active</th>
                                                        <th scope="col" width="30px"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="even pointer" th:each="data,row : ${kurikulum}">
                                                        <td th:text="${(row.index + 1) + (kurikulum.number * kurikulum.size)}">1</td>
                                                        <td th:text="${data.namaKurikulum}">Curriculum</td>
                                                        <td th:text="${data.prodi.namaProdi}">Prodi</td>
                                                        <td th:text="${data.tahunKurikulum}">Year(s)</td>
                                                        <td>
                                                            <form method="post" th:if="${data.status.NONAKTIF} == ${data.status}"
                                                                  th:action="@{/kurikulum/aktif(kurikulum = ${data.id})}">
                                                                <button type="submit" class="btn btn-primary btn-xs">Activate
                                                                </button>
                                                            </form>
                                                        </td>
                                                        <td><button type="submit" class="btn btn-danger btn-xs"
                                                                    onclick="return confirm('Are you sure? Once deleted, ' +
                                             'you will not be able' + ' to recover this imaginary ' +
                                              'file!')">Delete
                                                        </button></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <nav class="pull-right">
                                                            <ul class="pagination" sd:pagination="full">
                                                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                                                        aria-hidden="true">&laquo;</span></a>
                                                                </li>
                                                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->

                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>