<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        .text-legal{
            color:#eee;
        }
        .text-size{
            font-size: 12px;
        }
        .background-color{
            background-color: coral;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 10px;
        }
        .background-color-top{
            background-color: #0a5a8c;
            border-end-end-radius: 5px;
            border-end-start-radius: 5px;
            height: 10px;
        }
        .background{
            border: 1px;
            border-style: solid;
            border-color: black;
            padding: 0px;
            margin: 0;
        }
        table.table-bordered{
            border:1px solid black!important;
            margin-top:0px;
        }
        table.table-bordered > thead > tr > th{
            border:1px solid black!important;
            margin: 12px;
            padding: 12px;
        }
        table.table-bordered > tbody > tr > td{
            border:1px solid black!important;
            margin: 12px;
            padding: 12px;
        }
    </style>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body  onLoad="setTimeout('closemyself()',3000);" >
<div id="content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="background-color-top">
                <center>

                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <br>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <center>
                    <div class="background">
                        <center style="font-size: 10px;">
                            IAI/FM/ACD/28.6
                        </center>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 col-xs-12">
            <div class="row">
                <div class="col-md-2">
                    <center>
                        <img th:src="@{/images/logo.png}" width="50px" height="40px" alt="">
                    </center>
                </div>
                <div class="col-md-8">
                    <center>
                        <h6><b>Kartu Ujian</b></h6>
                        <h6><b>2019/2020 Semester Ganjil</b></h6>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="container">
                <table>
                    <tr>
                        <td><i class="text-size">Nama</i> </td>
                        <td class="text-size">    :</td>
                        <td class="text-size" th:text="${mahasiswa.nama}">   Muhammad Naufal Muayyad</td>
                    </tr>
                    <tr>
                        <td><i class="text-size">NIM</i> </td>
                        <td class="text-size">    :</td>
                        <td class="text-size" th:text="${mahasiswa.nim}">   16102045</td>
                    </tr>
                    <tr>
                        <td><i class="text-size">Prodi</i> </td>
                        <td class="text-size">    :</td>
                        <td class="text-size" th:text="${mahasiswa.idProdi.namaProdi}">   Akuntansi Syariah</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin:  10px 10px 10px 10px;">
            <div class="col-md-12 col-xs-12">
                <div class="">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-size">No.</th>
                            <th class="text-size">UTS ID</th>
                            <th class="text-size">Mata Kuliah</th>
                            <th class="text-size">Keterangan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data,row : ${kartu}">
                            <td class="text-size" th:text="${row.index + 1}">1</td>
                            <td class="text-size" th:text="${data.idUjian}">51679</td>
                            <td class="text-size" th:text="${data.matakuliah}">Student Dynamic Session</td>
                            <td class="text-size"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <center>
                    <p style="font-size: 10px;" th:text="${'BOGOR, '+ tanggal + ' ' + bulan + ' ' + tahun}">Bogor, 09 Oktober 2019</p>
                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <center>
                    <h5 class="text-legal"><b class="text-size" th:text="${mahasiswa.nim}">16102045</b></h5>
                    <h5><b style="font-size: 10px;">Hera Herdiansyah, S.E, M.E.</b></h5>
                    <p><b style="font-size: 10px;">Kepala Bagian Akademik</b></p>
                </center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="background-color">

            </div>
        </div>
    </div>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script>
    var doc = new jsPDF('p','pt','letter', 'a2');
    var content = $('#content');
    doc.addHTML(document.body,function() {
        doc.save('sample-file.pdf');
    });

</script>
<!--<script language=javascript>
    function closemyself() {
        window.opener=self;
        window.close();
        self.close();
    }
</script>-->
</html>