<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Input Concentration</h2>
                <div class="clearfix"></div>
            </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <form method="post" th:action="@{/konsentrasi/form(id = ${konsentrasi.idKonsentrasi})}" th:object="${konsentrasi}">

            <div class="form-group">
                <label>Study program</label>
                <select class="form-control js-example-placeholder-single" name="idProdi">
                    <option></option>
                    <option th:field="*{idProdi}" th:each="list : ${daftarProdi}" th:text="${list.namaProdi}" th:value="${list.idProdi}">Ekonomi Islam</option>
                </select>
            </div>

            <div class="form-group">
                <label>Concentration Code</label>
                <input th:field="*{kodeKonsentrasi}" type="text" name="kodeKonsentrasi" class="form-control" placeholder="Concentration Code">
            </div>

            <div class="form-group">
                <label>Concentration</label>
                <input th:field="*{namaKonsentrasi}" type="text" name="namaKonsentrasi" class="form-control" placeholder="Concentration">
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-responsive">
                        <tr>
                            <div class="form-group">
                                <label>Status</label><br>
                                <label>
                                    <input name="status" type="checkbox" value="NONAKTIF" class="js-switch" />
                                </label>
                                <input type="hidden" name="idKonsentrasi" th:field="*{idKonsentrasi}">
                                <input type="hidden" name="userInsert" th:field="*{userInsert}">
                                <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Save">
            <a class="btn btn-primary" th:href="@{/konsentrasi/list}" role="button">
                <span aria-hidden="true"></span>Cancel
            </a>
        </form>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>