<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Input Konsentrasi</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <form method="post" th:action="@{/konsentrasi/form(id = ${konsentrasi.idKonsentrasi})}" th:object="${konsentrasi}">

            <div class="form-group">
                <label>Program Studi</label>
                <select class="form-control js-example-placeholder-single" name="idProdi">
                    <option></option>
                    <option th:field="*{idProdi}" th:each="list : ${daftarProdi}" th:text="${list.namaProdi}" th:value="${list.idProdi}">Ekonomi Islam</option>
                </select>
            </div>

            <div class="form-group">
                <label>Kode Konsentrasi</label>
                <input th:field="*{kodeKonsentrasi}" type="text" name="kodeKonsentrasi" class="form-control" placeholder="konsentrasi">
            </div>

            <div class="form-group">
                <label>Konsentrasi</label>
                <input th:field="*{namaKonsentrasi}" type="text" name="namaKonsentrasi" class="form-control" placeholder="konsentrasi">
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-responsive">
                        <tr>
                            <td>Tidak Aktif? (NA)</td>
                            <td><input name="na" th:value="'0'" type="checkbox" class="input-group-text"></td>
                            <td><small class="alert-danger">*) Beri centang jika tidak aktif</small></td>
                        </tr>
                        <input type="hidden" name="idKonsentrasi" th:field="*{idKonsentrasi}">
                        <input type="hidden" name="userInsert" th:field="*{userInsert}">
                        <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                    </table>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Simpan">
            <a class="btn btn-primary" th:href="@{/konsentrasi/list}" role="button">
                <span aria-hidden="true"></span>Batal
            </a>
        </form>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

</script>