<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Input Concentration</h2>
                <div class="clearfix"></div>
            </div>


      <div class="x_content">
            <div class="my-3 p-3 bg-white rounded box-shadow">
        <form method="post" th:action="@{/konsentrasi/form}" th:object="${konsentrasi}">

            <div class="form-group">
                <label>Concentration Code</label>
                <input type="text" th:field="*{kodeKonsentrasi}"name="kodeKonsentrasi" class="form-control" placeholder="Concentration Code">
            </div>

            <div class="form-group">
                <label>Program Study</label>
                <select name="idProdi"  class="form-control js-example-placeholder-single" th:field="*{idProdi}" style="width: 100%!important;">
                    <option value=""></option>
                    <option th:each="data : ${prodi}"
                            th:text="${data.namaProdi}"
                            th:value="${data.id}">P</option>
                </select>
            </div>

            <div class="form-group">
                <label>Concentration</label>
                <input type="text" th:field="*{namaKonsentrasi}" name="namaKonsentrasi" class="form-control" placeholder="Concentration">
            </div>

            <div class="form-group">
                    <label>Description</label>
                    <input type="text"  th:field="*{keterangan}" name="keterangan" class="form-control" placeholder="Description">
            </div>

            <div class="form-group">
                    <table class="table table-responsive">
                        <tr>
                            <div class="form-group">
                                <label>Status</label><br>
                                <label>
                                    <input name="status" th:field="*{status}" type="checkbox" value="AKTIF" class="js-switch" />
                                </label >
                                <input type="hidden" name="id" th:field="*{id}">
                            </div>
                        </tr>
                    </table>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-primary" th:href="@{/konsentrasi/list}" role="button">
                <span aria-hidden="true"></span>Cancel
            </a>
        </form>
    </div>

    </div>
   </div>
 </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>