<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Matakuliah Kurikulum</title>
</head>
<body>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        var matakuliah = /*[[${matakuliah}]]*/ ["001"];

        $(document).ready(function () {


            //  var id = matakuliah.matakuliah.id;
            //  var matkul = matakuliah.matakuliah.namaMatakuliah;
            //  console.log(id);
            //  console.log(matkul);
            //
            // var data = [
            //     {
            //         id: id,
            //         text: matkul
            //     }
            // ];
            //
            // $("#courseList").select2("trigger", "select", {
            //     data: { id: "5" }
            // });
             // $('#mySelect2').val(setaraId);
             // $('#mySelect2').trigger("change");



        });
    </script>
</th:block>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Form</h5>
                                        <span class="h2 font-weight-bold mb-0">Matakuliah Kurikulum </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-sticky-note"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Form</h3>
                            </div>
                            <div class="col text-right">
                                <a th:href="@{/academic/curriculumCourses/form}" class="btn btn-sm btn-default"><i class="fas fa-arrow-alt-circle-left"></i> Kembali</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/academic/curriculumCourses/form}" th:object="${matakuliah}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Matakuliah</label>
                                        <select id="courseList" name="matakuliah" th:field="*{matakuliah}" class="js-example-basic-multiple js-states form-control js-data-example-ajax">
                                            <option th:if="${matakuliah.id != null}" th:text="${matakuliah.matakuliah.namaMatakuliah}" th:value="${matakuliah.matakuliah.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="id" id="idMatkur" th:field="*{id}">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kode Matakuliah</label>
                                        <input type="text" id="kodeMatkul" th:field="*{matakuliah.kodeMatakuliah}" name="kodeMatakuliah" readonly class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nama Matakuliah Inggris</label>
                                        <input type="text" id="matkulEng" th:field="*{matakuliah.namaMatakuliahEnglish}" readonly name="namaMatakuliahEnglish" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Singkatan</label>
                                        <input type="text" name=singkatan id="singkatan" th:field="*{matakuliah.singkatan}" readonly class="form-control" />
                                    </div>
                                </div>
                                <input type="hidden" name="kurikulum" th:value="${kurikulum.id}">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Validasi Konsep Note</label>
                                        <br>
                                        <select name="konsepNote" class="form-control" th:field="*{konsepNote}">
                                            <option value="NONAKTIF">NONAKTIF</option>
                                            <option value="MAGANG">Magang</option>
                                            <option value="METOLIT">Metodelogi Penelitian</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Akses</label>
                                        <select name="akses" th:field="*{akses}" class="form-control">
                                            <option value="" disabled selected>-- Select One --</option>
                                            <option value="WAJIB_UMUM">WAJIB UMUM</option>
                                            <option value="PILIHAN">PILIHAN</option>
                                            <option value="WAJIB_PRODI">WAJIB PRODI</option>
                                            <option value="WAJIB_KONSENTRASI">WAJIB KONSENTRASI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Total SKS</label>
                                        <input type="text" required th:field="*{jumlahSks}" name="jumlahSks" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Konsentrasi</label>
                                        <select name="konsentrasi" th:field="*{konsentrasi}" id="" class="form-control">
                                            <option value=""  selected>-- Select One --</option>
                                            <option th:each="data : ${konsentrasi}"
                                                    th:text="${data.namaKonsentrasi}"
                                                    th:value="${data.id}">AS-SISTEM INFORMASI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Semester</label>
                                        <select name="semester" required th:field="*{semester}" class="form-control">
                                            <option value="" disabled selected>-- Select One --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Minimal IPK</label>
                                        <input type="text" th:field="*{ipkMinimal}" name="ipkMinimal" class="form-control"  placeholder="0.00">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Minimimal SKS</label>
                                        <input type="text" th:field="*{sksMinimal}" name="sksMinimal" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upload Silabus</label>
                                        <input type="file" name="file" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bobot SDS<span style="color: red; font-size: 10px;">*Fields are only numbers</span></label>
                                        <input type="number" th:field="*{sds}" name="sds" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary">Simpan</button>
                                <a th:href="@{/academic/curriculumCourses/list}" class="btn btn-danger">Batal</a>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table -->


    </div>
</div>
</body>
</html>
<script>

    $("#courseList").select2(
        {
            placeholder: 'Cari Matakuliah',
            minimumInputLength: 3,
            ajax: {
                url: function (params) {
                    return '/select2/course?search=' + params.term;
                },
                dataType: 'json',
                type: "GET",
                delay: 300,
                data: function (params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function (data) {
                    for(var i = 0; i < data.length; i++){
                        data[i]={id:data[i].id,text:data[i].text,value:data[i].id}
                    }
                    return {
                        results: data
                    };
                }
            },

        });

    $('#courseList').on('select2:selecting', function(e) {
        console.log(e.params.args.data.id);
        const url = '/course/detail?search='+e.params.args.data.id;
        $.getJSON(url, function (data) {

            $('#matkulEng').val(data.namaMatakuliahEnglish);
            $('#kodeMatkul').val(data.kodeMatakuliah);
            $('#singkatan').val(data.singkatan);
        });
    });

</script>