<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Study Program List</h2>
                <div class="clearfix"></div>
            </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <table width="100%">
            <tr>
                <td>
                    <a th:href="@{/programstudi/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                </td>
                <td align="right">
                    <div class="title_right">
                        <form method="get">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" th:value="${search}" name="search" placeholder="Search by Jenjang Name">
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Search</button>
                                         </span>
                                </div>
                                <div>
                                    Show <span sd:page-size-selector="javascript"></span> entries
                                </div>
                            </div>
                        </form>
                    </div>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <div class="box-body table-responsive no-padding">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Major</th>
                    <th scope="col">Code</th>
                    <th scope="col">Study Program</th>
                    <th scope="col">Description</th>
                    <th scope="col" width="30px"></th>
                    <th scope="col" width="40px"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data,row : ${list}">
                    <td th:text="${(row.index + 1) + (list.number * list.size)}">1</td>
                    <td>
                                <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.status.AKTIF} == ${data.status}">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;"></i>
                                </span>
                        <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.status.NONAKTIF} == ${data.status}">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;color:black;"></i>
                                </span>
                    </td>
                    <td th:text="${data.idJurusan.namaJurusan}">Name Prodi</td>
                    <td th:text="${data.kodeProdi}">Id Department</td>
                    <td th:text="${data.namaProdi}">Id Level</td>
                    <td th:text="${data.keterangan}">Name Prodi</td>
                    <td>
                        <a href="form" th:href="@{/programstudi/form(id = ${data.id})}">
                            <button type="button" class="btn btn-primary btn-xs">Edit</button></a>
                    </td>
                    <td>
                        <form method="post" th:action="@{/programstudi/delete(prodi = ${data.id})}">
                            <button type="submit" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                <i class="ti-eraser"></i> Delete
                            </button>
                        </form></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
        </div>
    </div>
</section>

</body>
</html>