<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Study Program List</h2>
                <div class="clearfix"></div>
            </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <table width="100%">
            <tr>
                <td>
                    <a th:href="@{/programstudi/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                </td>
                <td align="right">
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." name="search"
                                       th:value="${programstudi}">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Search</button>
                          </span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div class="box-body table-responsive no-padding">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Name Of Study Program & Faculty</th>
                    <th scope="col">Level</th>
                    <th scope="col">Official</th>
                    <th scope="col" width="30px"></th>
                    <th scope="col" width="40px"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data,row : ${prodi}">
                    <th th:text="${(row.index + 1)}">1</th>
                    <td th:text="${data.kodeProdi}"></td>
                    <td th:text="${data.namaProdi + '&nbsp&nbsp&nbsp&nbsp' + '(' + data.idJurusan.idFakultas.namaFakultas + ')'}"></td>
                    <td th:text="${data.idJenjang.namaJenjang}"></td>
                    <td th:text="${data.pejabat}"></td>
                    <td>
                        <a href="form"  th:href="@{/programstudi/form(id=${data.idProdi})}">
                            <button type="button" class="btn btn-primary btn-sm">Edit</button></a>
                    </td>
                    <td>
                        <form method="post" th:action="@{/delete/programstudi(prodi=${data.idProdi})}">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                <i class="ti-eraser"></i> Delete
                            </button>
                        </form></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        </div>
    </div>
</section>

</body>
</html>