<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Program</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Form</h5>
                                        <span class="h2 font-weight-bold mb-0">Program</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Form</h3>
                            </div>
                            <div class="col text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/setting/program/form}" th:object="${program}" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label>Kode Program<span class="required">*</span>
                                </label>
                                <input type="text" th:field="*{kodeProgram}" name="kodeProgram" id="kodeProgram" required="required" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="namaProgram">Nama Program <span class="required">*</span>
                                </label>
                                <input type="text" th:field="*{namaProgram}" name="namaProgram" id="namaProgram" required="required" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="keterangan">Keterangan <span class="required">*</span>
                                </label>
                                <input type="text" th:field="*{keterangan}" name="keterangan" id="keterangan" required="required" class="form-control ">
                            </div>

                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <a th:href="@{/setting/program/list}" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>