<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Upload Soal</title>
    <style type="text/css">
        .tabs-active{
            border-left: 12px solid #4285f4;
            background-color: #f5f4f2;
            padding-left: 20px;
            padding-top: 7px;
            padding-right: 10px;
            padding-bottom: 7px;
            transition: 0.7s;
            color: #4285f4;
            margin: 2px;
        }

        .tabs-active:hover{
            background-color: #dedddc;
        }

        .tabs-noactive{
            border-left: 12px solid white;
            background-color: white;
            padding-left: 20px;
            padding-top: 7px;
            padding-right: 10px;
            padding-bottom: 7px;
            transition: 0.7s;
            margin: 2px;
        }

        .tabs-noactive:hover{
            background-color: #dedddc;
        }

    </style>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Upload Soal<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <form method="get">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center><label><b>Tahun Akademik</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="tahun" required>
                                        <option></option>
                                        <option th:each="data : ${akademik}"
                                                th:selected="(${data} == *{tahunAkademik})"
                                                th:text="${data.namaTahunAkademik}"
                                                th:value="${data.id}"></option>
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>
                    <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <br>
            <hr>

            <span th:if="${tahunAkademik != null}">
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Upload Soal list<small><b></b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <div class="row">
                                <div class="co0l-md-12">
                                    <div>
                                 Show <span sd:page-size-selector="javascript"></span> entries

                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search title_right ">
                                <form method="get">
                                <div class="input-group">
                                    <input type="text" autocomplete="off" name="search"
                                           th:value="${search}"
                                           placeholder="Search by name" class="form-control">
                                    <input type="hidden" name="tahun" th:value="${tahunAkademik.id}">
                                    <input type="hidden" name="status" th:if="${approve != null}" th:value="${approve}">
                                    <span class="input-group-btn">
                                                <button class="btn btn-default"
                                                        type="submit">Search</button>
                                    </span>
                                </div>
                            </form>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-12">
                                    <div class="row">
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id})}" th:if="${status == null}">
                                            <div class="col-md-12 tabs-active">
                                                <b>All</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id})}" th:if="${status != null}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>All</b>
                                            </div>
                                        </a>

                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'WAITING')}" th:if="${status == null}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Waiting</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'WAITING')}" th:if="${status != null && status == status.WAITING}">
                                            <div class="col-md-12 tabs-active">
                                                <b>Waiting</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'WAITING')}" th:if="${status != null && status != status.WAITING}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Waiting</b>
                                            </div>
                                        </a>

                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'APPROVED')}" th:if="${status == null}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Approved</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'APPROVED')}" th:if="${status != null && status == status.APPROVED}">
                                            <div class="col-md-12 tabs-active">
                                                <b>Approved</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'APPROVED')}" th:if="${status != null && status != status.APPROVED}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Approved</b>
                                            </div>
                                        </a>

                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'REJECTED')}" th:if="${status == null}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Rejected</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'REJECTED')}" th:if="${status != null && status == status.REJECTED}">
                                            <div class="col-md-12 tabs-active">
                                                <b>Rejected</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'REJECTED')}" th:if="${status != null && status != status.REJECTED}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Rejected</b>
                                            </div>
                                        </a>

                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'NOT_UPLOADED_YET')}" th:if="${status == null}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Not Uploaded Yet</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'NOT_UPLOADED_YET')}" th:if="${status != null && status == status.NOT_UPLOADED_YET}">
                                            <div class="col-md-12 tabs-active">
                                                <b>Not Uploaded Yet</b>
                                            </div>
                                        </a>
                                        <a th:href="@{/uploadsoal/listuas(tahun = ${tahunAkademik.id}, status = 'NOT_UPLOADED_YET')}" th:if="${status != null && status != status.NOT_UPLOADED_YET}">
                                            <div class="col-md-12 tabs-noactive">
                                                <b>Not Uploaded Yet</b>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Matakuliah</th>
                                    <th>Kelas</th>
                                    <th>Dosen</th>
                                    <th>Status Upload</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="data,row : ${jadwal}">
                                        <td th:text="${(row.index + 1) + (jadwal.number * jadwal.size)}"></td>
                                        <td th:text="${data.matakuliahKurikulum.matakuliah.namaMatakuliah}"></td>
                                        <td th:text="${data.kelas.namaKelas}"></td>
                                        <td th:text="${data.dosen.karyawan.namaKaryawan}"></td>
                                        <td>
                                             <a th:if="${data.statusUas.APPROVED} == ${data.statusUas}" href="#" data-toggle="popover" class="label label-success"
                                                data-placement="right"  data-trigger="focus" onclick="return false"
                                                title="Status"
                                                text="Approved"
                                                data-content="Pada Tanggal 11-10-2019">Approved
                                            </a>

                                            <a th:if="${data.statusUas.WAITING} == ${data.statusUas}" href="#" data-toggle="popover" class="label label-warning"
                                               data-placement="right"  data-trigger="focus" onclick="return false"
                                               title="Status"
                                               text="Waiting for Approval"
                                               data-content="Soal yang Anda masih menunggu untuk disetujui">Waiting for Approval
                                            </a>

                                            <a th:if="${data.statusUas.REJECTED} == ${data.statusUas}" href="#" data-toggle="popover" class="label label-danger"
                                               data-placement="right"  data-trigger="focus" onclick="return false"
                                               title="Status"
                                               text="Waiting for Approval"
                                               data-content="Soal yang Anda masih menunggu untuk disetujui">Rejected
                                            </a>

                                            <a th:if="${data.statusUas.NOT_UPLOADED_YET} == ${data.statusUas}" href="#" data-toggle="popover" class="label label-default"
                                               data-placement="right"  data-trigger="focus" onclick="return false"
                                               title="Status"
                                               text="Approved"
                                               data-content="Soal yang Anda upload ditolak, silahkan upload ulang soal">NOT UPLOAD YET
                                            </a>
                                    </td>
                                        <td th:if="${data.statusUas.NOT_UPLOADED_YET} != ${data.statusUas}"></td>

                                        <td>
                                            <a th:if="${data.statusUas.NOT_UPLOADED_YET != data.statusUas && data.statusUas.APPROVED != data.statusUas && data.statusUas.REJECTED != data.statusUas}" th:href="@{/uploadsoal/approval (jadwal = ${data.id})}" type="button" class="btn btn-primary btn-xs">
                                                <i class="fa fa-check"></i> Validasi Soal
                                            </a>
                                        </td>
                                        <td>
                                            <a th:if="${data.statusUas.APPROVED == data.statusUas}" th:href="@{/uploadsoal/approval (jadwal = ${data.id})}" type="button" class="btn btn-primary btn-xs">
                                                <i class="fa fa-check"></i> Download Soal
                                            </a>
                                        </td>
                                        <td>
                                            <form th:if="${data.statusUas.APPROVED == data.statusUas}" th:action="@{/uploadsoal/cancel (jadwal = ${data.id})}" method="post">
                                                <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')">
                                                    <i class="fa fa-close"></i> Cancel
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                </div>
                            </div>



                            <center>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <nav class="pull-right">



                                            <ul class="pagination" sd:pagination="full">
                                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                                        aria-hidden="true">&laquo;</span></a>
                                                </li>
                                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </center>

                        </div>


                    </div>
                </div>
            </div>
            </span>

        </div>
    </div>
</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

</script>