<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Kelas</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Class </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">


                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <form method="post" th:action="@{/kelas/form}" th:object="${kelas}">

                        <div class="form-group">
                            <label>Select prodi</label>
                            <input type="text" th:if="${kelas.id == null}" class="form-control" id="prodi" placeholder="Cari Prodi ..."
                                   data-provide="typeahead" autocomplete="off" required>
                            <input type="text" th:if="${kelas.id != null}" class="form-control" id="prodi" placeholder="Cari Prodi ..."
                                   data-provide="typeahead" autocomplete="off" th:field="*{idProdi.namaProdi}" required>
                        </div>

                        <div class="form-group">
                            <label>Select Curiculum</label>
                            <input type="text" th:if="${kelas.id == null}" class="form-control" id="kurikulum"
                                   placeholder="Cari Kurikulum ..." data-provide="typeahead" autocomplete="off" required>
                            <input type="text" th:if="${kelas.id != null}" class="form-control" id="kurikulum" th:field="*{kurikulum.namaKurikulum}"
                                   placeholder="Cari Kurikulum ..." data-provide="typeahead" autocomplete="off" required>
                        </div>
                        <input type="hidden" th:if="${kelas.id == null}" id="isiProdi" name="prodi">
                        <input type="hidden" th:if="${kelas.id == null}" id="isiKurikulum" name="kurikulum">
                        <input type="hidden" th:if="${kelas.id != null}" id="isiProdi" name="prodi" th:value="*{idProdi.id}">
                        <input type="hidden" th:if="${kelas.id != null}" id="isiKurikulum" name="kurikulum" th:values="*{kurikulum.id}">

                        <div class="form-group">
                            <label>Class Room Code</label>
                            <input type="text" name="kodeKelas" th:field="*{kodeKelas}" class="form-control" placeholder="Class Code">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Class Name</label>
                            <input type="text" th:field="*{namaKelas}" class="form-control" name="namaKelas" id="exampleFormControlInput1" placeholder="Class Name">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="keterangan" th:field="*{keterangan}" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Status</label><br>
                            <label>
                                <input name="status" th:field="*{status}" type="checkbox" value="AKTIF" class="js-switch" />
                            </label >
                        </div>
                        <input type="hidden" name="id" th:field="*{id}">

                        <input class="btn btn-primary" type="submit" value="Save">
                        <a class="btn btn-primary" th:href="@{/kelas/list}" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>