<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Data Dosen</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <!-- Tab panes -->
        <form method="post" th:action="@{/dosen/form(id=${dosen.idDosen})}" th:object="${dosen}">
                <div class="col-md-12"><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>NIP</label>
                                <input type="text" class="form-control" name="nip" th:field="*{nip}" placeholder="Nomor Induk Pegawai">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>NIDN</label>
                                <input type="text" class="form-control" th:field="*{nidn}" name="nidn" placeholder="Nomor Induk Dosen Nasional">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nama Lengkap Beserta Gelar</label>
                                &nbsp&nbsp
                                <small class="text-danger">* Isi nama dan gelar sesuai dengan ijazah</small>
                                <input type="text" class="form-control" th:field="*{nama}" name="nama" placeholder="Nama">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tempat Lahir</label>
                                <input type="text" class="form-control" th:field="*{tempatLahir}" name="tempatLahir" placeholder="Tempat lahir">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Lahir</label>
                                <input type="date" class="form-control" th:field="*{tglLahir}" name="tglLahir">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Jenis Kelamin</label>
                                <div class="form-check">
                                    <input class="form-check-input" th:checked="*{jk == 'L'}"   type="radio" name="jk"
                                           id="l" value="L" >
                                    <label class="form-check-label" for="l">
                                        Laki-laki
                                    </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio"  th:checked="*{jk == 'P'}" name="jk"
                                           id="p" value="P">
                                    <label class="form-check-label" for="p">
                                        Perempuan
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Asal Negara</label>
                                <input type="text" class="form-control" th:field="*{asalNegara}" name="asalNegara"
                                       placeholder="Asal Negara">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Agama</label>
                                <select onchange="" class="form-control js-example-placeholder-single" id="agama"
                                        th:field="*{agama}" name="agama">
                                    <option value=""></option>
                                    <option th:each="ins : ${daftarAgama}"
                                            th:value="${ins.agama}"
                                            th:text="${ins.agama}">Islam</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status Sipil</label>
                                <select class="form-control js-example-placeholder-single" th:field="*{statusSipil}" name="statusSipil">
                                    <option value=""></option>
                                    <option value="Belum Menikah">Belum Menikah</option>
                                    <option value="Menikah">Manikah</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Alamat</label>
                                <input type="text" class="form-control" th:field="*{alamat}" name="alamat"  placeholder="Alamat">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="provinsi">Provinsi</label>
                                <select class="form-control js-example-placeholder-single" id="provinsi"
                                        th:field="*{provinsi}"  name="provinsi">
                                    <option value="" ></option>
                                    <option th:each="ins : ${daftarProp}"
                                            th:value="${ins.idProvinsi}"
                                            th:text="${ins.nama}">Jawa Barat</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kabupaten/Kota</label>
                                <select name="kokab" th:field="*{kokab}" class="form-control js-example-placeholder-single">
                                    <option value=""></option>
                                    <option th:each="ins : ${daftarKokab}"
                                            th:value="${ins.idKokab}"
                                            th:text="${ins.nama}">Kab Bogor</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="provinsi">Kode Pos</label>
                                <input type="text" class="form-control" th:field="*{kodepos}" name="kodepos"  placeholder="Kode Pos">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Negara</label>
                                <input type="text" class="form-control" th:field="*{negara}" name="negara"  placeholder="Negara">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tempat Tinggal</label>
                                <select class="form-control js-example-placeholder-single"
                                        th:field="*{tempatTinggal}" name="tempatTinggal" >
                                    <option value=""></option>
                                    <option th:each="ins : ${daftarTempat}"
                                            th:value="${ins.idTinggal}"
                                            th:text="${ins.tempatTinggal}">Asrama</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telepon</label>
                                <input type="text" class="form-control" th:field="*{telepon}" name="telepon" placeholder="Telepon">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ponsel</label>
                                <input type="text" class="form-control" th:field="*{ponsel}" name="ponsel"  placeholder="Ponsel">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" th:field="*{email}" name="email" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="prodi">Prodi Hombase</label>
                                <select class="form-control js-example-placeholder-single" id="prodi"
                                        th:field="*{prodiHomebase}" name="prodiHomebase">
                                     <option value=""></option>
                                    <option th:each="ins : ${daftarProdi}"
                                            th:value="${ins.idProdi}"
                                            th:text="${ins.namaProdi}">Asrama</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Akta Sertifikat Mengajar</label>
                                <input type="text" class="form-control" th:field="*{aktaMengajar}"
                                       name="aktaMengajar"  placeholder="Akta Sertifikat Mengajar">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <table class="table table-responsive">
                                <tr>
                                    <td>Tidak Aktif? (NA)</td>
                                    <td><input name="na" th:value="'0'" type="checkbox" class="input-group-text"></td>
                                    <td><small class="alert-danger">*) Beri centang jika tidak aktif</small></td>
                                </tr>
                                <input type="hidden" name="idDosen" th:field="*{idDosen}">
                                <input type="hidden" name="userInsert" th:field="*{userInsert}">
                                <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                            </table>
                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>
                </div>

            <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
            <br>
            <input class="btn btn-primary" type="submit" value="Simpan">
            <a th:href="@{/dosen/list}" class="btn btn-primary" role="button">
                <span aria-hidden="true"></span>Batal
            </a>
    </form>
        </div>


    </div>


</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>
