<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dosen</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lecturer List</h2>
                <div class="clearfix"></div>
            </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
        <br>

        <table width="100%">
            <tr>
                <td align="right">

                    <div class="title_right">
                        <form method="get">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." name="search"
                                       th:value="${search}">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="submit" id="keyresult" autocomplete="off" >Search</button>
                          </span>
                            </div>
                        </div>
                            <div class="left">
                                <form method="get">
                                    <a th:href="@{/dosen/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                                    <form method="get">

                                    </form>
                            </div>
                        </form>
                    </div>

                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <div class="box-body table-responsive no-padding">
            Show <span sd:page-size-selector="javascript" ></span> Entries
            <br><br>
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">NIDN</th>
                    <th scope="col">Name</th>
                    <th scope="col" width="30px"></th>
                    <th scope="col" width="40px"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data, row : ${listDosen}">
                    <th th:text="${(row.index + 1) + (listDosen.number * listDosen.size)}">1</th>
                    <td th:text="${data.karyawan.nidn}">D1223123</td>
                    <td th:text="${data.karyawan.namaKaryawan}">Dosen 1</td>
                    <td align="center">
                        <a href="#" class="btn btn-success btn-sm" th:href="@{/dosen/form(id=${data.karyawan.id})}" title="edit">Edit</a></td>
                    <td align="center">
                        <form method="post" th:action="@{/dosen/delete(dosen=${data.id})}">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                <i class="ti-eraser"></i> Delete
                            </button>
                        </form>                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <div sd:pagination-summary="">Info</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <nav class="pull-right">
                        <ul class="pagination" sd:pagination="full">
                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        </div>
        </div>
    </div>

</section>

</body>
</html>