<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="main" class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Institutions <small>Form</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <form method="post" th:action="@{/lembaga/form(id = ${lembaga.idLembaga})}" th:object="${lembaga}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nama Lembaga</label>
                        <input type="text" th:field="*{namaLembaga}" name="namaLembaga" class="form-control" id="exampleFormControlInput1" placeholder="Nama">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Alamat</label>
                        <textarea class="form-control" th:field="*{alamat}" name="alamat" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Provinsi</label>
                        <select name="provinsi" th:field="*{provinsi}" class="form-control js-example-placeholder-single">
                            <option value=""></option>
                            <option th:each="ins : ${provinsi}"
                                    th:value="${ins.idProvinsi}"
                                    th:text="${ins.nama}">Jawa Barat</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Kota / Kabupaten</label>
                        <select name="kokab" th:field="*{kokab}" class="form-control js-example-placeholder-single">
                            <option value=""></option>
                            <option th:each="ins : ${kokab}"
                                    th:value="${ins.idKokab}"
                                    th:text="${ins.nama}">Jawa Barat</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlFile1">Pilih file logo Lembaga</label>
                        <input type="file" th:field="*{logo}" class="form-control-file" name="logo" id="exampleFormControlFile1">

                        <input type="hidden" name="idLembaga" th:field="*{idLembaga}">
                        <input type="hidden" name="userInsert" th:field="*{userInsert}">
                        <input type="hidden" name="userEdit" th:field="*{userEdit}">
                        <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                        <input type="hidden" name="tglEdit" th:field="*{tglEdit}">
                    </div>

                    <input class="btn btn-primary" type="submit" value="Simpan">
                    <a th:href="@{/lembaga/list}" class="btn btn-primary" role="button">
                        <span aria-hidden="true"></span>Batal
                    </a>
                </form>

            </div>
        </div>
    </div>
</section>
</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>



