<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Institution</title>
</head>
<body>
<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Institutions <small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <table width="100%">
                    <tr>
                        <td>
                            <a th:href="@{/lembaga/form}" class="btn btn-primary">Add</a>
                        </td>
                        <td class="col-md-5 col-sm-5 col-xs-8 form-group pull-right top_search">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" id="keyresult" autocomplete="off"
                                           class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                                          <button class="btn btn-default" type="submit">Go!</button>
                                                        </span>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Show <span sd:page-size-selector="javascript"></span> entries
                        </td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">#</th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Institution Code</th>
                            <th class="column-title">Institution Name</th>
                            <th class="column-title" colspan="2">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer" th:each="data,row :${list}">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td th:text="${(row.index + 1) + (list.number * list.size)}">121000040</td>
                            <td>
                                <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.status.AKTIF} == ${data.status}">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;"></i>
                                </span>
                                <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.status.NONAKTIF} == ${data.status}">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;color:black;"></i>
                                </span>
                            </td>
                            <td th:text="${data.kodeLembaga}">121000040</td>
                            <td th:text="${data.namaLembaga}">May 23, 2014 11:47:56 PM </td>
                            <td>
                                <a href="form"  th:href="@{/lembaga/form(id = ${data.id})}">
                                    <button type="button" class="btn btn-primary btn-xs">Edit</button></a>
                            </td>
                            <td>
                                <form method="post">
                                    <button type="submit" class="btn btn-danger btn-xs"
                                            onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                        <i class="ti-eraser"></i> Delete
                                    </button>
                                </form></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-8">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>

</section>
</body>
</html>