<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Bobot Tugas</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="x_content">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Bobot Tugas</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <form method="post" th:action="@{/penilaian/delete(bobot = ${bobotTugas.id})}">
                                            <button class="collapse-link btn-danger" type="submit"
                                                    onclick="return confirm('Are you sure want tho delete this?')">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <form th:action="@{/penilaian/edit}" method="post" th:object="${bobotTugas}">
                            <div class="x_content">
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Pertemuan Ke :</label>
                                            <select class="form-control" th:field="*{pertemuan}"
                                                    style="width: 100%!important;" name="pertemuan">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Bobot Tugas :</label>
                                            <input type="text" th:field="*{bobot}" name="bobot" class="form-control">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-form-label">Nama Tugas :</label>
                                            <input type="text" name="namaTugas" th:field="*{namaTugas}" maxlength="255" class="form-control">
                                        </div>
                                    </div>
                                    <input type="hidden" name="jadwal" th:field="*{jadwal}">
                                    <input type="hidden" name="id" th:field="*{id}">
                                    <input type="hidden" name="status" th:field="*{status}">
                                </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                            <button class="btn btn-primary" type="submit">Simpan</button>
                                            <a th:href="@{/penilaian/bobot(jadwal=${bobotTugas.jadwal.id})}" class="btn btn-info" type="submit">Kembali</a>
                                        </div>
                                    </div>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>