<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }
        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Penilaian</h6>
        </div>
    </div>



    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h4 class="border-bottom border-gray pb-2 mb-0"><center>Penilaian</center></h4>
        <br>

        <div class="box-body table-responsive no-padding">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#bobotpenilaian" role="tab">Bobot Penilaian</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nilaimahasiswa" role="tab">Nilai Mahasiswa</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/penilaian/list}" class="btn btn-primary" role="button" aria-pressed="true">Kembali</a>
                </li>
            </ul>
            <br>
            <form method="get">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <td>Thn Akademik    : 20172</td>
                                </div>
                                <div class="form-group">
                                    <td>Matakuliah      : Student Dynamic Session</td>
                                </div>
                                <div class="form-group">
                                    <td>SKS             : 0, Peserta:23</td>
                                </div>
                                <div class="form-group">
                                    <td>Jdwl Kuliah     : Selasa 13.00 -> 15.00, Presensi:4</td>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <td>Program Studi   : Manajemen Bisnis Syariah</td>
                                </div>
                                <div class="form-group">
                                    <td>Dosen           : Afif Zaerofi</td>
                                </div>
                                <div class="form-group">
                                    <td>Kelas           : K</td>
                                </div>
                                <div class="form-group">
                                    <td>Jdwl Ujian      : 01-01-1930, Rabu</td>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="lh-100">
                                    <h6 class="mb-0 text-white lh-100" align="center">Bobot Penilaian</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <input type="text" id="jenistugas" placeholder="Jenis Tugas">
                    <input type="text" id="bobotpenilaian" placeholder="Bobot Penilaian">
                    <input type="button" class="add-row" value="Tambahkan">
                </form>
                <table>
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Jenis Tugas</th>
                        <th>Bobot Penilaian</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" name="record"></td>
                        <td>Tugas Mandiri</td>
                        <td>*) Tugas terdiri dari 1-14. Anda dapat mengisi tugas sebanyak 14 kalipertemuan dengan total presentase 100% tidak boleh lebih atau kurang.</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="delete-row">Hapus</button>
                <br>
                <br>
            </form>
            <div class="tab-content">
                <!--Tab Mata Kuliah-->
                <div class="tab-pane" id="gedung" role="tabpanel">
                    <table width="100%">
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Pilih Kampus</label>
                                                <select onchange="" style="width: 500px;" class="form-control js-example-placeholder-single" id="provinsi"
                                                        name="provinsi">
                                                    <option></option>
                                                    <option>STEI TAZKIA SENTUL</option>
                                                    <option>STEI TAZKIA MATRIKULASI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <a th:href="@{/penilaian/form}" class="btn btn-primary" role="button" aria-pressed="true">Tambahkan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
        </div>
        <br>

    </div>

</section>

</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".add-row").click(function(){
            var jenistugas = $("#jenistugas").val();
            var bobotpenilaian = $("#bobotpenilaian").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + jenistugas + "</td><td>" + bobotpenilaian + "</td></tr>";
            $("table tbody").append(markup);
        });

        // Find and remove selected table rows
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
                if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
    });
</script>