<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Penilaian</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Assesment <small>main</small></h2>
                    <div class="clearfix"></div>
                </div>
                <form method="get">
                    <div class="form-group">
                        <div class="row col-sm-offset-1 ">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <center><label><b>Prodi/Semester</b></label></center>
                                        <select class="form-control js-example-placeholder-single"
                                                style="width: 100%!important;" name="tahunAkademik">
                                            <option value=""></option>
                                            <option th:each="data : ${tahunAkademik}"
                                                    th:selected="(${data} == *{selectedTahun})"
                                                    th:text="${'('+ data.prodi.namaProdi +')'  + '       -       ' +  data.tahunAkademik.namaTahunAkademik}"
                                                    th:value="${data.id}">sdasd</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <center><label><b>Program Pendidikan</b></label></center>
                                        <select class="form-control js-example-placeholder-single"
                                                style="width: 100%!important;" name="program">
                                            <option value=""></option>
                                            <option th:each="data : ${program}"
                                                    th:selected="(${data} == *{selectedProgram})"
                                                    th:text="${data.namaProgram}"
                                                    th:value="${data.id}">sdasd</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <center>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Search</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </form>
                <br>
                <hr>
                <div class="x_content" th:if="${selectedTahun != null}">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Kode Matakuliah</th>
                            <th>Nama MataKuliah <small style="font-size: 8px;"></small></th>
                            <th>Nama Dosen</th>
                            <th>Kelas<small style="font-size: 8px;"></small></th>
                            <th>Jadwal</th>
                            <th>Jam</th>
                            <th colspan="4"></th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr th:each="jadwal,row : ${jadwal}">
                                <td th:text="${(row.index + 1)}">#5463</td>
                                <td th:if="${jadwal.matakuliahKurikulum.matakuliah.kodeMatakuliah != null}" th:text="${jadwal.matakuliahKurikulum.matakuliah.kodeMatakuliah}">SDS2019</td>
                                 <td th:if="${jadwal.matakuliahKurikulum.matakuliah.kodeMatakuliah == null}"></td>
                                <td th:if="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish != null}" th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}">SDS2019</td>
                            <td th:if="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish == null}"></td>
                                <td><b th:text="${jadwal.dosen.karyawan.namaKaryawan}"></b></td>
                                <td th:text="${jadwal.kelas.namaKelas}">K <small style="font-size: 8px;">R-10</small></td>
                                <td th:if="${jadwal.hari != null}" th:text="${jadwal.hari.namaHariEng}">Selasa</td>
                                <td th:if="${jadwal.hari == null}"></td>
                                <td th:text="${jadwal.jamMulai + ' - ' + jadwal.jamSelesai}">13.00-15.00</td>
                                <td>
                                    <a th:href="@{/penilaian/bobot (jadwal = ${jadwal.id})}">
                                        <button class="fa fa-edit btn btn-primary btn-sm" type="button"> Bobot</button>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/penilaian/nilai(jadwal = ${jadwal.id})}">
                                        <button class="fa fa-edit btn btn-warning btn-sm" type="button"> Nilai Mahasiswa</button>
                                    </a>

                                </td>
                                <td>
                                    <a  th:href="@{/penilaian/uploadnilai(jadwal = ${jadwal.id})}">
                                        <button class="fa fa-pencil btn btn-success btn-sm" type="button"> Submit Nilai</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-8">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>