<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Assesment <small>main</small></h2>
                    <div class="clearfix"></div>
                </div>
                <br>
                <hr>
                <div class="x_content">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>Kode MK</th>
                            <th>Mata Kuliah <small style="font-size: 8px;">SKS</small></th>
                            <th>Kelas <small style="font-size: 8px;">KRS</small></th>
                            <th>Jadwal</th>
                            <th>Jam</th>
                            <th colspan="4"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <span>
                            <tr th:each="jadwal,row : ${jadwal}">
                                <td th:text="${(row.index + 1)}">#5463</td>
                                <td th:text="${jadwal.matakuliahKurikulum.matakuliah.kodeMatakuliah}">SDS2019</td>
                                <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}">Student Dynamic Session <small style="font-size: 8px;">0 sks</small> </td>
                                <td th:text="${jadwal.kelas.namaKelas}">K <small style="font-size: 8px;">R-10</small></td>
                                <td th:if="${jadwal.hari != null}" th:text="${jadwal.hari.namaHariEng}">Selasa</td>
                                <td th:if="${jadwal.hari == null}"></td>
                                <td th:text="${jadwal.jamMulai + ' - ' + jadwal.jamSelesai}">13.00-15.00</td>
                                <td>
                                    <a th:href="@{/penilaian/bobot (jadwal = ${jadwal.id})}">
                                        <button class="fa fa-edit btn btn-primary btn-sm" type="button"> Bobot</button>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/penilaian/nilai(jadwal = ${jadwal.id})}">
                                        <button class="fa fa-edit btn btn-warning btn-sm" type="button"> Nilai Mahasiswa</button>
                                    </a>

                                </td>
                                <td>
                                    <a  th:href="@{/penilaian/uploadnilai(jadwal = ${jadwal.id})}">
                                        <button class="fa fa-pencil btn btn-success btn-sm" type="button"> Submit Nilai</button>
                                    </a>
                                </td>
                            </tr>
                        </span>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>