<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }
        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Assesment <small>nilai</small></h2>
                    <div class="clearfix"></div>
                </div>
                <table class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    <div class="form-group">
                        <div class="row col-sm-offset-1 ">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <div class="btn-group">
                                            <a th:href="@{/penilaian/bobot}">
                                                <button class="btn btn-default"  type="button">Bobot Penilaian</button>
                                            </a>
                                            <a th:href="@{/penilaian/nilai}">
                                                <button class="btn btn-primary" type="button">Nilai Mahasiswa</button>
                                            </a>
                                            <a th:href="@{/penilaian/list}">
                                                <button class="btn btn-default" type="button">Kembali</button>
                                            </a>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <table class="table table-striped">
                                <tr>
                                    <td>Tahun Akademik</td>
                                    <td>:</td>
                                    <td>20191</td>
                                    <td>&nbsp;</td>
                                    <td>Program Studi</td>
                                    <td>:</td>
                                    <td>Manajemen Bisnis Syariah <small style="font-size: 8px">01</small></td>
                                </tr>
                                <tr>
                                    <td>Mata Kuliah</td>
                                    <td>:</td>
                                    <td>Student Dynamic Session <small style="font-size: 8px">SDS20192</small></td>
                                    <td>&nbsp;</td>
                                    <td>Dosen</td>
                                    <td>:</td>
                                    <td>Afif Zaerofi <small style="font-size: 8px">M.M</small></td>
                                </tr>
                                <tr>
                                    <td>SKS</td>
                                    <td>:</td>
                                    <td>0 <small>,</small> <span>Peserta : 23</span></td>
                                    <td>&nbsp;</td>
                                    <td>Kelas</td>
                                    <td>:</td>
                                    <td>K <small style="font-size: 8px">R</small></td>
                                </tr>
                                <tr>
                                    <td>Jadwal Kuliah</td>
                                    <td>:</td>
                                    <td>Selasa <small style="font-size: 8px">13.00-15.00</small>,Presensi 4</td>
                                    <td>&nbsp;</td>
                                    <td>Jadwal Ujian</td>
                                    <td>:</td>
                                    <td>01-01-2019, Rabu <small style="font-size: 8px">14.00-15.30</small></td>
                                </tr>
                            </table>


                            <center>
                                <div class="clearfix">
                                    <h2>Penilaian</h2>
                                    <div class="x_title"></div>
                                </div>
                            </center>
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped">
                                    <tr>
                                        <td rowspan="2" align="center">NIM</td>
                                        <td rowspan="2" align="center">Mahasiswa</td>
                                        <td rowspan="2" align="center">Σ PRS</td>
                                        <td rowspan="2" align="center">PRS 0.00%</td>
                                        <td colspan="42" align="center">Tugas Mandiri ⚡ 0.00%</td>
                                        <td rowspan="2" align="center">UTS 0.00%</td>
                                        <td rowspan="2" align="center">UAS 0.00%</td>
                                        <td rowspan="2" align="center">Nilai Akhir</td>
                                        <td rowspan="2" align="center">Grade ⚡</td>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Tgs 1 0.00%</th>
                                        <th colspan="3">Tgs 2 0.00%</th>
                                        <th colspan="3">Tgs 3 0.00%</th>
                                        <th colspan="3">Tgs 4 0.00%</th>
                                        <th colspan="3">Tgs 5 0.00%</th>
                                        <th colspan="3">Tgs 6 0.00%</th>
                                        <th colspan="3">Tgs 7 0.00%</th>
                                        <th colspan="3">Tgs 8 0.00%</th>
                                        <th colspan="3">Tgs 9 0.00%</th>
                                        <th colspan="3">Tgs 10 0.00%</th>
                                        <th colspan="3">Tgs 11 0.00%</th>
                                        <th colspan="3">Tgs 12 0.00%</th>
                                        <th colspan="3">Tgs 13 0.00%</th>
                                        <th colspan="3">Tgs 14 0.00%</th>
                                    </tr>
                                    <tbody>
                                    <tr>
                                        <td>1-1519005-216647</td>
                                        <td>Rani Sry</td>
                                        <td>4<sup>x</sup></td>
                                        <td>0</td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="1"><input type="text" class="form-control"></td>
                                        <td colspan="1"><input type="text" class="form-control"></td>
                                        <td>0.00</td>
                                        <td>-<sup>0.00</sup></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>2-1519008-216648</td>
                                        <td>Ismi Dinda</td>
                                        <td>5<sup>x</sup></td>
                                        <td>0</td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="3"><input type="text" class="form-control"></td>
                                        <td colspan="1"><input type="text" class="form-control"></td>
                                        <td colspan="1"><input type="text" class="form-control"></td>
                                        <td>0.00</td>
                                        <td>-<sup>0.00</sup></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <center>
                                <button type="button" class="btn btn-success">Simpan Penilaian</button>
                            </center>
                        </div>
                    </div>
                    </p>
                </table>
            </div>
        </div>
    </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>