<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }
        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }

        input::-webkit-input-placeholder {
            color: darkred;
            font-weight: bold;
        }
        input:-moz-placeholder {
            color: darkred;
            font-weight: bold;
        }

        input::-moz-placeholder {
            color: darkred;
            font-weight: bolder;
        }
        input:-ms-input-placeholder {
            color: darkred;
            font-weight: bold;
        }
    </style>
</head>
<body>
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $('.filterme').keypress(function(eve) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        });


        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $(document).ready(
            function() {
                setInterval(function() {
                    $.get("/api/nilai?krsDetail="+ $("input[name='" + id + '-' + 'krs' + "']").val(), function(data, status){
                        document.getElementById(data.mahasiswa.id).innerHTML = data.nilaiAkhir;
                        document.getElementById(data.mahasiswa.id+'grade').innerHTML = data.grade;
                        // console.log(data);
                    });

                }, 5000);  //Delay here = 5 seconds
            });



        //function uas
        function myFunction(arg) {
            var id = arg.getAttribute('id');
            var value = arg.value;

            // var idKrs = evt.getAttribute('id');
            // var valueKrs = evt.value;
            console.log(id);
            console.log(value);
            console.log($("input[name='" + id + '-' + 'krs' + "']").val());

            $(document).keyup(function (e) {
                delay(function () {
                    console.log(id);
                    var url = "/penilaian/nilai";
                    var token = $("input[name='_csrf']").val();
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=UTF-8",
                        headers: {"X-CSRF-TOKEN": token},
                        url: url,
                        data: JSON.stringify({
                            "krs" : $("input[name='" + id + '-' + 'krs' + "']").val(),
                            "uts" : value,
                            "nilai": "",
                            "tugas": "",
                            "uas" : ""
                        })
                    }, 500);

                    $.get("/api/nilai?krsDetail="+ $("input[name='" + id + '-' + 'krs' + "']").val(), function(data, status){
                        document.getElementById(data.mahasiswa.id).innerHTML = data.nilaiAkhir;
                        document.getElementById(data.mahasiswa.id+'grade').innerHTML = data.grade;
                        // console.log(data);
                    });

                }, 1000);
            });
        }



        //function tugas
        function lookup(arg) {
                var id = arg.getAttribute('id');
                var value = arg.value;

            var mahasiswa = /*[[${jsMahasiswa}]]*/["001", "002"];
            var i;

            console.log(id);

                $(document).keyup(function (e) {
                    delay(function () {

                        var url = "/penilaian/nilai";
                        var token = $("input[name='_csrf']").val();
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json;charset=UTF-8",
                            headers: {"X-CSRF-TOKEN": token},
                            data: JSON.stringify({

                                "nilai": $("input[name='" + id + "']").val(),
                                "tugas": $("input[name='" + id + '-' + 'id' + "']").val(),
                                "krs": $("input[name='" + id + '-' + 'krs' + "']").val()
                            }),
                            url: url
                        }, 500);

                        $.get("/api/nilai?krsDetail="+ $("input[name='" + id + '-' + 'krs' + "']").val(), function(data, status){
                                document.getElementById(data.mahasiswa.id).innerHTML = data.nilaiAkhir;
                            document.getElementById(data.mahasiswa.id+'grade').innerHTML = data.grade;
                            // console.log(data);
                        });


                    }, 1000);
                });
        }


        function hitungUas(arg) {
            var id = arg.getAttribute('id');
            var value = arg.value;

            $(document).keyup(function (e) {
                delay(function () {
                    console.log(id);
                    var url = "/penilaian/nilai";
                    var token = $("input[name='_csrf']").val();
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=UTF-8",
                        headers: {"X-CSRF-TOKEN": token},
                        url: url,
                        data: JSON.stringify({
                            "krs" : $("input[name='" + id + '-' + 'krs' + "']").val(),
                            "uts" : "",
                            "nilai": "",
                            "tugas": "",
                            "uas" : value
                        })
                    }, 500);

                    $.get("/api/nilai?krsDetail="+ $("input[name='" + id + '-' + 'krs' + "']").val(), function(data, status){
                        document.getElementById(data.mahasiswa.id).innerHTML = data.nilaiAkhir;
                        document.getElementById(data.mahasiswa.id+'grade').innerHTML = data.grade;
                        console.log(data);
                    });

                }, 1000);
            });
        }

    </script>
</th:block>
<section layout:fragment="main" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Assesment <small>nilai</small></h2>
                    <div class="clearfix"></div>
                </div>
                <table class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    <div class="form-group">
                        <div class="row col-sm-offset-1 ">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <div class="btn-group">
                                            <a th:href="@{/penilaian/bobot(jadwal = ${jadwal.id})}">
                                                <button class="btn btn-default"  type="button">Bobot Penilaian</button>
                                            <!--</a>-->
                                            <a th:href="@{/penilaian/nilai}">
                                                <button class="btn btn-primary" type="button">Nilai Mahasiswa</button>
                                            </a>
                                            <a th:href="@{/penilaian/list}">
                                                <button class="btn btn-default" type="button">Kembali</button>
                                            </a>
                                        </div>
                                    </center>
                                </div>
                            </div>

                            <table class="table table-striped">
                                <tr>
                                    <td>Tahun Akademik</td>
                                    <td>:</td>
                                    <td th:text="${jadwal.tahun}">20191</td>
                                    <td>&nbsp;</td>
                                    <td>Program Studi</td>
                                    <td>:</td>
                                    <td th:text="${jadwal.prodi}">Manajemen Bisnis Syariah <small style="font-size: 8px">01</small></td>
                                </tr>
                                <tr>
                                    <td>Mata Kuliah</td>
                                    <td>:</td>
                                    <td th:text="${jadwal.matakuliah}">Student Dynamic Session <small style="font-size: 8px">SDS20192</small></td>
                                    <td>&nbsp;</td>
                                    <td>Dosen</td>
                                    <td>:</td>
                                    <td th:text="${jadwal.dosen}">Afif Zaerofi <small style="font-size: 8px">M.M</small></td>
                                </tr>
                                <tr>
                                    <td>SKS</td>
                                    <td>:</td>
                                    <td><span th:text="${jadwal.sks}"></span> <small>,</small> <span>Peserta :
                                        <span th:text="${jumlahMahasiswa}"></span></span> , <span>Absensi Dosen : </span><span th:text="${absensi}"></span>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>Kelas</td>
                                    <td>:</td>
                                    <td th:text="${jadwal.kelas}">K</td>
                                </tr>
                                <tr>
                                    <td>Jadwal Kuliah</td>
                                    <td>:</td>
                                    <td><span th:text="${jadwal.hari}"></span>
                                        <small style="font-size: 8px" th:text="${jadwal.jamMulai + ' - ' + jadwal.jamSelesai}">13.00-15.00</small>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>Jadwal Ujian</td>
                                    <td>:</td>
                                    <td>- <small style="font-size: 8px"></small></td>
                                </tr>
                            </table>


                            <center>
                                <div class="clearfix">
                                    <h2>Penilaian</h2>
                                    <div class="x_title"></div>
                                </div>
                            </center>
                            <span>
                                <span th:each="a : ${nim}" th:text="${a}"></span>
                                <form th:action="@{/penilaian/nilai}" enctype="application/json" id="employeeForm" method="post">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-striped">
                                            <tr>
                                                <td align="center">NIM</td>
                                                <td align="center">Mahasiswa</td>
                                                <td align="center">Σ PRS</td>
                                                <td align="center">PRS <br th:text="${jadwal.presensi}">0.00%</td>
                                                <td th:each="tugas :${bobotTugas}" align="center"><span th:text="${tugas.nama}"></span><br><span th:text="${tugas.bobot +'%'}"></span></td>
                                                <td align="center">UTS <br th:text="${jadwal.uts + '%'}"></td>
                                                <td align="center">UAS <br th:text="${jadwal.uas + '%'}"></td>
                                                <td align="center">Nilai Akhir</td>
                                                <td align="center">Grade ⚡</td>
                                            </tr>
                                            <tbody th:each="data,row : ${mahasiswa}">
                                            <tr>
                                                <td><span th:text="${row.index + 1 + '  -  ' + data.nim}"></span></td>
                                                <td th:text="${data.nama}">Rani Sry</td>
                                                <td><span th:text="${data.absensi}"></span><sup>x</sup></td>
                                                <td th:text="${data.presensi}">0</td>
                                                <td th:each="tugas :${bobotTugas}"><center>
                                                    <input th:each="nilai :${nilaiTugas}" th:if="${nilai.id == data.id && nilai.nama == tugas.id}" class="filterme" type="text" maxlength="3" th:name="${tugas.id + '-' + data.nim}" onkeyup="lookup(this);" th:id="${tugas.id + '-' + data.nim}" style="width: 80%;" th:placeholder="${nilai.bobot}">
                                                    <input type="hidden" th:value="${tugas.id}" th:name="${tugas.id + '-' + data.nim + '-' + 'id'}">
                                                    <input type="hidden" th:value="${data.id}" th:name="${tugas.id + '-' + data.nim + '-' + 'krs'}">
                                                </center></td>
                                                <td><center>
                                                    <input class="filterme" th:placeholder="${data.nilaiUts}" type="text" maxlength="3" th:id="${data.nim + '-' + 'uts'}" th:name="${data.nim + 'uts'}"  onkeyup="myFunction(this);" style="width: 80%;"></center>
                                                    <input type="hidden" th:name="${data.nim + '-' + 'uts' + '-' + 'krs'}" th:id="${data.nim + '-' + 'uts' + 'krs'}" th:value="${data.id}">
                                                </td>
                                                <td><center>
                                                    <input class="filterme" th:placeholder="${data.nilaiUas}" type="text" maxlength="3" th:id="${data.nim + '-' + 'uas'}" th:name="${data.nim + 'uas'}" onkeyup="hitungUas(this);" style="width: 80%;">
                                                    <input type="hidden" th:name="${data.nim + '-' + 'uas' + '-' + 'krs'}" th:id="${data.nim + '-' + 'uas' + 'krs'}" th:value="${data.id}">
                                                </center></td>

                                                <td><span th:id="${data.nim}"></span></td>
                                                <td><span th:id="${data.nim+'grade'}">0.00</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                </form>
                            </span>
                        </div>
                    </div>
                    </p>
                </table>
            </div>
        </div>
    </div>
    </div>

</section>

</body>
</html>