<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">PENILAIAN</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h3 class="border-bottom border-gray pb-2 mb-0"><center>Penilaian</center></h3>
        <!--<h6 align="center">2017</h6>-->
        <br>


        <div id="page" class="container-fluid">
            <ul id="block-myoverview-view-choices-5b515e643e85b5b515e643e8981" class="nav nav-tabs" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link" href="#myoverview_bobot_view" role="tab" data-toggle="tab" data-tabname="bobot">
                        Bobot Penilaian
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#myoverview_nilai_view" role="tab" data-toggle="tab" data-tabname="nilai">
                        Nilai Mahasiswa
                    </a>
                </li>
                <table border="0" cellspacing="6" cellpadding="2">
                    <tr>
                        <td><button type="button" class="btn btn-primary">Kembali</button></td>
                    </tr>
                </table>
            </ul>

        </div>
    </div>


    <div role="tabpanel" class="tab-pane fade in active" id="myoverview_nilai_view">
        <div id="courses-view-5b515e643e85b5b515e643e8981" data-region="nilai-view">
            <div class="col-md-12">
                <div class="row">
                    <div class="input-group input-group-sm" style="....">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thn Akademik: 20172</label>
                            </div>
                            <div class="form-group">
                                <label>Matakuliah: Student Dynamic Session</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Program Studi: Manajemen Bisnis Syariah</label>
                            </div>
                            <div class="form-group">
                                <label>Dosen: Afif Zaerofi</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>SKS: 0, Peserta: 23</label>
                            </div>
                            <div class="form-group">
                                <label>Kelas: K</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Jadwal Kuliah: Selasa 13:00-15:00, Presensi: 4</label>
                            </div>
                            <div class="form-group">
                                <label>Jadwal Ujian: 01-01-1930, Rabu, 00:00-00:00</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom border-gray pb-2 mb-0"></div>
            <br>

            <form method="get">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary">Simpan Semua</button>
                                <button type="button" class="btn btn-primary">Refresh</button>
                                <button type="button" class="btn btn-primary">Finalisasi</button>
                                <button type="button" class="btn btn-primary">Gagal Penilaian</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form><br>


            <div class="box-body table-responsive no-padding">
                <table class="table table-striped">
                    <tr>
                        <td rowspan="2" align="center">NIM</td>
                        <td rowspan="2" align="center">Mahasiswa</td>
                        <td rowspan="2" align="center">Σ PRS</td>
                        <td rowspan="2" align="center">PRS 0.00%</td>
                        <td colspan="42" align="center">Tugas Mandiri ⚡ 0.00%</td>
                        <td rowspan="2" align="center">UTS 0.00%</td>
                        <td rowspan="2" align="center">UAS 0.00%</td>
                        <td rowspan="2" align="center">Nilai Akhir</td>
                        <td rowspan="2" align="center">Grade ⚡</td>
                    </tr>
                    <tr>
                        <th colspan="3">Tgs 1 0.00%</th>
                        <th colspan="3">Tgs 2 0.00%</th>
                        <th colspan="3">Tgs 3 0.00%</th>
                        <th colspan="3">Tgs 4 0.00%</th>
                        <th colspan="3">Tgs 5 0.00%</th>
                        <th colspan="3">Tgs 6 0.00%</th>
                        <th colspan="3">Tgs 7 0.00%</th>
                        <th colspan="3">Tgs 8 0.00%</th>
                        <th colspan="3">Tgs 9 0.00%</th>
                        <th colspan="3">Tgs 10 0.00%</th>
                        <th colspan="3">Tgs 11 0.00%</th>
                        <th colspan="3">Tgs 12 0.00%</th>
                        <th colspan="3">Tgs 13 0.00%</th>
                        <th colspan="3">Tgs 14 0.00%</th>
                    </tr>
                    <tbody>
                    <tr>
                        <td>1-1519005-216647</td>
                        <td>Rani Sry</td>
                        <td>4<sup>x</sup></td>
                        <td>0</td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="1"><input type="text" class="form-control"></td>
                        <td colspan="1"><input type="text" class="form-control"></td>
                        <td>0.00</td>
                        <td>-<sup>0.00</sup></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>2-1519008-216648</td>
                        <td>Ismi Dinda</td>
                        <td>5<sup>x</sup></td>
                        <td>0</td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="3"><input type="text" class="form-control"></td>
                        <td colspan="1"><input type="text" class="form-control"></td>
                        <td colspan="1"><input type="text" class="form-control"></td>
                        <td>0.00</td>
                        <td>-<sup>0.00</sup></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>