<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Upload Nilai</title>

</head>
<body>

<section layout:fragment="main" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Upload Nilai</h2>
                    <div class="clearfix"></div>
                </div>
                <table class="x_content">
                    <div class="form-group">
                        <div class="row col-sm-offset-1 ">



                            <table class="table table-hover">
                                <tr th:each="data : ${listTugas}">
                                    <td th:text="${data.namaTugas}" style="font-weight: bold"><label>Tugas 1</label></td>
                                    <td>&nbsp; : &nbsp;</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" th:href="@{/nilai/excelTugas (id = ${data.id})}">Download File Excel</a>
                                    </td>
                                    <td>
                                        <form th:action="@{/upload/formTugas (jadwal = ${data.id})}"
                                              method="post" enctype="multipart/form-data">
                                            <input class="btn btn-success btn-sm" type="file" name="file">
                                            <button class="btn btn-success btn-sm" type="submit">Upload Nilai</button>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <td ><label>UTS</label></td>
                                    <td >&nbsp; : &nbsp;</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" th:href="@{/nilai/excelUTS (id = ${jadwal.id})}">
                                            Download File Excel
                                        </a>
                                    </td>
                                    <td>
                                        <form th:action="@{/upload/formUTS (jadwal = ${jadwal.id})}"
                                              method="post" enctype="multipart/form-data">

                                            <input class="btn btn-success btn-sm" type="file" name="file">
                                            <button class="btn btn-success btn-sm" type="submit">Upload Nilai</button>

                                        </form>
                                    </td>
                                </tr>
                                <tr>

                                    <td ><label>UAS</label></td>
                                    <td >&nbsp; : &nbsp;</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" th:href="@{/nilai/excelUAS (id = ${jadwal.id})}">
                                            Download File Excel
                                        </a>
                                    </td>
                                    <td>
                                        <form th:action="@{/upload/formUAS (jadwal = ${jadwal.id})}"
                                              method="post" enctype="multipart/form-data">

                                            <input class="btn btn-success btn-sm" type="file" name="file">
                                            <button class="btn btn-success btn-sm" type="submit">Upload Nilai</button>

                                        </form>
                                    </td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>




</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    $('.simpan').click(function () {
        Swal.fire({
            position: 'top-end',
            type: 'success',
            title: 'Your work has been saved',
            showConfirmButton: false
        })
    });
</script>