<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>EDOM</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Edom</h5>
                                        <span class="h2 font-weight-bold mb-0">Lecturer</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Evaluasi Dosen Oleh Mahasiswa Result</h3>
                    </div>
                    <div class="card-body">
                        <div class="card shadow">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Lecturer Name</td>
                                        <td>&nbsp; :</td>
                                        <td style="padding-left: 5px;" th:text="${jadwal.dosen.karyawan.namaKaryawan}">Ahmad Masykur</td>
                                    </tr>
                                    <tr>
                                        <td>Course Name</td>
                                        <td>&nbsp; :</td>
                                        <td style="padding-left: 5px;" th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}">Ushul Fiqh II</td>
                                    </tr>
                                    <tr>
                                        <td>Number of Students</td>
                                        <td>&nbsp; :</td>
                                        <td style="padding-left: 5px;" th:text="${jumlahMahasiswa}" >24</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col"><center>No</center></th>
                                        <th scope="col">Score Point</th>
                                        <th scope="col">Score</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><center>1</center></td>
                                        <td>Metelogi Pembelajaran</td>
                                        <td th:text="${e1}"><center>4.2</center></td>
                                    </tr>
                                    <tr>
                                        <td><center>2</center></td>
                                        <td>Materi Yang Disampaikan</td>
                                        <td th:text="${e2}"><center>4.2</center></td>
                                    </tr>
                                    <tr>
                                        <td><center>3</center></td>
                                        <td>Etika dalam pembelajaran</td>
                                        <td th:text="${e3}"><center>4.2</center></td>
                                    </tr>
                                    <tr>
                                        <td><center>4</center></td>
                                        <td>Kedisiplinan</td>
                                        <td th:text="${e4}"><center>4.2</center></td>
                                    </tr>
                                    <tr>
                                        <td><center>5</center></td>
                                        <td>Perhatian kepada Mahasiswa</td>
                                        <td th:text="${e5}"><center>4.2</center></td>
                                    </tr>
                                    </tbody>
                                    <thead class="thead-light">
                                    <tr>
                                        <th colspan="2"><center>Average</center></th>
                                        <th th:text="${rata}">4.2</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>