<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Upload Nilai</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Score</h5>
                                        <span class="h2 font-weight-bold mb-0">Assesment </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Form</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a th:href="@{/studiesActivity/assesment/weight (jadwal = ${jadwal.id})}" style="width: 100%;" class="btn btn-secondary">Pembobotan</a>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/studiesActivity/assesment/score (jadwal = ${jadwal.id})}" style="width: 100%;" class="btn btn-secondary">Penilaian</a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" style="width: 100%;" class="btn btn-primary">Submit Nilai</a>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/studiesActivity/assesment/list}" style="width: 100%;" class="btn btn-secondary">Back</a>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <h3 class="mb-0">Upload Nilai</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr th:each="data : ${listTugas}">
                                            <td th:text="${data.namaTugas}" style="font-weight: bold"><label>Tugas 1</label></td>
                                            <td>&nbsp; : &nbsp;</td>
                                            <td>
                                                <a class="btn btn-info btn-sm" th:href="@{/studiesActivity/assesment/excelTugas (id = ${data.id})}">Download File Excel</a>
                                            </td>
                                            <td>
                                                <form th:action="@{/studiesActivity/assesment/formTugas (jadwal = ${data.id})}"
                                                      method="post" enctype="multipart/form-data">
                                                    <input class="btn btn-success btn-sm" type="file" name="file" id="uploadTugasFile">
                                                    <button class="btn btn-success btn-sm simpan" type="submit" id="uploadTugas">Upload Nilai</button>
                                                </form>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td ><label>UTS</label></td>
                                            <td >&nbsp; : &nbsp;</td>
                                            <td>
                                                <a class="btn btn-info btn-sm" th:href="@{/studiesActivity/assesment/excelUTS (id = ${jadwal.id})}">
                                                    Download File Excel
                                                </a>
                                            </td>
                                            <td>
                                                <form th:action="@{/studiesActivity/assesment/formUTS (jadwal = ${jadwal.id})}"
                                                      method="post" enctype="multipart/form-data">

                                                    <input class="btn btn-success btn-sm" type="file" name="file" id="uploadUTSFile">
                                                    <button class="btn btn-success btn-sm simpan" type="submit" id="uploadUTS">Upload Nilai</button>

                                                </form>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td ><label>UAS</label></td>
                                            <td >&nbsp; : &nbsp;</td>
                                            <td>
                                                <a class="btn btn-info btn-sm" th:href="@{/studiesActivity/assesment/excelUAS (id = ${jadwal.id})}">
                                                    Download File Excel
                                                </a>
                                            </td>
                                            <td>
                                                <form th:action="@{/studiesActivity/assesment/formUAS (jadwal = ${jadwal.id})}"
                                                      method="post" enctype="multipart/form-data">

                                                    <input class="btn btn-success btn-sm" type="file" name="file" id="uploadUASFile">
                                                    <button class="btn btn-success btn-sm simpan" type="submit" id="uploadUAS">Upload Nilai</button>

                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>