<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h2 font-weight-bold mb-0">Upload Soal</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Data List</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" th:if="${tidakvalid == null}">
                        <div class="alert alert-danger">
                            <strong>Upload Soal Ujian telah berakhir sesuai agenda kalendar akademik.</strong>
                        </div>
                    </div>

                    <div class="card-body" th:if="${upload != null}">

                        <div class="nav-wrapper mb-4">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"> UTS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="true"> UAS</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th>#</th>
                                            <th>Ruangan Kelas</th>
                                            <th>Hari</th>
                                            <th>Waktu</th>
                                            <th>Matakuliah</th>
                                            <th>Kelas</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="data,row : ${listUts}">
                                            <td th:text="${(row.index + 1)}"></td>
                                            <td th:text="${data.ruangan}"></td>
                                            <td th:text="${data.hari}"></td>
                                            <td th:text="${data.mulai+' - '+data.selesai}"></td>
                                            <td th:text="${data.matkul}"></td>
                                            <td th:text="${data.kelas}"></td>
                                            <td>
                                                <a  class="btn btn-warning btn-sm text-white"
                                                    th:if="${data.status == 'WAITING'}"
                                                    th:text="${'MENUNGGU'}">
                                                </a>
                                                <a  class="btn btn-success btn-sm text-white"
                                                    th:if="${data.status == 'APPROVED'}"
                                                    th:text="${'DISETUJUI'}">
                                                </a>
                                                <a  class="btn btn-danger btn-sm text-white"
                                                    th:if="${data.status == 'REJECTED'}"
                                                    th:text="${'DITOLAK'}">
                                                </a>
                                                <a  class="btn btn-primary btn-sm text-white"
                                                    th:if="${data.status == 'NOT_UPLOADED_YET'}"
                                                    th:text="${'BELUM UPLOAD'}">
                                                </a>
                                            </td>
                                            <td>
                                                 <span th:if="${dosen.id == data.akses}">
                                                        <a th:href="@{/studiesActivity/assesment/upload/soal(jadwal= ${data.id}, status = 'UTS')}" th:if="${data.status == 'NOT_UPLOADED_YET'}" class="btn btn-sm btn-neutral btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-list"></i></span>
                                                            <span class="btn-inner--text">Upload Soal UTS</span>
                                                        </a>
                                                    <div th:if="${data.status == 'WAITING'}">
                                                        <a th:href="@{/studiesActivity/assesment/upload/soal(jadwal= ${data.id}, status = 'UTS')}" class="btn btn-sm btn-neutral btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-list"></i></span>
                                                            <span class="btn-inner--text">Upload Soal UTS</span>
                                                        </a>
                                                    </div>
                                                    <div th:if="${data.status == 'REJECTED'}">
                                                        <a th:href="@{/studiesActivity/assesment/upload/soal(jadwal= ${data.id}, status = 'UTS')}" class="btn btn-sm btn-neutral btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-list"></i></span>
                                                            <span class="btn-inner--text">Upload Ulang Soal UTS</span>
                                                        </a>
                                                    </div>
                                                    <div th:if="${data.status == 'APPROVED'}">
                                                        <a th:href="@{/filedownload/(soal=${data.soal})}" class="btn btn-sm btn-success btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
                                                            <span class="btn-inner--text">Download File</span>
                                                        </a>
                                                    </div>
                                                </span>
                                            </td>
                                            <td>

                                                <button th:if="${dosen.id == data.idDos}" class="btn btn-sm btn-default" data-toggle="modal" th:data-target="${'#modal-akses-uts'+data.id}"><i class="ni ni-settings-gear-65"></i> Akses Upload Soal</button>
                                                <div class="modal fade" th:id="${'modal-akses-uts'+data.id}" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body p-0">

                                                                <form method="post" th:action="@{/berkas/uts/setting}">
                                                                    <input type="hidden" name="jadwal" th:value="${data.id}">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Akses Upload Soal <span th:text="${data.matkul}"></span></h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label>Upload UTS</label>
                                                                                    <select name="uts" class="form-control">
                                                                                        <option th:each="dosen : ${dosenAkses}"
                                                                                                th:if="${data.id} == ${dosen.jadwal.id}"
                                                                                                th:selected="(${dosen.dosen} == *{dosen.jadwal.aksesUts})"
                                                                                                th:text="${dosen.dosen.karyawan.namaKaryawan}"
                                                                                                th:value="${dosen.dosen.id}"></option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th>#</th>
                                            <th>Ruangan Kelas</th>
                                            <th>Hari</th>
                                            <th>Waktu</th>
                                            <th>Matakuliah</th>
                                            <th>Kelas</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="data,row : ${listUas}">
                                            <td th:text="${(row.index + 1)}"></td>
                                            <td th:text="${data.ruangan}"></td>
                                            <td th:text="${data.hari}"></td>
                                            <td th:text="${data.mulai+' - '+data.selesai}"></td>
                                            <td th:text="${data.matkul}"></td>
                                            <td th:text="${data.kelas}"></td>
                                            <td>
                                                <a  class="btn btn-warning btn-sm text-white"
                                                    th:if="${data.status == 'WAITING'}"
                                                    th:text="${'MENUNGGU'}">
                                                </a>
                                                <a  class="btn btn-success btn-sm text-white"
                                                    th:if="${data.status == 'APPROVED'}"
                                                    th:text="${'DISETUJUI'}">
                                                </a>
                                                <a  class="btn btn-danger btn-sm text-white"
                                                    th:if="${data.status == 'REJECTED'}"
                                                    th:text="${'DITOLAK'}">
                                                </a>
                                                <a  class="btn btn-primary btn-sm text-white"
                                                    th:if="${data.status == 'NOT_UPLOADED_YET'}"
                                                    th:text="${'BELUM UPLOAD'}">
                                                </a>
                                            </td>
                                            <td>
                                                 <span th:if="${dosen.id == data.akses}">
                                                        <a th:href="@{/studiesActivity/assesment/upload/soal(jadwal= ${data.id}, status = 'UAS')}" th:if="${data.status == 'NOT_UPLOADED_YET'}" class="btn btn-sm btn-neutral btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-list"></i></span>
                                                            <span class="btn-inner--text">Upload Soal UAS</span>
                                                        </a>
                                                    <div th:if="${data.status == 'WAITING'}">
                                                        <a th:href="@{/studiesActivity/assesment/upload/soal(jadwal= ${data.id}, status = 'UAS')}" class="btn btn-sm btn-neutral btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-list"></i></span>
                                                            <span class="btn-inner--text">Upload Soal UAS</span>
                                                        </a>
                                                    </div>
                                                    <div th:if="${data.status == 'REJECTED'}">
                                                        <a th:href="@{/studiesActivity/assesment/upload/soal(jadwal= ${data.id}, status = 'UAS')}" class="btn btn-sm btn-neutral btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-list"></i></span>
                                                            <span class="btn-inner--text">Upload Ulang Soal UAS</span>
                                                        </a>
                                                    </div>
                                                    <div th:if="${data.status == 'APPROVED'}">
                                                        <a th:href="@{/filedownload/(soal=${data.soal})}" class="btn btn-sm btn-success btn-icon">
                                                            <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
                                                            <span class="btn-inner--text">Download File</span>
                                                        </a>
                                                    </div>
                                                </span>
                                            </td>
                                            <td>

                                                <button th:if="${dosen.id == data.idDos}" class="btn btn-sm btn-default" data-toggle="modal" th:data-target="${'#modal-akses-uas'+data.id}"><i class="ni ni-settings-gear-65"></i> Akses Upload Soal</button>
                                                <div class="modal fade" th:id="${'modal-akses-uas'+data.id}" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body p-0">

                                                                <form method="post" th:action="@{/berkas/uas/setting}">
                                                                    <input type="hidden" name="jadwal" th:value="${data.id}">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Akses Upload Soal <span th:text="${data.matkul}"></span></h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label>Upload UAS</label>
                                                                                    <select name="uas" class="form-control">
                                                                                        <option th:each="dosen : ${dosenAkses}"
                                                                                                th:if="${data.id} == ${dosen.jadwal.id}"
                                                                                                th:selected="(${dosen.dosen} == *{dosen.jadwal.aksesUas})"
                                                                                                th:text="${dosen.dosen.karyawan.namaKaryawan}"
                                                                                                th:value="${dosen.dosen.id}"></option>
                                                                                    </select>
                                                                                </div>
                                                                                <input type="hidden" name="jadwal" id="jadwal">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>