<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Komponen Biaya</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Komponen Biaya <small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <table width="100%">
                    <tr>
                        <td>
                            <a th:href="@{/finance/komponenbiaya/form}" class="btn btn-primary"
                               role="button" aria-pressed="true">Add</a>
                        </td>
                        <td class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search title_right ">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" name="search" th:value="${search}"
                                           placeholder="Search for..." class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Search</button>
                                    </span>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Show <span sd:page-size-selector="javascript"></span> entries
                        </td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk-action">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">#</th>
                            <th class="column-title">Nama</th>
                            <th class="column-title">Keterangan</th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Satuan</th>
                            <th scope="col" width="30px"></th>
                            <th scope="col" width="30px"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer" th:each="data,row : ${list}">
                            <td th:text="${(row.index + 1) + (list.number * list.size)}"></td>
                            <td th:text="${data.nama}"></td>
                            <td th:text="${data.keterangan}"></td>
                            <td>
                                <span th:if="${data.status.NONAKTIF} == ${data.status}" th:text="${data.status}" class="alert-danger"></span>
                                <span th:if="${data.status.AKTIF} == ${data.status}" th:text="${data.status}" class="alert-success"></span>
                            </td>
                            <td th:text="${data.satuan}"></td>
                            <td>
                                <a th:href="@{/finance/komponenbiaya/form (id = ${data.id})}"
                                   class="btn btn-info btn-xs">Edit</a>
                            </td>

                            <td>
                                <form method="post">
                                      <!--th:action="@{/akademik/delete(tahunAkademik = ${data.id})}">-->
                                    <button type="submit" class="btn btn-danger btn-xs"
                                            onclick="return confirm('Are you sure? Once deleted, ' +
                                             'you will not be able' + ' to recover this imaginary ' +
                                              'file!')">Delete
                                    </button>
                                </form>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-8">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</section>

</body>
</html>