<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Rekap</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h2>Yang Sudah Mengambil KRS<small></small></h2>
            <div class="clearfix"></div>
        </div>
        <br>

        <form method="get">
            <div class="form-group">
                <div class="row col-sm-offset-1 ">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <center><label><b>tahun Akademik</b></label></center>
                                <select class="form-control js-example-placeholder-single"
                                        style="width: 100%!important;" name="tahunAkademik" required>
                                    <option></option>
                                    <option th:each="tahun : ${tahun}" th:selected="(${selectedTahun} == *{tahun})"
                                            th:value="${tahun.id}" th:text="${tahun.namaTahunAkademik}"></option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<center><label><b>Angkatan</b></label></center>-->
                                <!--<select class="form-control js-example-placeholder-single"-->
                                        <!--style="width: 100%!important;" name="angkatan">-->
                                    <!--<option></option>-->
                                    <!--<option th:each="angkat : ${angkatan}" th:text="${angkat}"-->
                                            <!--th:selected="(${angkat} == *{selectedAngkatan})" th:value="${angkat}"></option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                </div>
                <center>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Search</button>
                        </div>
                    </div>
                </center>
            </div>
        </form>
        <br>
        <div class="table-responsive" th:if="${selectedTahun != null}">
            <div>
                Show <span sd:page-size-selector="javascript"></span> entries
            </div>
            <br>
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr class="headings">
                    <th scope="col">#</th>
                    <th scope="col">NIM</th>
                    <th>Nama</th>
                    <th scope="col">Nomor Telpon</th>
                    <th scope="col">Angkatan</th>

                </thead>
                <tbody>

                <tr class="even pointer" th:each="data,row : ${krs}">
                    <td th:text="${(row.index + 1) + (krs.number * krs.size)}"></td>
                    <td th:text="${data.mahasiswa.nim}"></td>
                    <td th:text="${data.mahasiswa.nama}"></td>
                    <td th:text="${data.mahasiswa.teleponSeluler}"></td>
                    <td th:text="${data.mahasiswa.angkatan}"></td>
                </tr>

                </tbody>
            </table>

            <center>
                <div class="row">
                    <div class="col-sm-8">
                        <nav class="pull-right">



                            <ul class="pagination" sd:pagination="full">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </center>



            <br>
        </div>
        <br>


    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>