<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Rekap Dosen</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Rekap Dosen<small>main</small></h2>
                    <div class="clearfix"></div>
                </div>
                <form method="get">
                    <div class="form-group">
                        <div class="row col-sm-offset-1 ">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <center><label><b>Semester</b></label></center>
                                        <select class="form-control js-example-placeholder-single"
                                                style="width: 100%!important;" name="ta">
                                            <option value=""></option>
                                            <option th:each="data : ${tahunAkademik}"
                                                    th:selected="(${data} == *{selectedTahun})"
                                                    th:text="${data.namaTahunAkademik}"
                                                    th:value="${data.id}">sdasd</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <center>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Search</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </form>
                <br>
                <hr>
                <div class="x_content" th:if="${selectedTahun != null}">
                    <div class="col-md-12 col-sm-12 col-xs-12" th:each="rekap, row : ${rekapJumlahSks}">
                        <div class="x_panel">
                            <section class="content invoice">
                                <!-- title row -->
                                <div class="row">
                                    <div class="col-xs-12 invoice-header">
                                        <h1>
                                            <i class="fa fa-user"></i> <Span  th:text="${rekap.value.namaDosen}"></Span>
                                            <!--<small class="pull-right">Ekonomi Islam</small>-->
                                        </h1>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- info row -->
                                <div class="row invoice-info">
                                    <div class="col-sm-4 invoice-col">
                                        <h2>Jumlah SKS</h2>
                                        <address>
                                            <h3><strong th:text="${rekap.value.totalSks}">9</strong></h3>
                                        </address>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <!-- Table row -->
                                <div class="row">
                                    <div class="col-xs-12 table">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Matakuliah</th>
                                                <th>SKS</th>
                                                <th>Kelas</th>
                                                <th>Hari</th>
                                                <th>Sesi</th>
                                                <th>Jam Mulai</th>
                                                <th>Jam Selesai</th>
                                                <th>Ruangan</th>
                                                <th>Jumlah Kehadiran</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="jd : ${rekapJadwalPerDosen.get(rekap.key)}">
                                                <td th:text="${jd.namaMatakuliah}">1</td>
                                                <td th:text="${jd.sks}">$64.50</td>
                                                <td th:text="${jd.namaKelas}">Call of Duty</td>
                                                <td th:text="${jd.namaHari}">455-981-221</td>
                                                <td th:text="${jd.sesi}">455-981-221</td>
                                                <td th:text="${jd.jamMulai}">455-981-221</td>
                                                <td th:text="${jd.jamSelesai}">455-981-221</td>
                                                <td th:text="${jd.namaRuangan}">455-981-221</td>
                                                <td>
                                                    <a th:href="@{/kebijakanpresensi/detail(jadwal=${jd.idJadwal})}" th:text="${jd.jumlahKehadiran}">jumlah kehadiran</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>