<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Prasyarat | SMILE</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Prasyarat<small>List</small></h2>
                <a th:href="@{/matakuliah/list (prodi = ${matakuliahKurikulum.kurikulum.prodi.id},kurikulum = ${matakuliahKurikulum.kurikulum.id})}" class="navbar-right panel_toolbox"><i class="fa fa-chevron-left"></i></a>
                <div class="clearfix"></div>
            </div>

            <form th:action="@{/prasyarat/form}" method="post" th:object="${pras}">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Prasyarat</label>
                                <select class="form-control js-example-placeholder-single"
                                        style="width: 100%!important;" name="matakuliahKurikulumPras" th:field="*{matakuliahKurikulumPras}">
                                    <option value=""></option>
                                    <option th:each="data : ${matakuliahPrasyarat}"
                                            th:value="${data.id}"
                                            th:text="${data.matakuliah.namaMatakuliah + '  -  ' + data.matakuliah.namaMatakuliahEnglish}"></option>

                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nilai</label>
                                <select class="form-control js-example-placeholder-single"
                                        style="width: 100%!important;" name="nilai" th:field="*{nilai}">
                                    <option value=""></option>
                                    <option th:each="data : ${grade}"
                                            th:text="${data.nama + '  -  ' + data.bobot}"
                                            th:value="${data.bobot}"></option>
                                </select>

                            </div>
                        </div>
                    </div>
                        <center>
                            <input type="hidden" name="matakuliahKurikulum" th:value="${matakuliahKurikulum.id}">
                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </center>
                </div>
            </form>
            <hr>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Prasyarat<small><b> </b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Nama Matakuliah</th>
                                    <th>Prasyarat</th>
                                    <th>Nilai</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${listPrasyarat}">
                                    <td th:text="${(row.index + 1)}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah + '  -  ' + data.matakuliah.namaMatakuliahEnglish}"></td>
                                    <td th:text="${data.matakuliahPras.namaMatakuliah + '  -  ' + data.matakuliahPras.namaMatakuliahEnglish}"></td>
                                    <td th:text="${data.nilai}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${matakuliahKurikulum.id},pras = ${data.id})}" class="btn-info btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/prasyarat/delete (id=${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>


</section>

</body>
</html>

<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>