<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Matakuliah | SMILE</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12" role="main">
        <form th:action="@{/matakuliah/form}" th:object="${matkul}" method="post" enctype="multipart/form-data">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Matakuliah <small>Form</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Matakuliah</label>
                                        <!---->
                                        <input type="text" name="namaMatakuliah" th:field="*{namaMatakuliah}" class="form-control"
                                               id="matakuliah" placeholder="Search ..."
                                               data-provide="typeahead"
                                               autocomplete="off" required autofocus>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kode Matakuliah</label>
                                        <input type="text" id="kodeMatkul"
                                               name=kodeMatakuliah th:field="*{kodeMatakuliah}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="idMat" name="idMat" th:field="*{idMat}">
                            <input type="hidden" id="id" name="id" th:field="*{id}">
                            <input type="hidden" name="prodi" th:value="${prodi.id}">
                            <input type="hidden" name="kurikulum" th:value="${kurikulum.id}">

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Matakuliah(inggris)</label>
                                        <input type="text" id="matkulEng" th:field="*{namaMatakuliahEnglish}"
                                               name=namaMatakuliahEnglish class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Singkatan</label>
                                        <input type="text" th:field="*{singkatan}"
                                               name=singkatan class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Punya Responsi</label><br>
                                            <label>
                                                <input name="responsi" th:field="*{responsi}" value="Y" maxlength="1" type="checkbox" class="js-switch" />
                                            </label >
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Skripsi</label><br>
                                            <label>
                                                <input name="statusSkripsi" th:field="*{statusSkripsi}" value="AKTIF" maxlength="1" type="checkbox" class="js-switch" />
                                            </label >
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>No. Urut</label>
                                        <input type="text" th:field="*{nourut}"
                                               name=nourut class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Akses</label>
                                        <select name="akses" th:field="*{akses}" class="form-control">
                                            <option value=""></option>
                                            <option value="WAJIB_UMUM">WAJIB UMUM</option>
                                            <option value="PILIHAN">PILIHAN</option>
                                            <option value="WAJIB_PRODI">WAJIB PRODI</option>
                                            <option value="WAJIB_KONSENTRASI">WAJIB KONSENTRASI</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Jumlah SKS</label>
                                    <select name="sks" class="form-control" th:field="*{sks}">
                                        <option value=""></option>
                                        <option value="0">Tidak Ditampilkan</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Program</label>
                                        <select name="programs" th:field="*{programs}" class="form-control js-select2"
                                                multiple="multiple" style="width: 100%!important;">
                                            <option th:each="data : ${program}"
                                                    th:text="${data.namaProgram}"
                                                    th:value="${data.id}"></option>
                                        </select>
                                        <input type="hidden" value="-" name="matakuliahKurikulumSemester" class="form-control">

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Semester</label>
                                            <select name="semester" class="form-control" th:field="*{semester}">
                                                <option value=""></option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Syarat Tugas Akhir</label>
                                        <select name="syaratTugas" th:field="*{syaratTugas}" class="form-control">
                                            <option value="N">No</option>
                                            <option value="Y">Yes</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Konsentrasi</label>
                                        <select name="konsentrasi" th:field="*{konsentrasi}" class="form-control js-select2">
                                            <option value=""></option>
                                            <option th:each="data : ${konsentrasi}"
                                                    th:text="${data.namaKonsentrasi}" th:value="${data.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>IPK Minimal</label>
                                        <input type="text" name="ipkMinimal" th:field="*{ipkMinimal}" placeholder="0.00" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>SKS Minimal</label>
                                        <input type="text" name="sksMinimal" th:field="*{sksMinimal}" onkeypress="return hanyaAngka(event)" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upload Silabus</label>
                                        <input type="file" name="silabus" class="form-control"/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bobot SDS</label>
                                        <span class><small class="btn-danger">*Isian hanya angka saja</small></span>
                                        <input type="number" th:field="*{sds}" name="sds" class="form-control"/>
                                    </div>
                                </div>

                            </div>

                            <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
                            <br>
                            <center>
                                <input class="btn btn-primary" type="submit" value="Simpan">
                                <a th:href="@{/matakuliah/list(prodi = ${prodi.id},kurikulum = ${kurikulum.id})}" class="btn btn-primary" role="button">
                                    <span aria-hidden="true"></span>Batal
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>


</body>
</html>
<script>
    $(".js-select2").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    $(".js-example-tags").select2({
        placeholder: "Pilih Salah Satu",
        tags: true
    });

    function hanyaAngka(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))

            return false;
        return true;
    }
</script>