<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Matakuliah | SMILE</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Matakuliah<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="title_right">
                <div class="input-group">
                    <a th:if="${selected != null}" th:href="@{/matakuliah/form(prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn btn-primary" role="button" aria-pressed="true">Tambah Matakuliah</a>
                    <a class="btn btn-success" th:if="${selected != null && kurikulumSelected != null}" role="button" data-toggle="modal" data-target="#exampleModal">Copy Matakuliah Kurikulum</a>
                </div>
            </div>



                <div class="form-group">
                    <div class="row col-sm-offset-1 ">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Prodi :</label>
                                <input type="text" th:if="${selected != null}" class="form-control" id="prodi" placeholder="Cari Prodi ..."
                                       data-provide="typeahead" autocomplete="off" required th:value="${selected.namaProdi}">
                                <input type="text" th:if="${selected == null}" class="form-control" id="prodi" placeholder="Cari Prodi ..."
                                       data-provide="typeahead" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Curriculum :</label>
                                <input type="text" class="form-control" id="kurikulum" th:if="${kurikulumSelected != null}" th:value="${kurikulumSelected.namaKurikulum}"
                                       placeholder="Cari Kurikulum ..." data-provide="typeahead" autocomplete="off" required>
                                <input type="text" class="form-control" id="kurikulum" th:if="${kurikulumSelected == null}"
                                       placeholder="Cari Kurikulum ..." data-provide="typeahead" autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                    <form method="get">
                        <input type="hidden" th:if="${selected != null}" id="isiProdi" name="prodi" th:value="${selected.id}">
                        <input type="hidden" th:if="${kurikulumSelected != null}" id="isiKurikulum" name="kurikulum" th:value="${kurikulumSelected.id}">
                        <input type="hidden" th:if="${selected == null}" id="isiProdi" name="prodi">
                        <input type="hidden" th:if="${kurikulumSelected == null}" id="isiKurikulum" name="kurikulum">
                        <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                    </form>
                </div>
            <hr>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(satu)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 1 <small><b th:text="${kurikulumSelected.namaKurikulum + '  (' + selected.namaProdi + ')'}">Prodi </b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${satu}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(dua)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 2 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${dua}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(tiga)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 3 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${tiga}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(empat)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 4 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${empat}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(lima)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 5 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${lima}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(enam)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 6 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${enam}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(tujuh)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 7 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${tujuh}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(delapan)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 8 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${delapan}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                        <!--<i class="fa fa-plus"></i>-->
                                        <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
            <div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(sembilan)}">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Semester 9 <small><b>Prodi (Nama Kurikulum)</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Singkatan</th>
                                    <th>SKS</th>
                                    <th style="width: 170px">Pras</th>
                                    <th style="width: 30px"></th>
                                    <th style="width: 30px"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="data,row : ${sembilan}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${data.matakuliah.kodeMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.namaMatakuliah}"></td>
                                    <td th:text="${data.matakuliah.singkatan}"></td>
                                    <td th:text="${data.jumlahSks}"></td>
                                    <td>
                                        <a th:href="@{/prasyarat/form (id = ${data.id})}" class="btn-info btn-sm"><i class="fa fa-plus"></i>Tambah Prasyarat</a>
                                        <!--<a  class="btn-sm btn-info">-->
                                            <!--<i class="fa fa-plus"></i>-->
                                            <!--<span>Tambah Prasyarat</span>-->
                                        <!--</a>-->
                                    </td>
                                    <td>
                                        <a th:href="@{/matakuliah/form (id = ${data.id},prodi = ${selected.id}, kurikulum = ${kurikulumSelected.id})}" class="btn-warning btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/matakuliah/delete (id = ${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-xs"
                                                    onclick="return confirm('Are you sure want to delete this?')">
                                                <i class="ti-eraser"></i>  Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:if="${selected != null && kurikulumSelected != null}" class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Copy Matakuliah Kurikulum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/matakuliah/copy}">

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Pilih Kurikulum</label>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="id">
                                        <option value=""></option>
                                        <option th:each="data : ${kurikulum}"
                                                th:text="${data.namaKurikulum}" th:value="${data.id}"></option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="kurikulum" th:value="${kurikulumSelected.id}">
                        <input type="hidden" name="prodi" th:value="${selected.id}">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>