<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Profile</title>
    <style type="text/css">
        .card{
            background-color: #ffffff;
            padding: 0px;
            border-radius: 10px;

        }
        .card-content{
            background-color: #f49c6c;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 12px;
            text-align: center;
        }

        .card-body{
            padding: 15px;
        }

        .txt-profile{
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            color: white;
        }

        .card-body-content{
            text-align: center;
            padding: 5px;
        }

        .bt-edit{
            width: 220px;
            background-color: #f49c6c;
            border: 2px solid white;
            color: white;
            border-radius: 15px;
            padding: 5px;
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

        .txt-title{
            color: #292928;
        }
        .txt-warning{
            color: red;
            font-size: 10px;
        }
        .ohide {
            display: none;
        }
    </style>
</head>
<body>
<section layout:fragment="main" class="content">
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-form"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Request Cicilan Tagihan Mahasiswa</h2>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="breadcomb-report">
                                    <a th:href="@{/studentBill/payment/form(tagihan = ${bill.id})}">
                                        <button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="normal-table-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>Keterangan Tagihan</h2>
                    </div>
                    <div class="bsc-tbl-st">
                        <table class="table table-striped">
                            <tr>
                                <td> Jenis Tagihan </td>
                                <td class="text-center"> : </td>
                                <td th:text="${bill.nilaiJenisTagihan.jenisTagihan.nama}"></td>
                            </tr>
                            <tr>
                                <td> Nilai Tagihan </td>
                                <td class="text-center"> : </td>
                                <td th:text="${'Rp. ' + #numbers.formatDecimal(bill.nilaiTagihan, 0, 'POINT', 2, 'COMMA')}"></td>
                            </tr>
                            <tr>
                                <td> Tanggal Penagihan </td>
                                <td class="text-center"> : </td>
                                <td th:text="${#temporals.format(bill.tanggalPembuatan, 'dd - MMM - yyyy')}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">
                <div class="ongoing-task-inner notika-shadow mg-t-30">
                    <div class="">
                        <div class=" ongoing-hd-wd">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group" th:if="${jumlahNilai != 0}">
                                        <button type="submit" id="tambah" class="btn btn-success" data-toggle="modal" data-target="#myModal">Tambah Cicilan <i size="50" class="fa fa-plus-circle"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#documentModal">Berkas Pendukung <i class="fa fa-plus-circle"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#totalDocument" th:text="${'Jumlah berkas : ' + jumlahFile}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal tambah cicilan -->

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <form method="post" th:action="@{/studentBill/bill/cicilan(tagihan=${bill.id})}">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h2>Requst Cicilan</h2>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <label >Nilai </label>
                                                    <input type="text" name="nilaiCicilan" id="nilai" required class="form-control"
                                                           placeholder="0.00" th:if="${jumlahCicilan < 2}" th:value="${jumlahNilai}">
                                                    <input type="text" name="nilaiCicilan" th:value="${jumlahNilai}" class="form-control"
                                                           readonly th:if="${jumlahCicilan == 2}">
                                                </div>
                                                <div class="form-group">
                                                    <label >Tanggal Jatuh Tempo </label>
                                                    <input readonly type="date" name="tanggalJatuhTempo" required class="form-control"
                                                           th:value="${tanggal}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12 text-left">
                                                <div th:if="${jumlahNilai == null}" th:text="'Sisa : ' + ${'Rp. ' + #numbers.formatDecimal(bill.nilaiTagihan, 0, 'POINT', 0, 'POINT')}"></div>
                                                <div th:if="${jumlahNilai != null}" th:text="'Sisa : ' + ${'Rp. ' + #numbers.formatDecimal(jumlahNilai, 0, 'POINT', 0, 'POINT')}"></div>
                                                <input type="hidden" id="nilai1" th:value="${jumlahNilai}">
                                                <input type="hidden" id="nilai2" th:value="${bill.nilaiTagihan}">
                                                <p style="color: red">Maksimal Cicilan 3X</p>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="messageError"></div>
                                                <button type="submit" id="submit" class="btn btn-success">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- modal tambah dokumen -->

                    <div class="modal fade" id="documentModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <form method="post" th:action="@{/studentBill/bill/document}" enctype="multipart/form-data">
                                    <input type="hidden" name="tagihan" th:value="${bill.id}">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h2>Input Berkas</h2>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <input type="file" required name="file" class="form-control"
                                                           placeholder="Upload Berkas" autofocus>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- modal detail dokumen -->

                    <div class="modal fade" id="totalDocument" role="dialog">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="">
                                        <div class="basic-tb-hd">
                                            <h2>Daftar Berkas</h2>
                                        </div>
                                        <div class="bsc-tbl-st">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama</th>
                                                    <th>Berkas</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr th:each="data, row : ${dokumen}">
                                                    <td th:text="${(row.index + 1)}"></td>
                                                    <td th:text="${data.nama}"></td>
                                                    <td>
                                                        <a target="_blank" th:href="@{/tagihan/{document}/cicilan(document = ${data.id})}">
                                                            <button type="submit" class="btn btn-success">
                                                                <i class="fa fa-file-image-o"></i>
                                                                <small>Lihat Berkas&nbsp;</small>
                                                            </button>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <form method="post" th:action="@{/studentBill/dokumen/delete(document = ${data.id})}">
                                                            <div class="center ">
                                                                <button type="submit" class="btn btn-danger ">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="skill-content-3 ongoing-tsk">
                        <div class="normal-table-list">
                            <div class="basic-tb-hd">
                                <h2>Daftar Request Cicilan</h2>
                            </div>
                            <div class="bsc-tbl-st">
                                <table class="table table-striped">
                                    <tr>
                                        <th>No</th>
                                        <th>Tanggal Jatuh Tempo</th>
                                        <th>Nilai Cicilan</th>
                                        <th>Status</th>
                                        <th th:if="${message != null}">Cicilan</th>
                                        <th th:if="${message == null}">Action</th>
                                    </tr>
                                    <tr th:each="data, row : ${request}">
                                        <td th:text="${(row.index + 1)}"></td>
                                        <td th:text="${data.tanggalJatuhTempo}"></td>
                                        <td th:text="${'Rp. ' + #numbers.formatDecimal(data.nilaiCicilan, 0, 'POINT', 2, 'COMMA')}"></td>
                                        <td >
                                            <a  class="btn btn-primary btn-sm"
                                                th:if="${data.statusApprove.WAITING} == ${data.statusApprove}"
                                                th:text="${data.statusApprove}">
                                            </a>
                                            <a  class="btn btn-success btn-sm"
                                                th:if="${data.statusApprove.APPROVED} == ${data.statusApprove}"
                                                th:text="${data.statusApprove}">
                                            </a>
                                        </td>
                                        <td th:if="${message != null}">
                                            <a  class="btn btn-primary btn-sm"
                                                th:if="${data.statusCicilan.CICILAN} == ${data.statusCicilan}"
                                                th:text="${data.statusCicilan}">
                                            </a>
                                            <a  class="btn btn-warning btn-sm"
                                                th:if="${data.statusCicilan.SEDANG_DITAGIHKAN} == ${data.statusCicilan}"
                                                th:text="${data.statusCicilan}">
                                            </a>
                                            <a  class="btn btn-success btn-sm"
                                                th:if="${data.statusCicilan.LUNAS} == ${data.statusCicilan}"
                                                th:text="${data.statusCicilan}">
                                            </a>
                                        </td>
                                        <td th:if="${message == null}">
                                            <button type="button" class="btn btn-danger " data-toggle="modal" title="Hapus" th:data-target="${'#modal-notification' + data.id}">
                                                <i class="fa fa-trash"></i>
                                            </button>

                                            <div class="modal fade" th:id="${'modal-notification' + data.id}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                                <div class="modal-dialog " role="modal">
                                                    <div class="modal-content ">

                                                        <div class="modal-header">
                                                            <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">

                                                            <div class="py-3 text-center">
                                                                <i class="far fa-trash-alt fa-3x"></i>
                                                                <h4 class="heading mt-4">Are you sure ?</h4>
                                                                <p>Once deleted, you will not be able to recover this imaginary file!</p>
                                                            </div>

                                                        </div>

                                                        <form method="post" th:action="@{/studentBill/requestCicilan/delete(cicilan = ${data.id})}">
                                                            <div class="modal-footer center">
                                                                <button type="submit" class="btn btn-danger ">Delete</button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>

<script>
    $(document).ready(function (){
        $("#nilai").keyup(function (){
            var1s = $("#nilai").val();
            if(var1s.match(/^\d+$/)){
                $('.messageError').html('');
                $('#submit').show();
                sums();
            }else{
                $('.messageError').html('Hanya bisa memasukan angka!');
                $('#submit').hide();
            }
        });

        $('#tambah').click(function (){
            $('#submit').show();
            $('.messageError').html('');
            sums();
        });

        function sums(){
            varn = parseInt($("#nilai").val());
            var1 = parseInt($("#nilai1").val());
            var2 = parseInt($("#nilai2").val());
            console.log(varn, var1, var2);
            if(varn > var1){
                $('#submit').hide();
                $('.messageError').html('Jumlah melebihi sisa tagihan!');
            }else if(varn > var2){
                $('#submit').hide();
                $('.messageError').html('Jumlah melebihi sisa tagihan!');
            }else{
                $('#submit').show();
            }

        }

    });
</script>