<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Form</h5>
                                        <span class="h2 font-weight-bold mb-0">Approval Penangguhan </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Keterangan Tagihan</h3>
                    </div>
                    <div class="card-body">
                        <address>
                            <table class="table-responsive table">
                                <tr>
                                    <td><b>Request Tanggal Penangguhan</b></td>
                                    <td> : </td>
                                    <td><b th:text="${penangguhan.tanggalPenangguhan}"></b></td>
                                </tr>
                                <tr>
                                    <td>Nomor Tagihan</td>
                                    <td> : </td>
                                    <td th:text="${bill.nomor}"></td>
                                </tr>
                                <tr>
                                    <td>Nama Mahasiswa</td>
                                    <td> : </td>
                                    <td th:text="${bill.mahasiswa.nama}"></td>
                                </tr>
                                <tr>
                                    <td>Jenis Tagihan</td>
                                    <td> : </td>
                                    <td th:text="${bill.nilaiJenisTagihan.jenisTagihan.nama}"></td>
                                </tr>
                                <tr>
                                    <td>Nilai Tagihan</td>
                                    <td> : </td>
                                    <td th:text="${'Rp. ' + #numbers.formatDecimal(bill.nilaiTagihan, 0, 'POINT', 2, 'COMMA')}"></td>
                                </tr>
                                <tr>
                                    <td>Tahun Akademik</td>
                                    <td> : </td>
                                    <td th:text="${bill.tahunAkademik.namaTahunAkademik}"></td>
                                </tr>
                                <tr>
                                    <td>Tanggal Jatuh Tempo</td>
                                    <td> : </td>
                                    <td th:text="${bill.tanggalJatuhTempo}"></td>
                                </tr>
                            </table>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Form Approve</h3>
                            </div>
                            <div class="col text-right">
                                <a th:href="@{/studentBill/requestPenangguhan/list}" class="btn btn-sm btn-default"><i class="fas fa-arrow-alt-circle-left"></i> Kembali</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/studentBill/penangguhan/approve(requestPenangguhan = ${penangguhan.id}, tagihan = ${bill.id})}"  th:object="${penangguhan}">
                            <div class="form-group">
                                <label>Keterangan</label>
                                <input type="text" name="keterangan" class="form-control"
                                       placeholder="Keterangan Approve" th:field="*{keterangan}">
                                <input type="hidden" th:field="*{tagihan}">
                                <input type="hidden" th:field="*{keterangan}">
                            </div>

                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Approve</button>
                            </div>
                        </form>
                        <form method="post" th:action="@{/studentBill/penangguhan/reject(requestPenangguhan = ${penangguhan.id})}"  th:object="${penangguhan}">
                            <div class="form-group">
                                <label>Keterangan</label>
                                <input type="text" name="keteranganReject" class="form-control"
                                placeholder="Keterangan Reject" th:field="*{keteranganReject}">
                                <input type="hidden" th:field="*{tagihan}">
                                <input type="hidden" th:field="*{keterangan}">
                            </div>

                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">Reject</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>