<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Profile</title>
    <style type="text/css">
        .card{
            background-color: #ffffff;
            padding: 0px;
            border-radius: 10px;

        }
        .card-content{
            background-color: #f49c6c;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 12px;
            text-align: center;
        }

        .card-body{
            padding: 15px;
        }

        .txt-profile{
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            color: white;
        }

        .card-body-content{
            text-align: center;
            padding: 5px;
        }

        .bt-edit{
            width: 220px;
            background-color: #f49c6c;
            border: 2px solid white;
            color: white;
            border-radius: 15px;
            padding: 5px;
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

        .txt-title{
            color: #292928;
        }
        .txt-warning{
            color: red;
            font-size: 10px;
        }
        .ohide {
            display: none;
        }
    </style>
</head>
<body>
<section layout:fragment="main" class="content">
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-form"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Pengajuan Pelunasan</h2>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="breadcomb-report">
                                    <a th:href="@{/studentBill/payment/form(tagihan = ${bill.id})}">
                                        <button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="normal-table-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>Information</h2>
                    </div>
                    <div class="bsc-tbl-st">
                        <table class="table table-striped">
                            <tr>
                                <td> Type of bill </td>
                                <td class="text-center"> : </td>
                                <td th:text="${bill.nilaiJenisTagihan.jenisTagihan.nama}"></td>
                            </tr>
                            <tr>
                                <td> Value </td>
                                <td class="text-center"> : </td>
                                <td th:text="${'Rp. ' + #numbers.formatDecimal(bill.nilaiTagihan, 0, 'POINT', 2, 'COMMA')}"></td>
                            </tr>
                            <tr>
                                <td> Create date </td>
                                <td class="text-center"> : </td>
                                <td th:text="${#temporals.format(bill.tanggalPembuatan, 'dd - MMM - yyyy')}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="ongoing-task-inner notika-shadow mg-t-30">
                    <div class="">
                        <div class=" ongoing-hd-wd">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#documentModal">Submit File <i class="fa fa-plus-circle"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 text-right">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#totalDocument" th:text="${'Jumlah berkas : ' + jumlahFile}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal tambah dokumen -->

                    <div class="modal fade" id="documentModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <form method="post" th:action="@{/studentBill/penangguhan/document}" enctype="multipart/form-data">
                                    <input type="hidden" name="tagihan" th:value="${bill.id}">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h2>Input Berkas</h2>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <input type="file" name="file" required class="form-control"
                                                           placeholder="Upload Berkas" autofocus>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- modal detail dokumen -->

                    <div class="modal fade" id="totalDocument" role="dialog">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="">
                                        <div class="basic-tb-hd">
                                            <h2>Daftar Berkas</h2>
                                        </div>
                                        <div class="bsc-tbl-st">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama</th>
                                                    <th>Berkas</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr th:each="data, row : ${dokumen}">
                                                    <td th:text="${(row.index + 1)}"></td>
                                                    <td th:text="${data.nama}"></td>
                                                    <td>
                                                        <a target="_blank" th:href="@{/tagihan/{document}/penangguhan(document = ${data.id})}">
                                                            <button type="submit" class="btn btn-success">
                                                                <i class="fa fa-file-image-o"></i>
                                                                <small>Lihat Berkas&nbsp;</small>
                                                            </button>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <form method="post" th:action="@{/studentBill/dokumen/deletep(document = ${data.id})}">
                                                            <div class="center ">
                                                                <button type="submit" class="btn btn-danger">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="skill-content-3 ongoing-tsk">
                        <div class="normal-table-list">
                            <div class="bsc-tbl-st">
                                <form method="post" th:action="@{/studentBill/bill/newDate(tagihan = ${bill.id})}" th:object="${penangguhan}">
                                    <div class="form-group">
                                        <label>Proposed Deferred Payment Schedule</label>
                                        <input type="date" name="tanggalPenangguhan" class="form-control"
                                               placeholder="yyyy-MM-dd" th:max="${tahun.mulaiUas}" th:field="*{tanggalPenangguhan}">
                                    </div>
                                    <input type="hidden" name="id" th:field="*{id}">
                                    <div style="margin-top: 45px;" class="form-group">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>