<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">`
                <h2>Input Employee</h2>
                <div class="clearfix"></div>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <form method="post" th:object="${karyawan}" th:action="@{/karyawan/save}">
                    <!--<form method="post" th:object="${karyawan}" th:if="${id == null}" th:action="@{/dosen/form}">-->

                    <div class="col-md-12"><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>NIK</label>
                                    <input type="text" class="form-control" name="nik"  placeholder="Nomor Induk Pegawai" th:field="*{nik}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    &nbsp&nbsp
                                    <small class="text-danger">* Fill in the name</small>
                                    <input type="text" class="form-control" name="namaKaryawan" placeholder="Name" th:field="*{namaKaryawan}">
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input type="date" class="form-control" th:field="*{tanggalLahir}" name="tanggalLahir">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select name="jenisKelamin" th:field="*{jenisKelamin}" class="form-control">
                                        <option value=""></option>
                                        <option value="PRIA">Male</option>
                                        <option value="WANITA">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" th:field="*{email}" class="form-control" name="email">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>RFID</label>
                                    &nbsp&nbsp
                                    <input type="text" th:field="*{rfid}" class="form-control" name="rfid" placeholder="RFID">
                                </div>
                            </div>

                        </div>

                        <input type="hidden" name="id" th:field="*{id}">
                        <input type="hidden" name="idAbsen" th:field="*{idAbsen}">

                    </div>

                    <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
                    <br><br>
                    <center>
                        <input class="btn btn-primary" type="submit" value="Save">
                        <a th:href="@{/karyawan/list}" class="btn btn-primary" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                    </center>
                </form>
            </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>