<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>List of Employee</h2>
                <div class="clearfix"></div>
            </div>

            <div class="my-3 p-3 bg-white rounded box-shadow">
                <table width="100%">
                    <tr>
                        <td>
                            <a th:href="@{/karyawan/baru}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                        </td>
                        <td align="right">
                            <form method="get">
                                <div class="title_right">
                                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                        <div class="input-group">
                                            <input type="text"  class="form-control" placeholder="Search for..." name="search" th:value="${search}">
                                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">Search</button>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
                <br>
                <div class="box-body table-responsive no-padding">
                    <div>
                        Show <span sd:page-size-selector="javascript"></span> entries
                    </div>
                    <br>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Employee Number</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col" width="30px">Action</th>
                            <th scope="col" width="40px"></th>
                        </tr>
                        </thead>

                        <tbody>


                        <tr class="even pointer" th:each="karyawan,row : ${listKaryawan}" >
                            <td th:text="${(row.index + 1) + (listKaryawan.number * listKaryawan.size)}">1</td>
                            <td th:text="${karyawan.nik}"></td>
                            <td th:text="${karyawan.namaKaryawan}">ono</td>
                            <td th:text="${karyawan.jenisKelamin}">cowo</td>
                            <td align="center">
                                <a href="#" class="btn btn-success btn-xs" th:href="@{/karyawan/baru(id=${karyawan.id})}" title="edit">Edit</a></td>
                            <td align="center">
                                <form method="post" th:action="@{/karyawan/delete (karyawan = ${karyawan.id})}">
                                    <button type="submit" class="btn btn-danger btn-xs"
                                            onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                        <i class="ti-eraser"></i> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>

                        </tbody>


                    </table>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-8">
                        <nav class="pull-right">
                            <ul class="pagination" sd:pagination="full">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>