<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Form</h5>
                                        <span class="h1 font-weight-bold mb-0">Ruang Kelas</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                            <i class="fas fa-building"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Form Data</h3>
                            </div>
                            <div class="col text-right">
                                <a th:href="@{/equipment/room/list}" class="btn btn-sm btn-default"><i class="fas fa-arrow-circle-left"></i> Kembali</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/equipment/room/form}" th:object="${ruangan}">

                            <div class="form-group">
                                <label>Gedung</label>
                                <select style="width:100%!important;" name="gedung" th:field="*{gedung}"
                                        class="form-control js-example-placeholder-single">
                                    <option value=""></option>
                                    <option th:each="dataGedung : ${gedung}"
                                            th:text="${dataGedung.namaGedung}"
                                            th:value="${dataGedung.id}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Kode Ruangan</label>
                                <input type="text" name="kodeRuangan" th:field="*{kodeRuangan}" class="form-control" placeholder="Kode Ruangan">
                            </div>

                            <div class="form-group">
                                <label>Jenis Ruangan</label>
                                <select style="width:100%!important;" name="jenisRuangan" th:field="*{jenisRuangan}"
                                        class="form-control js-example-placeholder-single">
                                    <option value=""></option>
                                    <option th:each="dataRuangJenis : ${ruangJenis}"
                                            th:text="${dataRuangJenis.jenisRuangan}"
                                            th:value="${dataRuangJenis.id}"></option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nama Ruangan</label>
                                <input type="text" th:field="*{namaRuangan}" class="form-control" name="namaRuangan" id="exampleFormControlInput1" placeholder="Room Name">
                            </div>

                            <div class="form-group">
                                <label>Kapasitas</label>
                                <input type="number" name="kapasitas" th:field="*{kapasitas}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Lantai</label>
                                <input type="number" name="lantai" th:field="*{lantai}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Keterangan</label>
                                <textarea class="form-control" name="keterangan" th:field="*{keterangan}" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Status</label><br>
                                <label>
                                    <input name="status" th:field="*{status}" type="checkbox" value="AKTIF" class="js-switch" />
                                </label >
                            </div>
                            <input type="hidden" name="id" th:field="*{id}">

                            <input class="btn btn-primary" type="submit" value="Simpan">
                            <a class="btn btn-primary" th:href="@{/ruang/list}" role="button">
                                <span aria-hidden="true"></span>Batal
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>