<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h1 font-weight-bold mb-0">Ruang Kelas</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                            <i class="fas fa-building"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Data List</h3>
                            </div>
                            <div class="col text-right">
                                <a th:href="@{/equipment/room/form}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> Tambah</a>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <form method="get">
                            <div class="col">
                                <div class="d-flex flex-row-reverse bd-highlight">
                                    <div class="p-2 bd-highlight">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                </div>
                                                <input type="text" name="search" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Gedung
                                </th>
                                <th scope="col">
                                    Kode Ruangan
                                </th>
                                <th scope="col">
                                    Jenis Ruangan
                                </th>
                                <th scope="col">
                                    Nama Ruangan
                                </th>
                                <th scope="col">
                                    Lantai
                                </th>
                                <th scope="col">
                                    Kapasitas
                                </th>
                                <th scope="col">Keterangan</th>
                                <th scope="col">*</th>
                            </tr>
                            </thead>
                            <tbody class="list">

                            <tr class="even pointer" th:each="dataRuang,row :${listRuang}">

                                <td th:text="${(row.index + 1) + (listRuang.number * listRuang.size)}">1</td>
                                <td th:text="${dataRuang.gedung.namaGedung}"></td>
                                <td th:text="${dataRuang.kodeRuangan}"></td>
                                <td th:text="${dataRuang.jenisRuangan.jenisRuangan}"></td>
                                <td >

                                    <a type="button" class="btn btn-success btn-sm" href="form" th:if="${dataRuang.status.AKTIF} == ${dataRuang.status}" th:text="${dataRuang.namaRuangan}"  th:href="@{/equipment/room/form(id = ${dataRuang.id})}">
                                    </a>
                                    <a type="button" class="btn btn-danger btn-sm" href="form" th:if="${dataRuang.status.NONAKTIF} == ${dataRuang.status}" th:text="${dataRuang.namaRuangan}"  th:href="@{/equipment/room/form(id = ${dataRuang.id})}">
                                    </a>

                                </td>
                                <td th:text="${dataRuang.lantai}"></td>
                                <td th:text="${dataRuang.kapasitas}"></td>
                                <td th:text="${dataRuang.keterangan}"></td>
                                <td >
                                    <form method="post" th:action="@{/equipment/room/delete(ruangan = ${dataRuang.id})}">
                                        <button type="submit" class="btn btn-danger btn-sm"
                                                onclick="return confirm('Are you sure?')">
                                            <i class="ti-eraser"></i> Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end mb-0" sd:pagination="full">
                                    <li class="disabled"><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a>
                                    </li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>