<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h1 font-weight-bold mb-0">Class Room</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                            <i class="fas fa-building"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Data List</h3>
                            </div>
                            <div class="col text-right">
                                <a href="/ruang/form" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="d-flex flex-row-reverse bd-highlight">
                                    <div class="p-2 bd-highlight">
                                        <button class="btn btn-primary">Search</button>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                </div>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Building
                                </th>
                                <th scope="col">
                                    Room Code
                                </th>
                                <th scope="col">
                                    Room Type
                                </th>
                                <th scope="col">
                                    Room Name
                                </th>
                                <th scope="col">
                                    Floor
                                </th>
                                <th scope="col">
                                    Capacity
                                </th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody class="list">

                            <tr>
                                <th scope="row" class="name">
                                    1
                                </th>
                                <td class="budget">
                                    Abu Yusuf
                                </td>
                                <td class="budget">
                                    -AH 5
                                </td>
                                <td class="budget">
                                    Ruang Kelas
                                </td>
                                <td class="status">
                                    <span class="badge badge-danger">
                                        <h6>Abu Hanifah</h6>
                                    </span>
                                </td>
                                <th scope="row" class="name">
                                    2
                                </th>
                                <td class="budget">
                                    40
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td colspan="2">
                                    <a href="/ruang/form">
                                        <span class="btn btn-default btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="name">
                                    2
                                </th>
                                <td class="budget">
                                    Bina Qalbu
                                </td>
                                <td class="budget">
                                    Bina Qalbu 4
                                </td>
                                <td class="budget">
                                    Ruang Kelas
                                </td>
                                <td class="status">
                                    <span class="badge badge-success">
                                        <h6>Bina Qalbu 4</h6>
                                    </span>
                                </td>
                                <th scope="row" class="name">
                                    2
                                </th>
                                <td class="budget">
                                    25
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td colspan="2">
                                    <a href="/ruang/form">
                                        <span class="btn btn-default btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-notification">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                        <div class="modal-dialog modal-danger modal-dialog-centered modal-10" role="document">
                                            <div class="modal-content bg-gradient-danger">

                                                <div class="modal-header">
                                                    <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">

                                                    <div class="py-3 text-center">
                                                        <i class="far fa-trash-alt ni-3x"></i>
                                                        <h4 class="heading mt-4">Are you Sure?</h4>
                                                        <p>Once deleted, you will not be able to recover this imaginary file!</p>
                                                    </div>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white">Delete</button>
                                                    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item "><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>