<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h2 font-weight-bold mb-0">Class </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Data List</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Angkatan</label>
                                        <select class="form-control js-example-placeholder-single"
                                                style="width: 100%!important;" name="angkatan" required>
                                            <option value="" disabled selected>-- Select One --</option>
                                            <option th:each="angkat : ${angkatan}" th:text="${angkat}"
                                                    th:selected="(${angkat} == *{selectedAngkatan})" th:value="${angkat}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Prodi</label>
                                        <select class="form-control js-example-placeholder-single"
                                                style="width: 100%!important;" name="prodi" required>
                                            <option value="" disabled selected>-- Select One --</option>
                                            <option th:each="prod : ${prodi}" th:text="${prod.namaProdi}"
                                                    th:selected="(${prod} == *{selected})" th:value="${prod.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Kelas</label>
                                        <input type="text" th:if="${selectedKelas != null}" class="form-control" id="kelas" placeholder="Cari Kelas ..."
                                               data-provide="typeahead" autocomplete="off" required th:value="${selectedKelas.namaKelas}">
                                        <input type="text" th:if="${selectedKelas == null}" class="form-control" id="kelas" placeholder="Cari Kelas ..."
                                               data-provide="typeahead" autocomplete="off" required>
                                        <input type="hidden" th:if="${selectedKelas != null}" id="isiKelas" name="kelas" th:value="${selectedKelas.id}">
                                        <input type="hidden" th:if="${selected == null}" id="isiKelas" name="kelas">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-body">
                        <div class="card shadow">
                            <div class="table-responsive" th:if="${selected != null}">
                                <form method="post" th:action="@{/equipment/class/mahasiswa}">
                                    <div class="card-body">
                                        <button class="btn btn-success">Generate Student Class</button>
                                    </div>
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr class="heading">
                                            <th></th>
                                            <th>#</th>
                                            <th>NIM</th>
                                            <th>Name</th>
                                            <th>Class</th>
                                            <th>Curriculum</th>
                                        </tr>
                                        </thead>
                                        <input type="hidden" name="kelas" th:value="${selectedKelas.id}">
                                        <tbody>
                                        <tr th:each="data,row : ${mahasiswaList}">
                                            <td class="a-center ">
                                                <input type="checkbox" th:value="${data.id}" class="flat" name="data">
                                            </td>
                                            <td></td>
                                            <td th:text="${data.nim}">Edinburgh</td>
                                            <td th:text="${data.nama}">61</td>
                                            <td th:text="${data.kelas}">61</td>
                                            <td th:if="${data.kurikulum != null}" th:text="${data.kurikulum}">2011/04/25</td>
                                            <td th:if="${data.kurikulum == null}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>