<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <form method="post" th:action="@{/gedung/kampus/form(id=${kampus.idKampus})}" th:object="${kampus}">
            <div class="form-group">
                <div class="col-sm-12">
                    <label>Name Campus</label>
                    <input type="text" class="form-control" th:field="*{namaKampus}" name="namaKampus" placeholder="Name Campus">
                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group">
                    <label>Province</label>
                    <select onchange="" th:field="*{propinsi}" class="form-control js-example-placeholder-single" id="provinsi"
                            name="propinsi">
                        <option value="">-Select Province-</option>
                        <option th:each="ins : ${daftarProp}"
                                th:value="${ins.idProvinsi}"
                                th:text="${ins.nama}">Jawa Barat</option>
                    </select>
                </div>
            </div>



            <div class="col-sm-12">
                <div class="form-group">
                    <label>Regency / City</label>
                    <select onchange="" th:field="*{kabupatenKota}" class="form-control js-example-placeholder-single"
                            name="kabupatenKota">
                        <option value="">-Select Regency / City-</option>
                        <option th:each="ins : ${daftarKokab}"
                                th:value="${ins.idKokab}"
                                th:text="${ins.nama}">Bogor</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label>Address</label>
                    <input type="text" name="alamat" th:field="*{alamat}" class="form-control" placeholder="Address Campus">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label>Information</label>
                    <input type="text" name="keterangan" th:field="*{keterangan}" class="form-control" placeholder="Keterangan">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-responsive">
                        <tr>
                            <td>Not active? (NA)</td>
                            <td>
                                <input name="na" th:value="'0'" type="checkbox" class="input-group-text"></td>
                            </td>
                            <td><small class="alert-danger">*) Check if it's not active</small></td>
                        </tr>
                        <input type="hidden" name="userInsert" th:field="*{userInsert}">
                        <input type="hidden" name="idLembaga" th:field="*{idKampus}">
                        <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                    </table>
                </div>

            </div>

            <input class="btn btn-primary" type="submit" value="Save">

            <small>
                <a th:href="@{/gedung/list}" class="btn btn-primary" role="button">
                    <span aria-hidden="true"></span>Cancel
                </a>
            </small>
        </form>
    </div>

</section>

</body>
</html>

<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>