<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ruang Kuliah</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ruang Kuliah<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <form method="get">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <center><label><b>Gedung</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="gedung" >
                                        <option></option>
                                        <option th:each="dataLokasi : ${gedung}"
                                                th:selected="(${dataLokasi} == *{selectedGedung})"
                                                th:text="${dataLokasi.namaGedung}"
                                                th:value="${dataLokasi.id}">Sentul</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <center><label><b>Hari</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="hari">
                                        <option></option>
                                        <option th:each="dataHari : ${hari}"
                                                th:selected="(${dataHari} == *{selectedHari})"
                                                th:text="${dataHari.namaHariEng}"
                                                th:value="${dataHari.id}">Senin</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                </div>
            </form>

            <br>
            <hr>

            <!--<span th:if="${selectedHari != null}">-->
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="x_panel">
                    <div class="x_title">
                        <h2><p class="bg-danger">Klik nama <b><i>Mata Kuliah</i></b> untuk informasi lengkap</p></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings" >
                                    <th>Ruangan</th>
                                    <th>Sesi 1</th>
                                    <th>Sesi 2</th>
                                    <th>Sesi 3</th>
                                    <th>Sesi 4</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="jdl, row : ${jadwalRuang}">
                                    <td th:text="${jdl.ruangan1}"></td>
                                    <td >
                                        <a href="#" data-toggle="popover" onclick="return false"
                                           data-placement="right"  data-trigger="focus"
                                           th:text="${jdl.sesi1}"
                                           th:title=" ' Dosen : ' + ${jdl.dosen1}"
                                           th:data-content=" 'Kelas : ' + ${jdl.kelas1}"
                                        >
                                            Data
                                        </a>
                                    </td>
                                    <td >
                                        <a href="#" data-toggle="popover" onclick="return false"
                                           data-placement="right"  data-trigger="focus"
                                           th:text="${jdl.sesi2}"
                                           th:title=" ' Dosen : ' + ${jdl.dosen2}"
                                           th:data-content=" 'Kelas : ' + ${jdl.kelas2}"
                                        >
                                            Data
                                        </a>
                                    </td>
                                    <td >
                                        <a href="#" data-toggle="popover" onclick="return false"
                                           data-placement="right"  data-trigger="focus"
                                           th:text="${jdl.sesi3}"
                                           th:title=" ' Dosen : ' + ${jdl.dosen3}"
                                           th:data-content=" 'Kelas : ' + ${jdl.kelas3}"
                                        >
                                            Data
                                        </a>
                                    </td>
                                    <td >
                                        <a href="#" data-toggle="popover" onclick="return false"
                                           data-placement="right"  data-trigger="focus"
                                           th:text="${jdl.sesi4}"
                                           th:title=" ' Dosen : ' + ${jdl.dosen4}"
                                           th:data-content=" 'Kelas : ' + ${jdl.kelas4}"
                                        >
                                            Data
                                        </a>
                                    </td>


                                </tr>
                                </tbody>
                            </table>



                        </div>


                    </div>
                </div>
            </div>
            </span>

        </div>
    </div>

</section>




</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })

</script>