<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Ruang Kelas</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <form>

            <div class="form-group">
                <label>Pilih Gedung</label>
                <select onchange="" style="width: 500px;" class="form-control js-example-placeholder-single" id="gedung"
                        name="gedung">
                    <option></option>
                    <option>GRANADA - STEI TAZKIA SENTUL</option>
                    <option>ABU HANIFAH - STEI TAZKIA MATRIKULASI</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Nama Ruang</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama">
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Keterangan</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <input class="btn btn-primary" type="submit" value="Simpan">
            <a th:href="@{/ruang/list}" class="btn btn-primary" role="button">
                <span aria-hidden="true"></span>Batal
            </a>
        </form>
    </div>
</section>

</body>
</html>