<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Ruang Kelas</h6>
        </div>
    </div>



    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0"><center>Daftar Ruang Kelas</center></h6>
        <br>

        <div class="box-body table-responsive no-padding">


                    <table width="100%">
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Pilih Kampus</label>
                                                <select onchange="" style="width: 500px;" class="form-control js-example-placeholder-single" id="kampus"
                                                        name="provinsi">
                                                    <option></option>
                                                    <option>STEI TAZKIA SENTUL</option>
                                                    <option>STEI TAZKIA MATRIKULASI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Pilih Gedung</label>
                                                <select onchange="" style="width: 500px;" class="form-control js-example-placeholder-single" id="gedung"
                                                        name="provinsi">
                                                    <option></option>
                                                    <option>Granada</option>
                                                    <option>Abu Hanifah</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td colspan="2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <a th:href="@{/ruang/form}" class="btn btn-primary" role="button" aria-pressed="true">Tambah Ruang Kelas</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Kode</th>
                            <th>Nama</th>
                            <th>Lokasi</th>
                            <th>Keterangan</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th rowspan="2">1</th>
                            <th rowspan="2">S0001</th>
                            <td rowspan="2">Ruang 1.1 Lab Mini Bank</td>
                            <td rowspan="2">Granada - STEI TAZKIA SENTUL</td>
                            <td>Untuk Praktikum Mini Bank</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

        </div>
        <br>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</section>


</body>
</html>