<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Class Room</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h2>Class Room <small>List</small></h2>
            <div class="clearfix"></div>
        </div>
        <br>

        <div class="table-responsive">
            <table width="100%">
                <tr>
                    <td>
                        <a th:href="@{/gedung/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                    </td>
                    <td class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search title_right ">
                        <form method="get">
                            <div class="input-group">
                                <input type="text" autocomplete="off" name="search"
                                       th:value="${search}"
                                       placeholder="Search by name" class="form-control">
                                <span class="input-group-btn">
                                                <button class="btn btn-default"
                                                        type="submit">Search</button>
                                    </span>
                            </div>
                        </form>
                    </td>
                <tr>
                    <td>
                        Show <span sd:page-size-selector="javascript"></span> entries
                    </td>
                </tr>
                </tr>
            </table>

            <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr class="headings">
                    <th>
                        <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Building</th>
                    <th scope="col">Room Code</th>
                    <th scope="col">Room Type</th>
                    <th scope="col">Room Name</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Description</th>
                    <th class="column-title" colspan="2">Action</th>
                </thead>
                <tbody>

                <tr class="even pointer" th:each="dataRuang,row :${listRuang}">
                    <td class="a-center ">
                        <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td th:text="${(row.index + 1) + (listRuang.number * listRuang.size)}">1</td>
                    <td th:text="${dataRuang.gedung.namaGedung}"></td>
                    <td th:text="${dataRuang.kodeRuangan}"></td>
                    <td th:text="${dataRuang.jenisRuangan.jenisRuangan}"></td>
                    <td >

                        <a type="button" class="btn btn-success btn-xs" href="form" th:if="${dataRuang.status.AKTIF} == ${dataRuang.status}" th:text="${dataRuang.namaRuangan}"  th:href="@{/ruang/form(id = ${dataRuang.id})}">
                        </a>
                        <a type="button" class="btn btn-danger btn-xs" href="form" th:if="${dataRuang.status.NONAKTIF} == ${dataRuang.status}" th:text="${dataRuang.namaRuangan}"  th:href="@{/ruang/form(id = ${dataRuang.id})}">
                        </a>

                    </td>
                    <td th:text="${dataRuang.lantai}"></td>
                    <td th:text="${dataRuang.kapasitas}"></td>
                    <td th:text="${dataRuang.keterangan}"></td>
                    <td >
                        <form method="post" th:action="@{/ruang/delete(ruangan = ${dataRuang.id})}">
                            <button type="submit" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Are you sure?')">
                                <i class="ti-eraser"></i> Delete
                            </button>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-8">
                    <nav class="pull-left">



                        <ul class="pagination" sd:pagination="full">
                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                            <li class="disabled"><a href="#" aria-label="Previous"><span
                                    aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>



            <br>
        </div>
        <br>


    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>