<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Tahun Akademik</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Form</h5>
                                        <span class="h2 font-weight-bold mb-0">Tahun Akademik </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Data List</h3>
                            </div>
                            <div class="col text-right">
                                <a th:href="@{/academic/year/list}" class="btn btn-sm btn-default"><i class="fas fa-arrow-alt-circle-left"></i> Kembali</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/academic/year/form}" th:object="${tahunAkademik}" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kode Tahun Akademik</label>
                                        <input type="text" class="form-control" name="kodeTahunAkademik" readonly th:value="${kode}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nama Tahun Akademik</label>
                                        <input type="text" name="namaTahunAkademik" th:value="${nama}" readonly class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Mulai</label>
                                        <input type="date" name="tanggalMulai" th:field="*{tanggalMulai}" class="form-control"  placeholder="ex : 12121">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Selesai</label>
                                        <input type="date" name="tanggalSelesai" th:field="*{tanggalSelesai}" placeholder="ex : 2019/2020 Semester Genap" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Mulai KRS</label>
                                        <input type="date" name="tanggalMulaiKrs" th:field="*{tanggalMulaiKrs}" class="form-control"  placeholder="ex : 12121">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Selesai KRS</label>
                                        <input type="date" name="tanggalSelesaiKrs" th:field="*{tanggalSelesaiKrs}" placeholder="ex : 2019/2020 Semester Genap" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Mulai Kuliah</label>
                                        <input type="date" name="tanggalMulaiKuliah" th:field="*{tanggalMulaiKuliah}" class="form-control"  placeholder="ex : 12121">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Selesai Kuliah</label>
                                        <input type="date" name="tanggalSelesaiKuliah" th:field="*{tanggalSelesaiKuliah}" placeholder="ex : 2019/2020 Semester Genap" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Mulai UTS</label>
                                        <input type="date" class="form-control" name="tanggalMulaiUts" th:field="*{tanggalMulaiUts}" placeholder="ex : 12121">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Selesai UTS</label>
                                        <input type="date" placeholder="ex : 2019/2020 Semester Genap" name="tanggalSelesaiUts" th:field="*{tanggalSelesaiUts}" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Mulai UAS</label>
                                        <input type="date" class="form-control" name="tanggalMulaiUas" th:field="*{tanggalMulaiUas}" placeholder="ex : 12121">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Selesai UAS</label>
                                        <input type="date" placeholder="ex : 2019/2020 Semester Genap" name="tanggalSelesaiUas" th:field="*{tanggalSelesaiUas}" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Mulai Penilaian</label>
                                        <input type="date" class="form-control" name="tanggalMulaiNilai" th:field="*{tanggalMulaiNilai}"  placeholder="ex : 12121">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tanggal Selesai Penilaian</label>
                                        <input type="date" placeholder="ex : 2019/2020 Semester Genap" name="tanggalSelesaiNilai" th:field="*{tanggalSelesaiNilai}" class="form-control" />
                                    </div>
                                </div>
                            </div>
<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Jenis</label>-->
<!--                                        <select name="jenis" th:field="*{jenis}" class="form-control">-->
<!--                                            <option value=""></option>-->
<!--                                            <option value="PENDEK">PENDEK</option>-->
<!--                                            <option value="GANJIL">GANJIL</option>-->
<!--                                            <option value="GENAP">GENAP</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Tahun</label>-->
<!--                                        <input type="text" maxlength="4" max="4" name="tahun" th:field="*{tahun}" placeholder="ex : 2019" class="form-control" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <input th:if="${stringId != null}" type="hidden" name="id" th:field="*{id}">
                            <input type="hidden" name="status" th:field="*{status}">

                            <div class="form-group">
                                <button class="btn btn-primary">Simpan</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table -->


    </div>
</div>
</body>
<script th:src="@{/css/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>

</html>