<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <section layout:fragment="main" class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
                <div class="lh-100">
                    <h6 class="mb-0 text-white lh-100">Menu KBM</h6>
                </div>
            </div>

            <div class="my-3 p-3 bg-white rounded box-shadow">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="border-bottom border-gray pb-2 mb-0">Setting</h6>

                            <a class="dropdown-item" th:href="@{/akademik/list}">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Tahun Akademik</strong>
                                        Set tahun akademik.
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item" th:href="@{/matakuliah/list}">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Kurikulum</strong>
                                        Set kurikulum.
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Program Pendidikan</strong>
                                        Set program pendidikan.
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Jadwal Kuliah</strong>
                                        Set jadwal perkuliahan.
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Jadwal Ujian</strong>
                                        Set jadwal ujian.
                                    </p>
                                </div>
                            </a>

                            <br>

                        </div>

                        <div class="col-md-6">
                            <h6 class="border-bottom border-gray pb-2 mb-0">Perkuliahan</h6>

                            <a class="dropdown-item">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Kartu Rencana Studi</strong>
                                        Input data kartu rencana studi.
                                    </p>
                                </div>
                            </a>

                            <a class="dropdown-item">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Penilaian</strong>
                                        Set penilaian.
                                    </p>
                                </div>
                            </a>

                            <a class="dropdown-item">
                                <div class="media text-muted pt-3">
                                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark">@Magang</strong>
                                        Daftar peserta magang.
                                    </p>
                                </div>
                            </a>

                            <br>
                        </div>
                    </div>
                </div>
            </div>


        </section>


    </body>
</html>