<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Studies Schedule</title>
</head>
<body>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        var dosenSekarang = /*[[${dosenSekarang}]]*/ ["001", "002"];
        $(document).ready(function () {
            $('#pilihanDosen').select2();
            console.log("Role sekarang : " + dosenSekarang);

            var dosenSekarangId = [];
            for (var i = 0; i < dosenSekarang.length; i++) {
                dosenSekarangId.push(dosenSekarang[i].id);
            }

            console.log("ID Role sekarang : " + dosenSekarangId);

            $('#pilihanRole').val(dosenSekarangId);
            $('#pilihanRole').trigger("change");
        });

    </script>
</th:block>

<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Studies Schedule<small>form</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="alert alert-danger fade in" th:if="${validJadwal != null}">
                    <button type= "button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><b>Maaf</b></h4>
                    <p><b>Jadwal yang Anda pilih sudah terpakai, silahkan cari jadwal lain</b></p>
                </div>


                <form method="post" th:action="@{/jadwalkuliah/form (plot = ${plot})}" th:object="${jadwal}">

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Prodi :</label>
                                <input type="text" th:value="${jadwal.prodi.namaProdi}" readonly class="form-control">
                                <input type="hidden" name="prodi" th:field="*{prodi}">
                                <input type="hidden" name="program" th:field="*{program}">
                                <input type="hidden" name="tahunAkademikProdi" th:field="*{tahunAkademikProdi}">
                                <input type="hidden" name="tahunAkademik" th:field="*{tahunAkademik}">
                                <input type="hidden" name="jumlahSesi" th:field="*{jumlahSesi}">
                                <input type="hidden" name="bobotUts" th:field="*{bobotUts}">
                                <input type="hidden" name="bobotUas" th:field="*{bobotUas}">
                                <input type="hidden" name="bobotTugas" th:field="*{bobotTugas}">
                                <input type="hidden" name="bobotPresensi" th:field="*{bobotPresensi}">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">program :</label>
                                <input type="text" th:value="${jadwal.program.namaProgram}" readonly class="form-control">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Hari :</label>
                                <select class="form-control js-example-placeholder-single" onchange="mySesi()"
                                        style="width: 100%!important;" id="select2-hari" th:field="*{idHari}">
                                    <option value=""></option>
                                    <option th:each="data: ${hari}"
                                            th:text="${data.namaHari + '  -  ' + data.namaHariEng}"
                                            th:value="${data.id}">sdasd</option>
                                </select>
                                <!--<input th:if="${jadwal.idHari != null}" type="text" class="form-control" id="hari"-->
                                <!--th:value="${jadwal.idHari.namaHariEng}" placeholder="Cari Hari ..." data-provide="typeahead"-->
                                <!--autocomplete="off" required>-->
                                <!--<input type="text" class="form-control" id="hari" th:if="${jadwal.idHari == null}"-->
                                <!--placeholder="Cari Hari ..." data-provide="typeahead" autocomplete="off" required>-->
                                <input type="hidden" id="isiHari" name="idHari" th:field="*{idHari}">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Matakuliah :</label>
                                <input type="text" class="form-control" id="plotmatakuliah" th:value="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliah + '  -  ' + jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}" readonly
                                       placeholder="Cari Matakuliah ..." data-provide="typeahead" autocomplete="off" required>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Ruangan :</label>
                                <select class="form-control js-example-placeholder-single" onchange="mySesi()"
                                        style="width: 100%!important;" id="select2-ruangan">
                                    <option value=""></option>
                                    <option th:each="data: ${ruangan}"
                                            th:text="${data.namaRuangan + '  -  ' + data.gedung.namaGedung}"
                                            th:value="${data.id}">sdasd</option>
                                </select>
                                <!--<input type="text" class="form-control" th:if="${jadwal.ruangan != null}" id="ruangan"-->
                                <!--th:value="${jadwal.ruangan.namaRuangan}" placeholder="Cari Ruangan ..." data-provide="typeahead"-->
                                <!--autocomplete="off" required>-->
                                <!--<input type="text" class="form-control" id="ruangan" th:if="${jadwal.ruangan == null}"-->
                                <!--placeholder="Cari Ruangan ..." data-provide="typeahead" autocomplete="off" required>-->
                                <input type="hidden" id="isiRuangan" name="ruangan" th:field="*{ruangan}">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Sesi :</label>
                                <select id="locality-dropdown" class="form-control" onchange="waktu()">
                                </select>
                                <input type="hidden" id="isiSesi" name="sesi" th:field="*{sesi}">
                                <input type="hidden" id="sks" th:value="${jadwal.matakuliahKurikulum.jumlahSks}">
                            </div>
                        </div>


                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Jam Mulai :</label>
                                <input type="text" th:field="*{jamMulai}" readonly maxlength="5" max="5" name="jamMulai" id="jamMulai" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Jam Selesai :</label>
                                <input type="text" name="jamSelesai" th:field="*{jamSelesai}" maxlength="5" readonly id="jamSelesai" class="form-control">

                            </div>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Kelas :</label>
                                <input type="text" class="form-control" id="plotKelas" th:value="${jadwal.idKelas.namaKelas}"
                                       placeholder="Cari Kelas ..." data-provide="typeahead" autocomplete="off" readonly required>
                                <input type="hidden" id="isiPlotKelas" name="idKelas" th:field="*{idKelas}">
                                <input type="hidden" id="isiPlotMatakuliah" name="matakuliahKurikulum" th:field="*{matakuliahKurikulum}">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Dosen :</label>
                                <select class="form-control js-example-placeholder-single"
                                        style="width: 100%!important;" name="dosen"  th:field="*{dosen}" readonly>
                                    <option value=""></option>
                                    <option th:each="data: ${dosen}"
                                            th:text="${data.karyawan.namaKaryawan}"
                                            th:value="${data.id}">sdasd</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Dosen Tambahan :</label>
                                <select name="dosens" th:field="*{dosens}" class="form-control js-example-placeholder-single"
                                        multiple="multiple" style="width: 100%!important;">
                                    <option th:each="data: ${dosen}"
                                            th:text="${data.karyawan.namaKaryawan}"
                                            th:value="${data.id}">sdasd</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Jenis :</label>
                                <select class="form-control" th:field="*{finalStatus}"
                                        style="width: 100%!important;" name="finalStatus">
                                    <option value=""></option>
                                    <option value="Y">Kuliah</option>
                                    <option value="N">responsi</option>
                                </select>
                            </div>
                        </div>
                        <input name="status" th:field="*{status}" type="hidden"/>

                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Akses :</label>
                                <select name="akses" class="form-control" th:field="*{akses}">
                                    <option value="TERTUTUP">Tertutup</option>
                                    <option value="PRODI" th:text="${jadwal.prodi.namaProdi}">PRODI</option>
                                    <option value="UMUM">Semua Prodi</option>
                                </select>
                            </div>
                        </div>

                    </div>


                    <input type="hidden" name="id" id="id" th:field="*{id}">

                    <div class="form-group">
                        <center>
                            <input class="btn btn-primary" type="submit" value="Save">
                            <a th:href="@{/plotingdosen/list (tahunAkademik = ${jadwal.tahunAkademikProdi.id}, program = ${jadwal.program.id})}" class="btn btn-primary" role="button" th:if="${plot != null}">
                                <span aria-hidden="true"></span>Cancel
                            </a>
                            <a th:href="@{/jadwalkuliah/list (tahunAkademik = ${jadwal.tahunAkademikProdi.id}, program = ${jadwal.program.id})}" class="btn btn-primary" role="button" th:if="${plot == null}">
                                <span aria-hidden="true"></span>Cancel
                            </a>
                        </center>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>


    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    (function($){
        $('#select2-ruangan').select2();

        $('#select2-ruangan').on('select2:selecting', function(e) {
            console.log('Selecting: ' , e.params.args.data.id);
            $('#isiRuangan').val(e.params.args.data.id);
        });

        $('#select2-hari').select2();

        $('#select2-hari').on('select2:selecting', function(e) {
            console.log('Selecting: ' , e.params.args.data.id);
            $('#isiHari').val(e.params.args.data.id);
        });
    })(jQuery);

    function mySesi() {
        let dropdown = $('#locality-dropdown');

        dropdown.empty();

        dropdown.append('<option selected="true" disabled>Pilih Sesi</option>');
        dropdown.prop('selectedIndex', 0);
        console.log($('#isiRuangan').val())
        const url = '/api/sesi?idHari='+$('#isiHari').val()+'&idRuangan='+$('#isiRuangan').val()+'&sks='+$('#sks').val()+'&kelas='+$('#isiPlotKelas').val()+'&dosen='+$('#idDosen').val();

        // Populate dropdown with list of provinces
        $.getJSON(url, function (data) {

            $.each(data, function (key, entry) {
                dropdown.append($('<option></option>').attr('value', entry.id).text(entry.namaSesi));
            })
        });
    }

    function waktu() {
        var x = document.getElementById("locality-dropdown").value;
        console.log(x);
        const url = '/api/waktu?id='+x;
        $.getJSON(url, function (data) {

            $('#jamMulai').val(data.jamMulai);
            $('#jamSelesai').val(data.jamSelesai);
            $('#isiSesi').val(data.sesi);
        });

    }
</script>