<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Jadwal Kuliah<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <form method="get">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <center><label><b>Semester</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>sdasd</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <center><label><b>Program Pendidikan</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>sdasd</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <center><label><b>Prodi</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>sdasd</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <br>
            <hr>

            <div class="col-md-12">
                <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#exampleModal">Tambah Jadwal</a><br>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Prodi<small><b>Semester</b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <span><strong>Minggu</strong></span>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Ruangan</th>
                                    <th>Jam</th>
                                    <th>Matakuluiah</th>
                                    <th>Kelas</th>
                                    <th>SKS</th>
                                    <th>Dosen</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ec1</td>
                                    <td>07 : 00 - 08 : 00</td>
                                    <td>Magang</td>
                                    <td>BMI 14</td>
                                    <td>6</td>
                                    <td>Gifar Haidar</td>
                                    <td><button type="submit" class="btn btn-danger btn-xs"
                                                onclick="return confirm('Are you sure want to delete this?')">
                                        <i class="ti-eraser"></i>  Delete
                                    </button></td>
                                </tr>
                                </tbody>
                            </table>

                            <span><strong>Senin</strong></span>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Ruangan</th>
                                    <th>Jam</th>
                                    <th>Matakuluiah</th>
                                    <th>Kelas</th>
                                    <th>SKS</th>
                                    <th>Dosen</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ec1</td>
                                    <td>07 : 00 - 08 : 00</td>
                                    <td>Magang</td>
                                    <td>BMI 14</td>
                                    <td>6</td>
                                    <td>Gifar Haidar</td>
                                    <td><button type="submit" class="btn btn-danger btn-xs"
                                                onclick="return confirm('Are you sure want to delete this?')">
                                        <i class="ti-eraser"></i>  Delete
                                    </button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Jadwal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Prodi :</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">program :</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Hari :</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Ruangan :</label>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>sdasd</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Jam Mulai :</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Jam Selesai :</label>
                                    <input type="text" class="form-control">

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Matakuliah :</label>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>sdasd</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Dosen Pengampu :</label>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>sdasd</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Kelas :</label>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>sdasd</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Jenis:</label>
                                    <select class="form-control"
                                            style="width: 100%!important;" name="prodi">
                                        <option></option>
                                        <option>Kuliah</option>
                                        <option>responsi</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

</script>