<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Studies Schedule</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Studies Schedule<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <form method="get">
                <div class="form-group">
                    <div class="row col-sm-offset-1 ">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <center><label><b>Prodi/Semester</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="tahunAkademik" required>
                                        <option></option>
                                        <option th:each="data : ${tahunAkademik}"
                                                th:selected="(${data} == *{selectedTahun})"
                                                th:text="${'('+ data.prodi.namaProdi +')'  + '       -       ' +  data.tahunAkademik.namaTahunAkademik}"
                                                th:value="${data.id}">sdasd</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <center><label><b>Program Pendidikan</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="program" required>
                                        <option></option>
                                        <option th:each="data : ${program}"
                                                th:selected="(${data} == *{selectedProgram})"
                                                th:text="${data.namaProgram}"
                                                th:value="${data.id}">sdasd</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <center><label><b>Hari</b></label></center>
                                    <select class="form-control js-example-placeholder-single"
                                            style="width: 100%!important;" name="hari">
                                        <option></option>
                                        <option th:each="data : ${hari}"
                                                th:selected="(${data} == *{selectedHari})"
                                                th:text="${data.namaHariEng}"
                                                th:value="${data.id}">sdasd</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <center>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <br>
            <hr>

            <span th:if="${selectedHari != null}">
            <div class="col-md-12">
                <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#exampleModal">Tambah jadwal</a><br>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Prodi<small><b></b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <span><strong th:text="${selectedHari.namaHariEng}">Minggu</strong></span>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Ruangan</th>
                                    <th>Jam</th>
                                    <th>Matakuliah</th>
                                    <th>Kelas</th>
                                    <th>SKS</th>
                                    <th>Dosen</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="jadwal,row : ${jadwal}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                    <td><span  th:text="${jadwal.jamMulai}"></span> -
                                        <span th:text="${jadwal.jamSelesai}"></span></td>
                                    <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                    <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                    <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                    <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                    <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>
                </div>
            </div>
            </span>


            <span th:if="${selectedHari == null && selectedTahun != null}">
            <div class="col-md-12">
                <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#exampleModal">Tambah jadwal</a><br>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Prodi<small><b></b></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <span th:if="${not #lists.isEmpty(minggu)}">
                            <span><strong >Sunday</strong></span>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th>#</th>
                                    <th>Ruangan</th>
                                    <th>Jam</th>
                                    <th>Matakuliah</th>
                                    <th>Kelas</th>
                                    <th>SKS</th>
                                    <th>Dosen</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="jadwal,row : ${minggu}">
                                   <td th:text="${row.index + 1}"></td>
                                    <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                    <td><span  th:text="${jadwal.jamMulai}"></span> -
                                        <span th:text="${jadwal.jamSelesai}"></span></td>
                                    <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                    <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                    <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                    <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                    <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>
                                </tr>
                                </tbody>
                            </table>
                            </span>

                            <span th:if="${not #lists.isEmpty(senin)}">
                                <span><strong >Monday</strong></span>
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>#</th>
                                        <th>Ruangan</th>
                                        <th>Jam</th>
                                        <th>Matakuliah</th>
                                        <th>Kelas</th>
                                        <th>SKS</th>
                                        <th>Dosen</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="jadwal,row : ${senin}">
                                        <td th:text="${row.index + 1}"></td>
                                        <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                        <td><span  th:text="${jadwal.jamMulai}"></span> -
                                            <span th:text="${jadwal.jamSelesai}"></span></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                        <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                        <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                        <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>

                            <span th:if="${not #lists.isEmpty(selasa)}">
                                <span><strong >Tuesday</strong></span>
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>#</th>
                                        <th>Ruangan</th>
                                        <th>Jam</th>
                                        <th>Matakuliah</th>
                                        <th>Kelas</th>
                                        <th>SKS</th>
                                        <th>Dosen</th>
                                        <td></td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="jadwal,row : ${selasa}">
                                        <td th:text="${row.index + 1}"></td>
                                        <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                        <td><span  th:text="${jadwal.jamMulai}"></span> -
                                            <span th:text="${jadwal.jamSelesai}"></span></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                        <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                        <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                        <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>

                            <span th:if="${not #lists.isEmpty(rabu)}">
                                <span><strong >Wednesday</strong></span>
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>#</th>
                                        <th>Ruangan</th>
                                        <th>Jam</th>
                                        <th>Matakuliah</th>
                                        <th>Kelas</th>
                                        <th>SKS</th>
                                        <th>Dosen</th>
                                        <td></td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="jadwal,row : ${rabu}">
                                        <td th:text="${row.index + 1}"></td>
                                        <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                        <td><span  th:text="${jadwal.jamMulai}"></span> -
                                            <span th:text="${jadwal.jamSelesai}"></span></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                        <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                        <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                        <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>

                            <span th:if="${not #lists.isEmpty(kamis)}">
                                <span><strong >Thursday</strong></span>
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>#</th>
                                        <th>Ruangan</th>
                                        <th>Jam</th>
                                        <th>Matakuliah</th>
                                        <th>Kelas</th>
                                        <th>SKS</th>
                                        <th>Dosen</th>
                                        <td></td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="jadwal,row : ${kamis}">
                                        <td th:text="${row.index + 1}"></td>
                                        <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                        <td><span  th:text="${jadwal.jamMulai}"></span> -
                                            <span th:text="${jadwal.jamSelesai}"></span></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                        <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                        <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                        <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>

                            <span th:if="${not #lists.isEmpty(jumat)}">
                                <span><strong >Friday</strong></span>
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>#</th>
                                        <th>Ruangan</th>
                                        <th>Jam</th>
                                        <th>Matakuliah</th>
                                        <th>Kelas</th>
                                        <th>SKS</th>
                                        <th>Dosen</th>
                                        <td></td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="jadwal,row : ${jumat}">
                                        <td th:text="${row.index + 1}"></td>
                                        <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                        <td><span  th:text="${jadwal.jamMulai}"></span> -
                                            <span th:text="${jadwal.jamSelesai}"></span></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                        <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                        <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                        <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>

                            <span th:if="${not #lists.isEmpty(sabtu)}">
                            <span><strong >Saturday</strong></span>
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>#</th>
                                        <th>Ruangan</th>
                                        <th>Jam</th>
                                        <th>Matakuliah</th>
                                        <th>Kelas</th>
                                        <th>SKS</th>
                                        <th>Dosen</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="jadwal,row : ${sabtu}">
                                        <td th:text="${row.index + 1}"></td>
                                        <td th:text="${jadwal.ruangan.namaRuangan}"></td>
                                        <td><span  th:text="${jadwal.jamMulai}"></span> -
                                            <span th:text="${jadwal.jamSelesai}"></span></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                        <td th:text="${jadwal.idKelas.namaKelas}"></td>
                                        <td th:text="${jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                        <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                        <td><a th:href="@{/jadwalkuliah/form (jadwal = ${jadwal.id})}" class="btn-info btn-sm">Edit</a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </span>

                        </div>


                    </div>
                </div>
            </div>
            </span>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Jadwal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <br>
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th>#</th>
                                <th>Matakuliah</th>
                                <th>Kelas</th>
                                <th>SKS</th>
                                <th>Dosen</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="data,row : ${ploting}">
                                <td th:text="${(row.index + 1)}">1</td>
                                <td th:text="${data.matakuliahKurikulum.matakuliah.namaMatakuliah}"></td>
                                <td th:text="${data.idKelas.namaKelas}">BMI 14</td>
                                <td th:text="${data.matakuliahKurikulum.jumlahSks}">6</td>
                                <td th:text="${data.dosen.karyawan.namaKaryawan}">Gifar Haidar</td>
                                <td><a th:href="@{/jadwalkuliah/form (jadwal = ${data.id})}" class="btn btn-xs btn-primary">Buat Jadwal</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

</script>