<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Mahasiswa</title>

</head>
<body>

<section layout:fragment="main" class="content">
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel" style="overflow-x: auto; height: 330px">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <h2>Personal Data</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" th:each="data,row :${datamahasiswa}">

                    <div class="col-md-12">

                        <div class="row col-sm-offset-1 ">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="profile_img">
                                        <div id="crop-avatar" style="height: 50%;">
                                            <!-- Current avatar -->
                                            <img th:src="${#authentication.principal.picture}">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                        <span>
                                            <h3 th:text="${data.nama}">Samuel Rajendra</h3>
                                        </span>
                                        <span>
                                            <h4 th:text="${data.nim}">11404344</h4>
                                        </span>
                                        <a class="btn btn-success" th:href="@{/user/form}" target="output">
                                            <i class="fa fa-edit m-right-xs"></i>Edit Profile
                                        </a>
                                </div>
                            </div>

                        </div>

                        <hr>
                        <div class="form-group" style="text-align: center">
                            <span th:text="${data.idProdi.namaProdi +' - '+ data.idProdi.idJurusan.namaJurusan +' - '+ data.idProdi.idJurusan.idFakultas.namaFakultas}">-</span>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel" style="overflow-x: auto; height: 330px">
                <div class="x_title">
                    <h2>Miss Attendance</h2>
                    <ul class="nav navbar-right panel_toolbox">

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="getResult1">
                    <div class="widget_summary">
                        <div class="w_left w_25">
                            <span></span>&nbsp;
                            </div>
                        <div class="w_center w_55">
                            <div class="progress">
                                <div class="progress-bar bar-red" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                    <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        <div class="w_right w_20">
                            '&nbsp;<span></span>
                            </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel" style="overflow-x: auto; height: 330px">
                <div class="x_title">
                    <h2>Your Performance</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li><i class="fa fa-calendar-o"></i><a href="#">Attendance</a>
                            </li>
                            <li><i class="fa fa-bars"></i><a href="#">Attitude</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                            <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                            </li>
                            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                            <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                            </li>
                            <li><i class="fa fa-area-chart"></i><a href="#">Logout</a>
                            </li>
                        </ul>

                        <div class="sidebar-widget">
                            <h4>Performance</h4>
                            <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                                <span id="gauge-text" class="gauge-value pull-left">0</span>
                                <span class="gauge-value pull-left">%</span>
                                <span id="goal-text" class="goal-value pull-right">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel" style="overflow-x: auto; height: 330px">
                <div class="x_title">
                    <h2>Your Must be Pay</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                       <tr>
                           <th>1</th>
                            <td >Coming Soon</td>
                            <td>Coming Soon</td>
                            <td>Coming Soon</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel" style="overflow-x: auto; height: 330px">
                <div class="x_title">
                    <h2>Schedule</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="row">Time</th>
                            <td>Subject</td>
                            <td>Lecture</td>
                            <td>Room</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data,row : ${krsdetail}">
                            <th th:text="${data.jadwal.idHari.namaHari+' - '+ data.jadwal.jamMulai+' - '+ data.jadwal.jamSelesai}">#</th>
                            <td th:text="${data.jadwal.matakuliahKurikulum.matakuliah.namaMatakuliah}">Mark</td>
                            <td th:text="${data.jadwal.dosen.karyawan.namaKaryawan}">Mark</td>
                            <td th:text="${data.jadwal.ruangan.namaRuangan}">Mark</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>


</section>


<th:block layout:fragment="script">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/js/dashboard/missattendance.js}"></script>

    <script>
        window.addEventListener('load', function () {
            console.log("Page selesai load");
            getMissAttendance();
        }, false);
    </script>
</th:block>

</body>
</html>

