<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row" sec:authorize="hasAuthority('VIEW_SUPERUSER')">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Lecture</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlDosen}">120</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Student</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlMhsA}">2,356</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Male Students</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlL}">924</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Female Students</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlP}">1,202</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-female"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" sec:authorize="hasAuthority('VIEW_KPS') or hasAuthority('VIEW_DOSEN')">
                    <div class="col-xl-12 mb-5 mb-xl-0">
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase ls-1 mb-1">Dashboard</h6>
                                        <h2 class=" mb-0">Your Schedule !</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div>
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Ruangan</th>
                                            <th>Jam</th>
                                            <th>Matakuliah</th>
                                            <th>Kelas</th>
                                            <th>Hari</th>
                                            <th>SKS</th>
                                            <th>Dosen</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody class="list">
                                        <tr th:each="jadwal,row : ${jadwal}">
                                            <td th:text="${row.index + 1}"></td>
                                            <td th:text="${jadwal.jadwal.ruangan.namaRuangan}"></td>
                                            <td><span  th:text="${jadwal.jadwal.jamMulai}"></span> -
                                                <span th:text="${jadwal.jadwal.jamSelesai}"></span></td>
                                            <td th:text="${jadwal.jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                            <td th:text="${jadwal.jadwal.kelas.namaKelas}"></td>
                                            <td><b th:text="${jadwal.jadwal.hari.namaHari}"></b></td>
                                            <td th:text="${jadwal.jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                            <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                            <td><b th:text="${jadwal.statusJadwalDosen}"></b></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>