<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row" sec:authorize="hasAuthority('VIEW_SUPERUSER')">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Lecture</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlDosen}">120</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Student</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlMhsA}">2,356</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Male Students</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlL}">924</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Female Students</h5>
                                        <span class="h2 font-weight-bold mb-0" th:text="${jmlP}">1,202</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-female"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" sec:authorize="hasAuthority('VIEW_KPS') or hasAuthority('VIEW_DOSEN')">
                    <div class="col-xl-12 mb-5 mb-xl-0">
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase ls-1 mb-1">Dashboard</h6>
                                        <h2 class=" mb-0">Your Schedule !</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div>
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Ruangan</th>
                                            <th>Jam</th>
                                            <th>Matakuliah</th>
                                            <th>Kelas</th>
                                            <th>Hari</th>
                                            <th>SKS</th>
                                            <th>Dosen</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody class="list">
                                        <tr th:each="jadwal,row : ${jadwal}">
                                            <td th:text="${row.index + 1}"></td>
                                            <td th:text="${jadwal.jadwal.ruangan.namaRuangan}"></td>
                                            <td><span  th:text="${jadwal.jadwal.jamMulai}"></span> -
                                                <span th:text="${jadwal.jadwal.jamSelesai}"></span></td>
                                            <td th:text="${jadwal.jadwal.matakuliahKurikulum.matakuliah.namaMatakuliahEnglish}"></td>
                                            <td th:text="${jadwal.jadwal.kelas.namaKelas}"></td>
                                            <td><b th:text="${jadwal.jadwal.hari.namaHari}"></b></td>
                                            <td th:text="${jadwal.jadwal.matakuliahKurikulum.jumlahSks}"></td>
                                            <td th:text="${jadwal.dosen.karyawan.namaKaryawan}"></td>
                                            <td><b th:text="${jadwal.statusJadwalDosen}"></b></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;" sec:authorize="hasAuthority('VIEW_DOSEN')">
                    <div class="col-md-12 col-xs-12">
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase ls-1 mb-1">List</h6>
                                        <h2 class=" mb-0">Mahasiswa Cuti</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Nim</th>
                                        <th>Nama</th>
                                        <th>Tanggal Mulai Cuti</th>
                                        <th>Tanggal Berakhir Cuti</th>
                                        <th>Detail</th>
                                        <th>Status</th>
                                        <th>Approved</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data, row : ${listCutiDosenWali}">
                                        <td th:text="${(row.index + 1)}"></td>
                                        <td th:text="${data[1]}"></td>
                                        <td th:text="${data[2]}"></td>
                                        <td th:text="${data[4]}"></td>
                                        <td th:text="${data[5]}"></td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" th:data-target="${'#exampleModal' + data[0]}">
                                                <i class="fa fa-eye"></i> Lihat Alasan Cuti
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" th:id="${'exampleModal' + data[0]}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Alasan Cuti</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p th:text="${data[3]}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="btn btn-danger btn-sm" th:if="${data[6] == 'WAITING'}">Belum Disetujui</span>
                                            <span class="btn btn-primary btn-sm" th:if="${data[6] == 'APPROVED_DOSEN_WALI'}">Waiting for approval by KPS</span>
                                            <span class="btn btn-success btn-sm" th:if="${data[6] == 'APPROVED'}">APPROVED</span>
                                        </td>
                                        <td th:if="${data[6] == 'WAITING'}">
                                            <form th:action="@{admin/updateCuti(cuti = ${data[0]})}" method="post">
                                                <button class="btn btn-primary btn-sm">Approved</button>
                                            </form>
                                        </td>
                                        <td th:if="${data[6] == 'APPROVED_DOSEN_WALI' or data[6] == 'APPROVED'}">
                                            -
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;" sec:authorize="hasAuthority('VIEW_KPS')">
                    <div class="col-md-12 col-xs-12">
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase ls-1 mb-1">List</h6>
                                        <h2 class=" mb-0">Mahasiswa Cuti</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Nim</th>
                                        <th>Nama</th>
                                        <th>Tanggal Mulai Cuti</th>
                                        <th>Tanggal Berakhir Cuti</th>
                                        <th>Detail</th>
                                        <th>Status</th>
                                        <th>Approved</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data, row : ${listCutiKps}">
                                        <td th:text="${(row.index + 1)}"></td>
                                        <td th:text="${data[1]}"></td>
                                        <td th:text="${data[2]}"></td>
                                        <td th:text="${data[3]}"></td>
                                        <td th:text="${data[5]}"></td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" th:data-target="${'#exampleModal' + data[0]}">
                                                <i class="fa fa-eye"></i> Lihat Alasan Cuti
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" th:id="${'exampleModal' + data[0]}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Alasan Cuti</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p th:text="${data[4]}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="btn btn-danger btn-sm" th:if="${data[6] == 'APPROVED_DOSEN_WALI'}">WAITING</span>
                                            <span class="btn btn-success btn-sm" th:if="${data[6] == 'APPROVED'}">APPROVED</span>
                                        </td>
                                        <td th:if="${data[6] == 'APPROVED_DOSEN_WALI'}">
                                            <form th:action="@{admin/approved(cuti = ${data[0]})}" method="post">
                                                <button class="btn btn-primary btn-sm">Approved</button>
                                            </form>
                                        </td>
                                        <td th:if="${data[6] == 'APPROVED'}">
                                            -
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>