<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/stei-tazkia.png">

    <title>SIMAK STEI TAZKIA</title>

    <!-- Bootstrap core CSS -->


    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/select2.min.css}" rel="stylesheet" />
    <link th:href="@{/dist/css/select2.css}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">

    <!-- Custom styles for this template -->
    <link href="/offcanvas.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">STEI TAZKIA</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- <li class="nav-item">
                 <a class="nav-link"th:href="@{/menu/master}">Master</a>
             </li> -->

             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Master</a>
                 <div class="dropdown-menu" aria-labelledby="dropdown01">
                     <a class="dropdown-item" th:href="@{/lembaga/list}">Lembaga</a>
                     <a class="dropdown-item" th:href="@{/gedung/list}">Gedung Kampus</a>
                     <a class="dropdown-item" th:href="@{/ruang/list}">Ruang Kelas</a>
                     <a class="dropdown-item" th:href="@{/program/list}">Program</a>
                     <a class="dropdown-item" th:href="@{/jenjang/list}">Jenjang</a>
                     <a class="dropdown-item" href="#">-----------------</a>
                     <a class="dropdown-item" th:href="@{/fakultas/list}">Fakultas</a>
                     <a class="dropdown-item" th:href="@{/jurusan/list}">Jurusan</a>
                     <a class="dropdown-item" th:href="@{/programstudi/list}">Program Studi</a>
                     <a class="dropdown-item" th:href="@{/konsentrasi/list}">Konsentrasi</a>
                     <a class="dropdown-item" href="#">-----------------</a>
                     <a class="dropdown-item" th:href="@{/dosen/list}">Dosen</a>
                     <a class="dropdown-item" th:href="@{/mahasiswa/list}">Mahasiswa</a>


                 </div>

             </li>

             <li class="nav-item">
                 <a class="nav-link" href="#">Matrikulasi</a>
             </li>

            <!--  <li class="nav-item">
                 <a class="nav-link"th:href="@{/menu/kbm}">KBM</a>
             </li> -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KBM</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/akademik/list}">Tahun Akademik</a>
                    <a class="dropdown-item" th:href="@{/matakuliah/list}">Kurikulum</a>
                    <a class="dropdown-item" href="#">Penjadwalan Kuliah</a>
                    <a class="dropdown-item" href="#">Penjadwalan Ujian</a>
                    <a class="dropdown-item" href="#">-----------------</a>
                    <a class="dropdown-item" href="#">Kartu Rencana Studi</a>
                    <a class="dropdown-item" href="#">Presensi</a>
                    <a class="dropdown-item" href="#">Penilaian</a>
                    <a class="dropdown-item" href="#">-----------------</a>
                    <a class="dropdown-item" th:href="@{/dosen/list}">Magang</a>
                </div>
            </li>

             <li class="nav-item">
                 <a class="nav-link" href="#">Tugas Akhir</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="#">kelulusan</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="#">Alumni</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link"th:href="@{/menu/keuangan}">Keuangan</a>
             </li>

         </ul>
         <form class="form-inline my-2 my-lg-0">
          </form>
      </div>
  </nav>


 <main layout:fragment="main" class="container">
     <!-- Content here -->
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script th:src="@{/assets/js/vendor/popper.min.js}"></script>
<script th:src="@{/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/vendor/holder.min.js}"></script>
<script th:src="@{/assets/js/jquery-1.12.4.js}"></script>
<script th:src="@{/offcanvas.js}"></script>
<script th:src="@{/dist/js/select2.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>




