<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Daftar Tahun Akademik</h6>
        </div>
    </div>

    <form method="get" th:action="@{/akademik/list}">
    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0"><center><b>Tambah Tahun Akademik</b></center></h6>
        <br>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Program Studi</label>
                            <select onchange="" class="form-control js-example-placeholder-single" id="provinsi"
                                    name="provinsi">
                                <option></option>
                                <option>Akuntasi Islam</option>
                                <option>Ekonomi Islam</option>
                                <option>Bisnis Manajemen Islam</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Kode Tahun</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Program</label>
                            <select onchange="" class="form-control js-example-placeholder-single">
                                <option></option>
                                <option>S1 Reguler</option>
                                <option>S2</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Nama Tahun</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

            </div>

        <br>
        <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
        <br>

        <h6 class="border-bottom border-gray pb-2 mb-0"><center><b>Detail Kalendar</b></center></h6>
        <br>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mulai Kuliah</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Mulai KRS</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Mulai Bayar</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Mulai UTS</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Mulai UAS</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Penilaian</label>
                        <input type="date" class="form-control">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tanggal Selesai</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Selesai</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Selesai</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Selesai</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Selesai</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Pengajuan Cuti</label>
                        <input type="date" class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <label>Catatan</label>
                    <textarea class="form-control"></textarea>
                </div>

                <div class="col-md-12">
                    <table class="table table-responsive">
                        <tr>
                            <td>Tidak Aktif? (NA)</td>
                            <td><input type="checkbox"></td>
                            <td><small class="alert-danger">*) Beri centang jika tidak aktif</small></td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
        <div class="align-content-md-center">
            <button class="btn btn-success">Simpan</button>
            <a th:href="@{/akademik/list}" class="btn btn-danger">Batal</a>
        </div>

    </div>
    </form>

</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>