<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Daftar Tahun Akademik</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0"><center>Setup Akademik Per-Program Studi</center></h6>
        <br>
        <form method="get" th:action="@{/akademik/list}">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Program Studi</label>
                            <select onchange="" class="form-control js-example-placeholder-single" id="provinsi"
                                    name="provinsi">
                                <option></option>
                                <option>Akuntasi Islam</option>
                                <option>Ekonomi Islam</option>
                                <option>Bisnis Manajemen Islam</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Program</label>
                            <select onchange="" class="form-control js-example-placeholder-single">
                                <option></option>
                                <option>S1 Reguler</option>
                                <option>S2</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

        </form>
        <br>
        <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
        <br>


        <table width="100%">
            <tr>
                <td>
                    <a th:href="@{/akademik/form}" class="btn btn-primary" role="button" aria-pressed="true">Tambah</a>
                </td>
            </tr>
        </table>
        <br>
        <div class="box-body table-responsive no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Kode</th>
                    <th>Nama Tahun</th>
                    <th>Perkuliahan</th>
                    <th>Pembayaran</th>
                    <th>UTS</th>
                    <th>UAS</th>
                    <th>Penilaian</th>
                    <th>Catatan</th>
                    <th>Aktif</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th rowspan="2">1</th>
                    <td rowspan="2">43464</td>
                    <td rowspan="2">2017/2018 Genap</td>
                    <td>19-02-2017 - 19-02-2018</td>
                    <td>19-02-2017 - 19-02-2018</td>
                    <td>19-02-2017</td>
                    <td>19-02-2017</td>
                    <td></td>
                    <td></td>
                    <td>v</td>
                    <td align="center">
                        <a href="#" class="btn btn-success btn-sm"  title="edit">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</section>


</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>