<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h2 font-weight-bold mb-0">Semester Pendek </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-sticky-note"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">List request matakuliah semester pendek</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th>No</th>
                                    <th>Matakuliah</th>
                                    <th>Jumlah Permintaan</th>
                                    <th>Jumlah Pembayaran</th>
                                    <th>Prodi</th>
                                    <th>Dosen</th>
                                    <th>Tahun Akademik</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data,row:${list}">
                                    <form method="post" th:action="@{/studiesActivity/sp/approve}">
                                        <td th:text="${row.index + 1}">1</td>
                                        <td>
                                            <div style="cursor: pointer;" data-toggle="modal" th:data-target="${'#modal-notification' + data[0]}">
                                                <div th:text="${data[2]}"></div>
                                            </div>

                                            <div class="modal fade" th:id="${'modal-notification' + data[0]}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <h4>Daftar Pengajuan Matakuliah <div th:text="${data[2]}"></div></h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">

                                                            <div class="table-responsive">
                                                                <table class="table align-items-center table-flush">
                                                                    <thead class="thead-light">
                                                                    <tr>
                                                                        <th>Nim</th>
                                                                        <th>Nama</th>
                                                                        <th>Prodi</th>
                                                                        <th>Nomor Telepon</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="dataDetail : ${matkulDetail1}">
                                                                        <td th:if="${dataDetail.matakuliahKurikulum.id == data[0]}" th:text="${dataDetail.mahasiswa.nim}">18101040</td>
                                                                        <td th:if="${dataDetail.matakuliahKurikulum.id == data[0]}" th:text="${dataDetail.mahasiswa.nama}">Rafhatullah</td>
                                                                        <td th:if="${dataDetail.matakuliahKurikulum.id == data[0]}" th:text="${dataDetail.mahasiswa.idProdi.namaProdi}">HES</td>
                                                                        <td th:if="${dataDetail.matakuliahKurikulum.id == data[0]}" th:text="${dataDetail.mahasiswa.teleponSeluler}"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                        </td>

                                        <td th:text="${data[3]}">1</td>
                                        <td th:text="${data[4]}">2</td>
                                        <div th:if="${data[5] == 'WAITING'}">
                                            <td>
                                                <select th:name="${'prodi-'+data[0]}" style="width: 200px!important;" class="form-control js-example-placeholder-single">
                                                    <option value=""></option>
                                                    <option th:each="prodi : ${listProdi}"
                                                            th:text="${prodi.namaProdi}"
                                                            th:value="${prodi.id}"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <select th:name="${'dosen-'+data[0]}" style="width: 200px!important;" class="form-control js-example-placeholder-single">
                                                    <option value=""></option>
                                                    <option th:each="item : ${listDosen}"
                                                            th:text="${item.karyawan.namaKaryawan}"
                                                            th:value="${item.id}"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <select th:name="${'tahunAkademik-'+data[0]}" style="width: 200px!important;" class="form-control js-example-placeholder-single">
                                                    <option value=""></option>
                                                    <option th:each="tahun : ${listTahun}"
                                                            th:text="${tahun.namaTahunAkademik}"
                                                            th:value="${tahun.id}"></option>
                                                </select>
                                            </td>
                                        </div>
                                        <div th:if="${data[5] == 'APPROVED'}">
                                            <div th:each="j : ${jadwal}">
                                                <td th:if="${j.matakuliahKurikulum.id == data[0]}" th:text="${j.prodi.namaProdi}"></td>
                                                <td th:if="${j.matakuliahKurikulum.id == data[0]}" th:text="${j.dosen.karyawan.namaKaryawan}"></td>
                                                <td th:if="${j.matakuliahKurikulum.id == data[0]}" th:text="${j.tahunAkademik.namaTahunAkademik}"></td>
                                            </div>
                                        </div>
                                        <div th:if="${data[5] == 'REJECTED'}">
                                            <td ></td>
                                            <td ></td>
                                            <td ></td>
                                        </div>
                                        <div th:if="${data[5] == 'WAITING'}">
                                            <td>
                                                <input type="hidden" th:name="${'matkur-'+data[0]}" class="form-control" th:value="${data[0]}">
                                                <button type="submit" class="btn btn-success btn-sm">Approve</button>
                                            </td>
                                        </div>
                                    </form>
                                    <form method="post" th:action="@{/studiesActivity/sp/reject}">
                                        <div th:if="${data[4] == 'WAITING'}">
                                            <td>
                                                <input type="hidden" th:name="${'matkur-'+data[0]}" class="form-control" th:value="${data[0]}">
                                                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                                            </td>
                                        </div>
                                    </form>
                                    <td colspan="2">
                                        <div th:if="${data[5] == 'APPROVED'}">
                                            <a href="!#" class="btn btn-info btn-sm">Approved</a>
                                        </div>
                                        <div th:if="${data[5] == 'REJECTED'}">
                                            <a href="#!" class="btn btn-info btn-sm">Rejected</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Dark table -->


    </div>
</div>
</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select One",
        allowClear: true
    });

</script>
