<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Form</h5>
                                        <span class="h2 font-weight-bold mb-0">Bill </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Detail Tagihan Mahasiswa</h3>
                            </div>
                            <div class="col text-right">
                                <a th:href="@{/studentBill/billAdmin/list(tahunAkademik = ${tagihan.tahunAkademik.id}, nim = ${tagihan.mahasiswa.nim})}" class="btn btn-sm btn-default"><i class="fas fa-arrow-alt-circle-left"></i> Kembali</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-shadow">
                            <div class="row">
                                <div class="col-md-5">
                                      <address>
                                          <table class="table">
                                              <tr style="font-weight: bold">
                                                  <td>Nomor Tagihan</td>
                                                  <td> : </td>
                                                  <td th:text="${tagihan.nomor}">1222200085944</td>
                                              </tr>
                                              <tr>
                                                  <td>Nama</td>
                                                  <td> : </td>
                                                  <td th:text="${tagihan.mahasiswa.nama}"></td>
                                              </tr>
                                              <tr>
                                                  <td>Jenis Tagihan</td>
                                                  <td> : </td>
                                                  <td th:text="${tagihan.nilaiJenisTagihan.jenisTagihan.nama}"></td>
                                              </tr>
                                              <tr>
                                                  <td>Program Studi</td>
                                                  <td> : </td>
                                                  <td th:text="${tagihan.mahasiswa.idProdi.namaProdi}"></td>
                                              </tr>
                                              <tr>
                                                  <td>Nilai Tagihan</td>
                                                  <td> : </td>
                                                  <td th:text="${tagihan.nilaiTagihan}"></td>
                                              </tr>
                                              <tr th:if="${pembayaran} != null">
                                                  <td>Waktu Pembayaran</td>
                                                  <td> : </td>
                                                  <td th:text="${pembayaran.waktuBayar}"></td>
                                              </tr>
                                              <tr>
                                                  <td>Tanggal Jatuh Tempo</td>
                                                  <td> : </td>
                                                  <td th:text="${tagihan.tanggalJatuhTempo}"></td>
                                              </tr>
                                              <tr>
                                                  <td>Status Pembayaran</td>
                                                  <td> : </td>
                                                  <td th:if="${tagihan.lunas} == false">Belum lunas</td>
                                                  <td th:if="${tagihan.lunas} == true">Lunas</td>
                                              </tr>
                                          </table>
                                      </address>
                                </div>
                            </div>

                            <div class="row" th:if="${tagihan} != null">
                                <div class="col-sm-7">
                                    <h4>Nomor Virtual Account</h4>
                                    <small th:if="${pembayaran} == null">*Pilih Salah Satu</small>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr th:if="${pembayaran} == null" th:each="va, row:${virtualAccount}">
                                                <td th:text="${(row.index + 1) + (virtualAccount.number * virtualAccount.size)}">#</td>
                                                <td th:text="${'Virtual Account '+va.bank.nama}">Virtual Account CIMB Syariah</td>
                                                <th th:text="${va.nomor}">20191000010020167</th>
                                            </tr>
                                            <tr th:if="${pembayaran} != null and ${pembayaran.bank} == ${va.bank}" th:each="va, row : ${virtualAccount}">
                                                <td th:text="${(row.index + 1) + (virtualAccount.number * virtualAccount.size)}">#</td>
                                                <td th:text="${'Virtual Account '+va.bank.nama}" th:if="${pembayaran.bank} == ${va.bank}">Virtual Account CIMB Syariah</td>
                                                <th th:text="${va.nomor}" th:if="${pembayaran.bank} == ${va.bank}">20191000010020167</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>