<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h2 font-weight-bold mb-0">Report Payment </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Data List</h3>
                    </div>
                    <div class="card-body">
                        <form method="get">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Academic Year</label>
                                        <select name="tahunAkademik" required class="form-control">
                                            <option value="">2015/2016 Semester Pendek</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prodi</label>
                                        <select name="prodi" required class="form-control">
                                            <option value="">Ekonomi Syariah</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align: center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary"> Show list</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="card-shadow">
                            <form method="post">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h3 class="mb-0">Data List</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Student</th>
                                            <th>Type of Bill</th>
                                            <th>Pay Time</th>
                                            <th>Value</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
<!--                                <div class="card-footer py-4">-->
<!--                                    <nav aria-label="...">-->
<!--                                        <ul class="pagination justify-content-end mb-0" sd:pagination="full">-->
<!--                                            <li class="disabled"><a href="#" aria-label="Previous"><span-->
<!--                                                    aria-hidden="true">&laquo;</span></a>-->
<!--                                            </li>-->
<!--                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </nav>-->
<!--                                </div>-->
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>