<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Majors<small>Form</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <form method="post" th:action="@{/jurusan/form(id = ${jurusan.idJurusan})}"  th:object="${jurusan}">

                    <div class="form-group">
                        <label>Select Faculty</label>
                        <select class="form-control js-example-placeholder-single" id="fakultas"
                                name="idFakultas">
                            <option></option>
                            <option th:field="*{idFakultas}" th:each="list : ${daftarFakultas}" th:text="${list.namaFakultas}" th:value="${list.idFakultas}">Fakultas Tehknik</option>
                            <option>Fakultas Pendidikan</option>
                            <option>Fakultas Ekonomi</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Department code</label>
                        <input type="text" th:field="*{kodeJurusan}"  name="kodeJurusan" class="form-control" placeholder="Department code">
                    </div>

                    <div class="form-group">
                        <label>Name of department</label>
                        <input type="text" th:field="*{namaJurusan}" name="namaJurusan" class="form-control" placeholder="Name of department">
                    </div>

                    <div class="form-group">
                        <label>Official</label>
                        <input type="text" th:field="*{pejabat}" name="pejabat" class="form-control" placeholder="Official">
                    </div>

                    <div class="form-group">
                        <label>Status</label><br>
                        <label>
                            <input name="na" type="checkbox" value="1" class="js-switch" />
                        </label>
                        <input type="hidden" name="idJurusan" th:field="*{idJurusan}">
                        <input type="hidden" name="userInsert" th:field="*{userInsert}">
                        <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                    </div>

                    <div class="form-group">

                        <input class="btn btn-primary" type="submit" value="Save">
                        <a th:href="@{/jurusan/list}" class="btn btn-primary" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

</body>
</html>