<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Majors</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Majors<small>Form</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <form method="post" th:action="@{/jurusan/form}" th:object="${jurusan}" enctype="multipart/form-data">


                    <div class="form-group">

                        <div class="form-group">
                            <label>Majors Code</label>
                            <input type="text" name="kodeJurusan" th:field="*{kodeJurusan}" class="form-control" placeholder="Majors Code">
                        </div>

                        <label>Select Faculty</label>
                        <select style="width: 100%!important;" class="form-control js-example-placeholder-single" id="listFakultas"
                                name="idFakultas" th:field="*{idFakultas}">
                            <option value=""></option>
                            <option th:each="dtf :${listFakultas}"
                                    th:text="${dtf.namaFakultas}"
                                    th:value="${dtf.id}">
                            </option>
                        </select>

                    </div>


                    <div class="form-group">
                        <label>Name of Department</label>
                        <input type="text" name="namaJurusan" th:field="*{namaJurusan}" class="form-control" placeholder="Majors Name">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="keterangan" th:field="*{keterangan}" class="form-control" placeholder="Description">
                    </div>

                    <div class="form-group">
                        <label>Status</label><br>
                        <label>
                            <input name="status" th:field="*{status}" type="checkbox" value="AKTIF" class="js-switch" />
                        </label>
                        <input type="hidden" name="idJurusan">
                        <input type="hidden" name="userInsert">
                        <input type="hidden" name="tglInsert">
                    </div>
                    <input type="hidden" name="id" th:field="*{id}">

                    <div class="form-group">

                        <input class="btn btn-primary" type="submit" value="Save">
                        <a th:href="@{/jurusan/list}" class="btn btn-primary" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>