<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Majors</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Majors<small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table width="100%">
                    <tr>
                        <td>
                            <a th:href="@{/jurusan/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                        </td>
                        <td class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search title_right ">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" id="keyresult" autocomplete="off"
                                           placeholder="Search for..." class="form-control" name="search">
                                    <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk-action">
                        <thead>
                        <tr class="heading">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">#</th>
                            <th class="column-title">Faculty</th>
                            <th class="column-title">Majors</th>
                            <th class="column-title">Description</th>
                            <th class="column-title">Action</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer" th:each="dataJ,row :${listJurusan}">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td th:text="${(row.index + 1) + (listJurusan.number * listJurusan.size)}"></td>
                            <td th:text="${dataJ.kodeJurusan}"></td>

                            <td>

                                <a type="button" class="btn btn-success btn-xs" href="form" th:if="${dataJ.status.AKTIF} == ${dataJ.status}" th:text="${dataJ.namaJurusan}"  th:href="@{/jurusan/form(id = ${dataJ.id})}">
                                </a>
                                <a type="button" class="btn btn-danger btn-xs" href="form" th:if="${dataJ.status.NONAKTIF} == ${dataJ.status}" th:text="${dataJ.namaJurusan}"  th:href="@{/jurusan/form(id = ${dataJ.id})}">
                                </a>

                            </td>

                            <td th:text="${dataJ.keterangan}" ></td>

                            <td>
                                <form method="post" th:action="@{/delete/jurusan(jurusan = ${dataJ.id})}">
                                <button type="submit" class="btn btn-danger btn-xs"
                                        onclick="return confirm('Are you sure want tho delete this?')">
                                    <i class="ti-eraser"></i> Delete
                                </button>
                            </form>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div align="right">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>