<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Form</h5>
                                        <span class="h2 font-weight-bold mb-0">Curriculum </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-sticky-note"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Form</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-default"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/academic/curriculum/form}" th:object="${kurikulum}" method="post">
                            <div class="form-group">
                                <label>Year</label>
                                <input type="text" maxlength="4" max="4" class="form-control" placeholder="ex : 2019" name="tahunKurikulum" th:field="*{tahunKurikulum}">
                            </div>
                            <div class="form-group">
                                <label>Curriculum</label>
                                <input type="text" name="namaKurikulum" th:field="*{namaKurikulum}" class="form-control" placeholder="ex : kurikulum 2019">
                            </div>
                            <div class="form-group">
                                <label>Prodi</label>
                                <select name="prodi" th:field="*{prodi}" class="form-control">
                                    <option value=""></option>
                                    <option th:each="data : ${prodi}"
                                            th:text="${data.namaProdi}"
                                            th:value="${data.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Legal Number</label>
                                <input type="number" name="nomorSkRektor" th:field="*{nomorSkRektor}" class="form-control">
                            </div>
                            <input type="hidden" name="id" th:field="*{id}">
                            <input type="hidden" name="status" th:field="*{status}">
                            <div class="form-group">
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
        <!-- Dark table -->


    </div>
</div>
</body>
</html>