<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Faculty</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Faculty<small>form</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <form method="post" th:action="@{/fakultas/form(id=${fakultas.idFakultas})}" th:object="${fakultas}" enctype="multipart/form-data">

                    <div class="form-group">
                        <label>Faculty Code</label>
                        <input type="text" th:field="*{kodeFakultas}" maxlength="1" name="kodeFakultas" class="form-control" placeholder="Code">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Faculty name</label>
                        <input type="text" th:field="*{namaFakultas}" name="namaFakultas" id="exampleFormControlInput1" class="form-control" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label>Official</label>
                        <input type="text" th:field="*{pejabat}" name="pejabat" class="form-control" placeholder="Official">
                    </div>

                    <div class="form-group">
                        <label>Status</label><br>
                        <label>
                            <input name="na" type="checkbox" value="1" class="js-switch" />
                        </label>
                        <input type="hidden" name="idFakultas" th:field="*{idFakultas}">
                        <input type="hidden" name="userInsert" th:field="*{userInsert}">
                        <input type="hidden" name="tglInsert" th:field="*{tglInsert}">
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Save">
                        <a th:href="@{/fakultas/list}" class="btn btn-primary" role="button">
                            <span aria-hidden="true"></span>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>