<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Faculty</title>
</head>
<body>

<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Faculty <small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <table width="100%">
                    <tr>
                        <td>
                            <a th:href="@{/fakultas/form}" class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                        </td>
                        <td class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search title_right ">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" id="keyresult"
                                           placeholder="Search for..." class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <!--<td>Show <span sd:page-size-selector="javascript"></span> entries</td>-->
                    <table class="table table-striped jambo_table bulk-action">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">#</th>
                            <th class="column-title">NA</th>
                            <th class="column-title">Institution</th>
                            <th class="column-title">Faculty Code</th>
                            <th class="column-title">Faculty Name</th>
                            <th colspan="2" class="column-title">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer">
                            <td>1</td>
                            <td>
                                <span style="color: #4fa9e8; font-size: 16px;">
                                    <i class="fa fa-lightbulb-o" style="font-size:33px;"></i>
                                </span>
                            </td>
                            <td>STEI TAZKIA</td>
                            <td>1</td>
                            <td>Fakultas Ekonomi</td>
                            <td class="last">
                                <a href="#" class="btn btn-success btn-sm" title="Edit">Edit</a>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                     ' to recover this imaginary file!')">
                                    <i class="ti-eraser"></i> Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div align="right">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</section>

</body>
</html>