<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Daftar Fakultas</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
    <table width="100%">
        <tr>
            <td>
                <a th:href="@{/fakultas/form}" class="btn btn-primary" role="button" aria-pressed="true">Tambah</a>
            </td>
            <td align="right">
                <form method="get" th:action="@{/fakultas/list}">
                    <div class="input-group input-group-sm" style="width: 100%;">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Pencarian Berdasarkan Nama">
                        <input type="hidden" name="mode" id="mode"/>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <br>
        <div class="box-body table-responsive no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">NA</th>
                    <th scope="col">Kode</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Pejabat</th>
                    <th scope="col" width="30px"></th>
                    <th scope="col" width="40px"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data,row : ${list}">
                    <td th:text="${(row.index + 1)}">1</td>
                    <td>
                        <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.na}==1">
                            <i class="fa fa-lightbulb-o" style="font-size:33px;"></i>
                        </span>
                        <span style="color: #4fa9e8; font-size: 16px;" th:if="${data.na}==0">
                            <i class="fa fa-lightbulb-o" style="font-size:33px;color:black;"></i>
                        </span>
                    </td>
                    <td th:text="${data.kodeFakultas}" >E001</td>
                    <td th:text="${data.namaFakultas}" >Fakultas Ekonomi</td>
                    <td th:text="${data.pejabat}" ></td>
                    <td align="center">
                        <a href="#" class="btn btn-success btn-sm" th:href="@{/fakultas/form(id=${data.idFakultas})}" title="edit">Edit</a></td>
                    <td align="center">
                        <form method="post" th:action="@{/delete/fakultas(fakultas=${data.idFakultas})}">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                <i class="ti-eraser"></i> hapus
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<br>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    </div>

</section>

</body>
</html>