<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">list</h5>
                                        <span class="h2 font-weight-bold mb-0">Dosen </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Data List</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">
                                <a th:href="@{/humanResources/lecturer/form}"><button class="btn btn-default"><i class="fas fa-plus-circle"></i> Add</button></a>
                            </div>
                            <div class="col-md-6">
                                <form method="get">
                                    <div class="input-group mb-3">
                                        <input type="text" name="search" class="form-control" placeholder="Search" th:value="${search}">
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="submit"><i class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">NIDN</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" width="30px"></th>
                                    <th scope="col" width="40px"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data, row : ${listDosen}">
                                    <th th:text="${(row.index + 1) + (listDosen.number * listDosen.size)}">1</th>
                                    <td th:text="${data.karyawan.nidn}">D1223123</td>
                                    <td th:text="${data.karyawan.namaKaryawan}">Dosen 1</td>
                                    <td align="center">
                                        <a href="#" class="btn btn-success btn-sm" th:href="@{/humanResources/lecturer/form(id=${data.karyawan.id})}" title="edit">Edit</a></td>
                                    <td align="center">
                                        <form method="post" th:action="@{/humanResources/lecturer/delete(dosen=${data.id})}">
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                    onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">
                                                <i class="ti-eraser"></i> Delete
                                            </button>
                                        </form>                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>