<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Student Data</h2>
                <div class="clearfix"></div>
            </div>
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                             Personal data<br />
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Boarding address<br />
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                             Academic<br />
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Parents<br />
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-5">
                            <span class="step_no">5</span>
                            <span class="step_descr">
                                              The origin of the school<br />
                                          </span>
                        </a>
                    </li>
                </ul>
                <div id="step-1">
                    <h2 class="StepTitle">Personal Data Content</h2>
                    <form class="form-horizontal form-label-left">
                        <div class="col-md-12"><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Generation</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Generation">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Study Programs</label>
                                        <select name="study"  class="form-control js-select2">
                                            <option>Pasca Sarjana</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Concentration</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Akuntansi Syariah</option>
                                            <option>Bisnis Manajemen Syariah</option>
                                            <option>Ekonomi Syariah</option>
                                            <option>Muamalat</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Name
                                            &nbsp&nbsp
                                            <small class="text-danger">* Fill in the name according to the diploma</small>
                                        </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Student Identification Number (NIM)</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Student Identification Number (NIM)">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Program</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Sarjana</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Matriculation Status</label><br>
                                        <div id="gender" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="status" value="male"> &nbsp; Yes &nbsp;
                                            </label>
                                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="status" value="female">  No
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Gender</label><br>
                                        <div id="gender" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                                            </label>
                                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="female"> Female
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Religion</label>
                                        <select name="agama" style="width: 100%!important;"  class="form-control js-select2">
                                            <option>Islam</option>
                                            <option>Kristen</option>
                                            <option>Katholik</option>
                                            <option>Hindu</option>
                                            <option>Budha</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Place of birth</label><br>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Place of birth">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Date of birth</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kelurahan</label>
                                        <input type="text" hidden="" name="idKelurahan">
                                        <input type="text" hidden="" name="idKecamatan">
                                        <input type="text" hidden="" name="idKotaKabupaten">
                                        <input type="text" hidden="" name="idProvinsi">
                                        <input type="text" class="form-control"
                                               id="kelurahan" placeholder="Cari Kabupaten/Kota ..."
                                               data-provide="typeahead"
                                               autocomplete="off" required autofocus>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sub-District</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Lawanggintung</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>District</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Bogor</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Province</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Jawa Barat</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Indonesia</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Country of origin</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Country of origin">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">NIK</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="NIK">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">NISN</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="NISN">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Street Name</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Street Name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">RT</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="RT">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">RW</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="RW">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Hamlet Name</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Hamlet Name">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Postal code</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Postal code">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Live Type</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Kost</option>
                                            <option>Pulang Pergi</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Transportation</label>
                                        <select name="konsen"  class="form-control js-select2">
                                            <option>Motor</option>
                                            <option>Mobil</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Telephone</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Telephone">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Cellphone</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Cellphone">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Personal Email</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Personal Email">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Email Tazkia</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Email Tazkia">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label><br>
                                        <label>
                                            <input name="status" type="checkbox" value="NONAKTIF" class="js-switch" />
                                        </label>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </form>
                </div>


                <div id="step-2">
                    <!--<h2 class="StepTitle">Content Address Dormitory</h2>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1"> Dormitory address</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Dormitory address">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->


                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="provinsi">Province</label>-->
                    <!--<select class="form-control js-example-placeholder-single" style="width: 500px;" id="provinsi" name="provinsi">-->
                    <!--<option></option>-->
                    <!--<option>Jawa Barat</option>-->
                    <!--<option>Jawa Tengah</option>-->
                    <!--<option>Jawa Timur</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Country</label>-->
                    <!--<select style="width: 500px" class="form-control js-example-placeholder-single">-->
                    <!--<option></option>-->
                    <!--<option>Indonesia</option>-->
                    <!--<option>Singapura</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>

                <div id="step-3">
                    <!--<h2 class="StepTitle">Academic Content</h2>-->
                    <!--<div class="col-md-12">-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<br>-->

                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Faculty</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Ekonomi</option>-->
                    <!--<option>Pendidikan</option>-->
                    <!--</select>-->
                    <!--</div>-->


                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">level</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Diploma</option>-->
                    <!--<option>Sarjana</option>-->
                    <!--<option>Pascasarjana</option>-->
                    <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Study program</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Akuntansi Syariah</option>-->
                    <!--<option>Ekonomi Syariah</option>-->
                    <!--<option>Bisnis Syariah</option>-->
                    <!--<option>Muamalat</option>-->
                    <!--</select>-->
                    <!--</div>-->


                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Concentration</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>MKI</option>-->
                    <!--<option>Audit</option>-->
                    <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Previous education</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Previous education">-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Previous Education Level</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>SMA</option>-->
                    <!--<option>SMK</option>-->
                    <!--<option>MA</option>-->
                    <!--<option>lainnya</option>-->
                    <!--</select>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                    <!--<br>-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">NIRM</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="NIRM">-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">NISN</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="NISN">-->
                    <!--</div>-->


                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Date of entry</label>-->
                    <!--<input type="text" class="form-control" id="datepicker2">-->
                    <!--</div>-->


                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Activation Status</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Aktif</option>-->
                    <!--<option>Pasif</option>-->
                    <!--<option>Keluar</option>-->
                    <!--<option>Drop Out</option>-->
                    <!--<option>Cuti</option>-->
                    <!--<option>Lulus</option>-->
                    <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Active Date</label>-->
                    <!--<input type="text" class="form-control" id="datepicker3">-->
                    <!--</div>-->

                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div id="step-4">
                    <!--<h2 class="StepTitle">Parent Content</h2>-->
                    <!--<br>-->
                    <!--<div class="col-md-12"><br>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Father's name</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Father's occupation">-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Religion</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Islam</option>-->
                    <!--<option>Kristen</option>-->
                    <!--<option>Katholik</option>-->
                    <!--<option>Hindu</option>-->
                    <!--<option>Budha</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label>Education</label>-->
                    <!--<select class="form-control">-->
                    <!--<option>Tidak Tamat SD</option>-->
                    <!--<option>Tamat SD/MI</option>-->
                    <!--<option>Tamat SMP/MTS</option>-->
                    <!--<option>Tamat SMA/SMK/MA</option>-->
                    <!--<option>Diploma 1</option>-->
                    <!--<option>Diploma 2</option>-->
                    <!--<option>Diploma 3</option>-->
                    <!--<option>Diploma 4</option>-->
                    <!--<option>Sarjana Muda</option>-->
                    <!--<option>Sarjana</option>-->
                    <!--<option>Pascasarjana</option>-->
                    <!--<option>Lainnya</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Job</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Pegawai Negeri</option>-->
                    <!--<option>TNI</option>-->
                    <!--<option>Polisi</option>-->
                    <!--<option>Pegawai Swasta</option>-->
                    <!--<option>Pengusaha</option>-->
                    <!--<option>Lainnya</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">life</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Hidup</option>-->
                    <!--<option>Sudah Meninggal</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Mother's name</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Mother's name">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Religion</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Islam</option>-->
                    <!--<option>Kristen</option>-->
                    <!--<option>Katholik</option>-->
                    <!--<option>Hindu</option>-->
                    <!--<option>Budha</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Education</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Tidak Tamat SD</option>-->
                    <!--<option>Tamat SD/MI</option>-->
                    <!--<option>Tamat SMP/MTS</option>-->
                    <!--<option>Tamat SMA/SMK/MA</option>-->
                    <!--<option>Diploma 1</option>-->
                    <!--<option>Diploma 2</option>-->
                    <!--<option>Diploma 3</option>-->
                    <!--<option>Diploma 4</option>-->
                    <!--<option>Sarjana Muda</option>-->
                    <!--<option>Sarjana</option>-->
                    <!--<option>Pascasarjana</option>-->
                    <!--<option>Lainnya</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Job</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Pegawai Negeri</option>-->
                    <!--<option>TNI</option>-->
                    <!--<option>Polisi</option>-->
                    <!--<option>Pegawai Swasta</option>-->
                    <!--<option>Pengusaha</option>-->
                    <!--<option>Lainnya</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlSelect1">Hidup</label>-->
                    <!--<select class="form-control" id="exampleFormControlSelect1">-->
                    <!--<option>Hidup</option>-->
                    <!--<option>Sudah Meninggal</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label>Parent's income</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Parent's income">-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Parent's address</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Parent's address">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label>Province</label>-->
                    <!--<select class="form-control js-example-placeholder-single" style="width: 500px;"-->
                    <!--name="provinsi">-->
                    <!--<option></option>-->
                    <!--<option>Jawa Barat</option>-->
                    <!--<option>Jawa Tengah</option>-->
                    <!--<option>Jawa Timur</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Country</label>-->
                    <!--<select style="width: 500px" class="form-control js-example-placeholder-single">-->
                    <!--<option></option>-->
                    <!--<option>Indonesia</option>-->
                    <!--<option>Singapura</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Parent's telephone</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Parent's telephone">-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Parents Mobile</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Parents Mobile">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Email</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Email">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div id="step-5">
                    <!--<h2 class="StepTitle">Origin School Content</h2>-->
                    <!--<br>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Dormitory address</label>-->
                    <!--<input type="text" class="form-control" id="exampleFormControlInput1"-->
                    <!--placeholder="Alamat">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->


                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="provinsi">Province</label>-->
                    <!--<select class="form-control js-example-placeholder-single" style="width: 500px;" id="provinsi" name="provinsi">-->
                    <!--<option></option>-->
                    <!--<option>Jawa Barat</option>-->
                    <!--<option>Jawa Tengah</option>-->
                    <!--<option>Jawa Timur</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label for="exampleFormControlInput1">Country</label>-->
                    <!--<select style="width: 500px" class="form-control js-example-placeholder-single">-->
                    <!--<option></option>-->
                    <!--<option>Indonesia</option>-->
                    <!--<option>Singapura</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>

            </div>

            <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
            <br>
            <center>
                <input class="btn btn-primary" type="submit" value="Simpan">
                <a th:href="@{/mahasiswa/list}" class="btn btn-primary" role="button">
                    <span aria-hidden="true"></span>Batal
                </a>
            </center>


        </div>


    </div>


</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    $(".js-example-tags").select2({
        tags: true,
        placeholder: "Pilih Kode Pos",
        allowClear: true
    });

</script>



