<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="/stei-tazkia.png" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Data Mahasiswa</h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#pribadi" role="tab" data-toggle="tab">Data Pribadi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#kost" role="tab" data-toggle="tab">Alamat Kost</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#akademik" role="tab" data-toggle="tab">Akademik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ortu" role="tab" data-toggle="tab">Orang tua</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#sekolah" role="tab" data-toggle="tab">Sekolah Asal</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pribadi">

                <div class="col-md-12"><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nama
                                    &nbsp&nbsp
                                    <small class="text-danger">* Isi nama sesuai dengan ijazah</small>
                                </label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Nama">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nomor Induk Mahasiswa (NIM)</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Nomor Induk Mahasiswa (NIM)">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Tempat Lahir</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Tempat lahir">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Tanggal Lahir</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleRadios1">Jenis Kelamin</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Laki-laki
                                    </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="exampleRadios1" value="option1">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Perempuan
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Asal Negara</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Asal Negara">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Agama</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Islam</option>
                                    <option>Kristen</option>
                                    <option>Katholik</option>
                                    <option>Hindu</option>
                                    <option>Budha</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Status Sipil</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Belum Menikah</option>
                                    <option>Manikah</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Alamat</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Alamat">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="provinsi">Provinsi</label>
                                <select class="form-control js-example-placeholder-single" id="provinsi"
                                        name="provinsi">
                                    <option></option>
                                    <option>Jawa Barat</option>
                                    <option>Jawa Tengah</option>
                                    <option>Jawa Timur</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Kabupaten/Kota</label>
                                <select class="form-control js-example-placeholder-single">
                                    <option></option>
                                    <option>Kota Bogor</option>
                                    <option>Kota Depok</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="kecamatan">Kecamatan</label>
                                <select class="form-control js-example-placeholder-single" id="kecamatan"
                                        name="kecamatan">
                                    <option></option>
                                    <option>Cisarua</option>
                                    <option>Megamendung</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Kelurahan</label>
                                <select class="form-control js-example-placeholder-single" name="kelurahan">
                                    <option></option>
                                    <option>Tugu Utara</option>
                                    <option>Tugu Selatan</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="provinsi">Kode Pos</label>
                                <select class="form-control js-example-tags" id="kodepos" name="Kode Pos">
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Negara</label>
                                <select class="form-control js-example-placeholder-single">
                                    <option></option>
                                    <option>Indonesia</option>
                                    <option>Singapura</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tempat Tinggal</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Asrama</option>
                                    <option>Kost/Sewa</option>
                                    <option>Sendiri/Keluarga</option>
                                    <option>Lain-lain</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Pernah Kuliah</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Tidak
                                    </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="exampleRadios1" value="option1">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Ya
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="kost">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Alamat Kost</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Alamat">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="provinsi">Provinsi</label>
                            <select class="form-control js-example-placeholder-single" style="width: 500px;" id="provinsi" name="provinsi">
                                <option></option>
                                <option>Jawa Barat</option>
                                <option>Jawa Tengah</option>
                                <option>Jawa Timur</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Kabupaten/Kota</label>
                            <select class="form-control js-example-placeholder-single" name="kokab" style="width: 500px;">
                                <option></option>
                                <option>Bogor</option>
                                <option>Depok</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Kecamatan</label><br>
                            <select class="form-control js-example-placeholder-single" style="width: 500px;" name="kecamatan">
                                <option></option>
                                <option>Cisarua</option>
                                <option>Megamendung</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Kelurahan</label><br>
                            <select class="form-control js-example-placeholder-single" style="width: 500px;" name="kelurahab"
                                    id="kabupaten">
                                <option></option>
                                <option>Tugu Utara</option>
                                <option>Tugu Selatan</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="provinsi">Kode Pos</label>
                            <select class="form-control js-example-tags" id="kodepos" style="width: 500px;" name="Kode Pos">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Negara</label>
                            <select style="width: 500px" class="form-control js-example-placeholder-single">
                                <option></option>
                                <option>Indonesia</option>
                                <option>Singapura</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>


            <div role="tabpanel" class="tab-pane fade" id="akademik">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <br>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Fakultas</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Ekonomi</option>
                                    <option>Pendidikan</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Jenjang</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Diploma</option>
                                    <option>Sarjana</option>
                                    <option>Pascasarjana</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Program Studi</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Akuntansi Syariah</option>
                                    <option>Ekonomi Syariah</option>
                                    <option>Bisnis Syariah</option>
                                    <option>Muamalat</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Konsentrasi</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>MKI</option>
                                    <option>Audit</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">Pendidikan sebelumnya</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Jenjang Pendidikan Sebelumnya">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Jenjang Pendidikan Sebelumnya</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>SMA</option>
                                    <option>SMK</option>
                                    <option>MA</option>
                                    <option>lainnya</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">NIRM</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="NIRM">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">NISN</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="NISN">
                            </div>


                            <div class="form-group">
                                <label for="exampleFormControlInput1">Tanggal Masuk</label>
                                <input type="text" class="form-control" id="datepicker2">
                            </div>


                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Status Keaktifan</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Aktif</option>
                                    <option>Pasif</option>
                                    <option>Keluar</option>
                                    <option>Drop Out</option>
                                    <option>Cuti</option>
                                    <option>Lulus</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">Tanggal Aktif</label>
                                <input type="text" class="form-control" id="datepicker3">
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane fade" id="ortu">
                <br>
                <div class="col-md-12"><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nama Ayah</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Pekerjaan Ayah">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Agama</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Islam</option>
                                    <option>Kristen</option>
                                    <option>Katholik</option>
                                    <option>Hindu</option>
                                    <option>Budha</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pendidikan</label>
                                <select class="form-control">
                                    <option>Tidak Tamat SD</option>
                                    <option>Tamat SD/MI</option>
                                    <option>Tamat SMP/MTS</option>
                                    <option>Tamat SMA/SMK/MA</option>
                                    <option>Diploma 1</option>
                                    <option>Diploma 2</option>
                                    <option>Diploma 3</option>
                                    <option>Diploma 4</option>
                                    <option>Sarjana Muda</option>
                                    <option>Sarjana</option>
                                    <option>Pascasarjana</option>
                                    <option>Lainnya</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Pekerjaan</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Pegawai Negeri</option>
                                    <option>TNI</option>
                                    <option>Polisi</option>
                                    <option>Pegawai Swasta</option>
                                    <option>Pengusaha</option>
                                    <option>Lainnya</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Hidup</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Hidup</option>
                                    <option>Sudah Meninggal</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nama Ibu</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Nama Ibu">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Agama</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Islam</option>
                                    <option>Kristen</option>
                                    <option>Katholik</option>
                                    <option>Hindu</option>
                                    <option>Budha</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Pendidikan</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Tidak Tamat SD</option>
                                    <option>Tamat SD/MI</option>
                                    <option>Tamat SMP/MTS</option>
                                    <option>Tamat SMA/SMK/MA</option>
                                    <option>Diploma 1</option>
                                    <option>Diploma 2</option>
                                    <option>Diploma 3</option>
                                    <option>Diploma 4</option>
                                    <option>Sarjana Muda</option>
                                    <option>Sarjana</option>
                                    <option>Pascasarjana</option>
                                    <option>Lainnya</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Pekerjaan</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Pegawai Negeri</option>
                                    <option>TNI</option>
                                    <option>Polisi</option>
                                    <option>Pegawai Swasta</option>
                                    <option>Pengusaha</option>
                                    <option>Lainnya</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Hidup</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Hidup</option>
                                    <option>Sudah Meninggal</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Penghasilan Orang Tua per bulan</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Penghasilan rata-rata per bulan">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Alamat Orang Tua</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Alamat">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Provinsi</label>
                                <select class="form-control js-example-placeholder-single" style="width: 500px;"
                                        name="provinsi">
                                    <option></option>
                                    <option>Jawa Barat</option>
                                    <option>Jawa Tengah</option>
                                    <option>Jawa Timur</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kabupaten/Kota</label><br>
                                <select class="form-control js-example-placeholder-single" style="width: 500px;"
                                        name="kokab">
                                    <option></option>
                                    <option>Bogor</option>
                                    <option>Depok</option>
                                    <option>Jakarta</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kecamatan</label><br>
                                <select class="form-control js-example-placeholder-single" style="width: 500px;"
                                        name="kecamatan">
                                    <option></option>
                                    <option>Cisarua</option>
                                    <option>Megamendung</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kelurahan</label><br>
                                <select class="form-control js-example-placeholder-single" style="width: 500px;"
                                        name="kelurahab" id="kabupaten">
                                    <option></option>
                                    <option>Tugu Utara</option>
                                    <option>Tugu Selatan</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kode Pos</label>
                                <select class="form-control js-example-tags" style="width: 500px;" name="Kode Pos">
                                    <option></option>
                                    <option>54124</option>
                                    <option>5452</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Negara</label>
                                <select style="width: 500px" class="form-control js-example-placeholder-single">
                                    <option></option>
                                    <option>Indonesia</option>
                                    <option>Singapura</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Telepon Orang Tua</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Telepon Orang Tua">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Handphone Orang Tua</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Handphone Orang Tua">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="Email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="sekolah">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Alamat Kost</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Alamat">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="provinsi">Provinsi</label>
                            <select class="form-control js-example-placeholder-single" style="width: 500px;" id="provinsi" name="provinsi">
                                <option></option>
                                <option>Jawa Barat</option>
                                <option>Jawa Tengah</option>
                                <option>Jawa Timur</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Kabupaten/Kota</label>
                            <select class="form-control js-example-placeholder-single" name="kokab" style="width: 500px;">
                                <option></option>
                                <option>Bogor</option>
                                <option>Depok</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Kecamatan</label><br>
                            <select class="form-control js-example-placeholder-single" style="width: 500px;" name="kecamatan">
                                <option></option>
                                <option>Cisarua</option>
                                <option>Megamendung</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Kelurahan</label><br>
                            <select class="form-control js-example-placeholder-single" style="width: 500px;" name="kelurahab"
                                    id="kabupaten">
                                <option></option>
                                <option>Tugu Utara</option>
                                <option>Tugu Selatan</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="provinsi">Kode Pos</label>
                            <select class="form-control js-example-tags" id="kodepos" style="width: 500px;" name="Kode Pos">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Negara</label>
                            <select style="width: 500px" class="form-control js-example-placeholder-single">
                                <option></option>
                                <option>Indonesia</option>
                                <option>Singapura</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
        <br>
        <input class="btn btn-primary" type="submit" value="Simpan">
        <a th:href="@{/mahasiswa/list}" class="btn btn-primary" role="button">
            <span aria-hidden="true"></span>Batal
        </a>
    </div>


    </div>


</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    $(".js-example-tags").select2({
        tags: true,
        placeholder: "Pilih Kode Pos",
        allowClear: true
    });

</script>



