<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h2 font-weight-bold mb-0">Mahasiswa </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-user-astronaut"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">

            <div class="col-md-12 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Data</h3>
                    </div>
                    <div class="card-body">
                        <form method="get">
                            <div class="row">

                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <input type="text" name="search" class="form-control" placeholder="Search" th:value="${search}">
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="submit"><i class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>


                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">NIM</th>
                                <th scope="col">Name</th>
                                <th scope="col">Program Study</th>
                                <th scope="col">Status</th>
                                <th scope="col" width="30px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data,row : ${list}">
                                <th th:text="${(row.index + 1) + (list.number * list.size)}">1</th>
                                <td th:text="${data.nim}">1519001</td>
                                <td sec:authorize="hasAuthority('VIEW_SUPERUSER') or hasAuthority('VIEW_AKADEMIK1') or hasAuthority('VIEW_AKADEMIK2')">
                                    <a class="btn btn-success btn-outline-success btn-sm"
                                       th:if="${data.status.AKTIF} == ${data.status}"
                                       th:text="${data.nama}"  th:href="@{/mahasiswa/form(mahasiswa = ${data.id})}">
                                    </a>

                                    <a class="btn btn-danger btn-outline-danger btn-sm"
                                       th:if="${data.status.NONAKTIF} == ${data.status}"
                                       th:text="${data.nama}"  th:href="@{/mahasiswa/form(mahasiswa = ${data.id})}">
                                    </a>
                                </td>
                                <td sec:authorize="hasAuthority('VIEW_DOSEN_AKADEMIK') or hasAuthority('VIEW_STAFF')">
                                    <a class="btn btn-success btn-outline-success btn-sm"
                                       th:if="${data.status.AKTIF} == ${data.status}"
                                       th:text="${data.nama}" >
                                    </a>

                                    <a class="btn btn-danger btn-outline-danger btn-sm"
                                       th:if="${data.status.NONAKTIF} == ${data.status}"
                                       th:text="${data.nama}">
                                    </a>
                                </td>
                                <td th:text="${data.idProdi.namaProdi}">Akuntansi Syariah</td>
                                <td th:if="${data.statusAktif == 'K'}"><span class="badge badge-danger badge-md">NONAKTIF</span></td>
                                <td th:if="${data.statusAktif == 'L'}"><span class="badge badge-info badge-md">LULUS</span></td>
                                <td th:if="${data.statusAktif == 'CUTI'}"><span class="badge badge-warning badge-md">CUTI</span></td>
                                <td th:if="${data.statusAktif == 'AKTIF'}"><span class="badge badge-success badge-md">AKTIF</span></td>
                                <td align="center">
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" th:data-target="${'#exampleModal' + data.id}" sec:authorize="hasAuthority('VIEW_SUPERUSER') or hasAuthority('VIEW_AKADEMIK1') or hasAuthority('VIEW_AKADEMIK2')">
                                        Select to change student status
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade bd-example-modal-lg" th:id="${'exampleModal' + data.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Select to change student status</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12 text-left">
                                                            <div class="form-group">
                                                                <label>Nim</label>
                                                                <h4 th:text="${data.nim}"></h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-xs-12 text-left">
                                                            <div class="form-group">
                                                                <label>Nama</label>
                                                                <h4 th:text="${data.nama}"></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <form method="post" th:action="@{/mahasiswa/aktif(mahasiswa = ${data.id})}">
                                                                <button type="submit" class="btn btn-primary btn-success">AKTIF</button>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <form method="post" th:action="@{/mahasiswa/lulus(mahasiswa = ${data.id})}">
                                                                <button type="submit" class="btn btn-primary btn-info">LULUS</button>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-3" th:if="${data.statusAktif == 'AKTIF'}">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#cuti' + data.id}">
                                                                Cuti
                                                            </button>

                                                            <!-- Modal -->
                                                        </div>
                                                        <div class="col-md-3">
                                                            <form method="post" th:action="@{/mahasiswa/keluar(mahasiswa = ${data.id})}">
                                                                <button type="submit" class="btn btn-primary btn-danger">NONAKTIF</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade bd-example-modal-lg" th:id="${'cuti' + data.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Ajukan Cuti</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form th:action="@{/proses/cuti(mahasiswa = ${data.id})}" method="post">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12 col-xs-12 text-left">
                                                                <div class="form-group">
                                                                    <label>Nim</label>
                                                                    <h4 th:text="${data.nim}"></h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-xs-12 text-left">
                                                                <div class="form-group">
                                                                    <label>Nama</label>
                                                                    <h4 th:text="${data.nama}"></h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-xs-12 text-left">
                                                                <div class="form-group">
                                                                    <label>Tanggal Mulai</label>
                                                                    <input type="date" name="tanggalMulaiCuti" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-xs-12 text-left">
                                                                <div class="form-group">
                                                                    <label>Tanggal Berakhir Cuti</label>
                                                                    <input type="date" name="tanggalBerakhirCuti" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-xs-12 text-left">
                                                                <div class="form-group">
                                                                    <label>Alasan</label>
                                                                    <input type="text" class="form-control" name="keterangan">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0" sd:pagination="full">
                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table -->

    </div>
</div>
</body>
</html>