<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="main">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">List</h5>
                                        <span class="h2 font-weight-bold mb-0">Beasiswa </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Data <span th:text="${beasiswa.namaBeasiswa}"></span></h3>
                            </div>
                            <div class="col text-right">
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa fa-plus-circle"></i> Tambah Tagihan
                                </button>
                                <a th:href="@{/setting/beasiswa/list}" class="btn btn-sm btn-default"><i class="fas fa-arrow-left"></i> Kembali</a>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Pilih Jenis Tagihan</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form th:action="@{/setting/beasiswa/tagihan}" method="post">
                                                <input type="hidden" name="idBeasiswa" th:value="${id}">
                                                <div class="table-responsive">
                                                    <table class="table align-items-center table-flush">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th>Jenis Tagihan</th>
                                                            <th>Pilih</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="data, row:${listJenisTagihan}">
                                                            <td th:text="${data.nama}"></td>
                                                            <td>
                                                                <input name="selected" th:value="${data.id}" type="checkbox">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <button class="btn btn-primary">Save</button>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th>No</th>
                                <th>Jenis Tagihan</th>
                                <th>Potongan</th>
                                <th>Status</th>
                                <th>Setting Potongan</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data, row:${listTagihanBeasiswa}">
                                <td th:text="${(row.index + 1)}"></td>
                                <td th:text="${data.jenisTagihan.nama}"></td>
                                <td>
                                    <div th:if="${data.potongan} != null">
                                        <div th:if="${data.jenisPotongan} == 'PERSEN'" th:text="${data.potongan+' %'}"></div>
                                        <div th:if="${data.jenisPotongan} == 'JUMLAH'" th:text="${'Rp. ' + #numbers.formatDecimal(data.potongan, 0, 'POINT', 2, 'COMMA')}"></div>
                                    </div>
                                </td>
                                <td><span class="btn btn-success btn-sm" th:text="${data.status}"></span></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" th:data-target="${'#potongan-persen' + data.id}">
                                        <i class="fas fa-percent"></i>&nbsp; Persen
                                    </button>

                                    <div class="modal fade" th:id="${'potongan-persen' + data.id}" tabindex="-1" role="dialog" aria-labelledby="potongan-persen" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-" role="document">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title">Setting potongan beasiswa</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">

                                                    <div class="card shadow">
                                                        <div class="card-body">
                                                            <form method="post" th:action="@{/setting/beasiswa/potongan/persen(tagihan = ${data.id})}">
                                                                <input type="hidden" name="id" th:field="*{id}">
                                                                <div class="input-group mb-3">
                                                                    <input type="number" name="potongan" max="100" class="form-control" aria-labelledby="addon-1">&nbsp;
                                                                    <span class="input-group-text" id="addon-1" >%</span>
                                                                </div>
                                                                <div class="text-center">
                                                                    <button type="submit" class="btn btn-success my-4">Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" th:data-target="${'#potongan-jumlah' + data.id}">
                                        <i class="fas fa-money-bill-wave"></i>&nbsp; Jumlah
                                    </button>

                                    <div class="modal fade" th:id="${'potongan-jumlah' + data.id}" tabindex="-1" role="dialog" aria-labelledby="potongan-jumlah" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-" role="document">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title">Setting potongan beasiswa</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">

                                                    <div class="card-body">
                                                        <form method="post" th:action="@{/setting/beasiswa/potongan/jumlah(tagihan = ${data.id})}">
                                                            <input type="hidden" name="id" th:field="*{id}">
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text" id="addon-2" >Rp. </span>&nbsp;
                                                                <input type="number" name="jumlah" class="form-control" aria-labelledby="addon-2">
                                                            </div>
                                                            <div class="text-center">
                                                                <button type="submit" class="btn btn-success my-4">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>

                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" th:data-target="${'#modal-notification' + data.id}">
                                        <i class="fas fa-trash"></i>
                                    </button>

                                    <div class="modal fade" th:id="${'modal-notification' + data.id}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                            <div class="modal-content bg-gradient-danger">

                                                <div class="modal-header">
                                                    <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">

                                                    <div class="py-3 text-center">
                                                        <i class="far fa-trash-alt fa-3x"></i>
                                                        <h4 class="heading mt-4">Are you sure ?</h4>
                                                        <p>Once deleted, you will not be able to recover this imaginary file!</p>
                                                    </div>

                                                </div>

                                                <div class="modal-footer">
                                                    <form method="post" th:action="@{/setting/beasiswa/deletetagihan(tagihanBeasiswa = ${data.id})}">
                                                        <button type="submit" class="btn btn-white">Delete</button>
                                                    </form>
                                                    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>